<h1>Module: <strong>Organisational Theory and Practice</strong></h1>
<hr />
<h2>Module Leader: <strong>Anand Walser/Dr. Rajendra Kumar/David Mwaura</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/uos_babsfy_otp/L1_Introduction_to_Management_and_Organsisations.pptx"
                  class="list-group-item list-group-item-action"
          >L1_Introduction_to_Management_and_Organsisations.pptx
          </a>
          <a
            href="../administrator/templates/uos_babsfy_otp/L2_CORPORATE_SOCIAL_RESPONSIBILITY.pptx"
            class="list-group-item list-group-item-action"
            >L2_CORPORATE_SOCIAL_RESPONSIBILITY.pptx
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_otp/L3_LEADERSHIP.pptx"
                  class="list-group-item list-group-item-action"
          >L3_LEADERSHIP.pptx
          </a>
          <a
                href="../administrator/templates/uos_babsfy_otp/L4_MOTIVATION.ppt"
                class="list-group-item list-group-item-action"
          >L4_MOTIVATION.ppt
          </a>
          <a
                href="../administrator/templates/uos_babsfy_otp/L5-Organizational Culture.pptx"
                class="list-group-item list-group-item-action"
          >L5_ORGANISATION_CULTURE.ppt
          </a>
          <a
                href="../administrator/templates/uos_babsfy_otp/L6_ORGANISATION_STRUCTURE.ppt"
                class="list-group-item list-group-item-action"
          >L6_ORGANISATION_STRUCTURE.ppt
          </a>
          <a
                href="../administrator/templates/uos_babsfy_otp/L7_MANAGING_GROUPS.pptx"
                class="list-group-item list-group-item-action"
          >L7_MANAGING_GROUPS.pptx
          </a>
          <a
                href="../administrator/templates/uos_babsfy_otp/L8_MANAGING_TEAMS.ppt"
                class="list-group-item list-group-item-action"
          >L8_MANAGING_TEAMS.ppt
          </a>
          </div>
      </div>
    </div>
  </div>
</div>
