<h1>
  Module: <strong>Accounting for Business</strong>
</h1>
<hr />
<h2>Module Leader: <strong>S A Palan</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="../administrator/templates/cccu_babsf_afb/Lecture 1.docx"
            class="list-group-item list-group-item-action"
            >Lecture01->NOTES
          </a>
          <div class="list-group">
          <a
                      href="../administrator/templates/cccu_babsf_afb/Lecture 2 .docx"
                      class="list-group-item list-group-item-action"
           >Lecture02->NOTES
          </a>
          </div>
          <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 3 .docx"
                        class="list-group-item list-group-item-action"
                >Lecture03->NOTES
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 4 .docx"
                        class="list-group-item list-group-item-action"
                >Lecture04->NOTES
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 5 .docx"
                        class="list-group-item list-group-item-action"
                >Lecture05->NOTES
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 6.docx"
                        class="list-group-item list-group-item-action"
                >Lecture06->NOTES
                </a>
            </div>

            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 7.docx"
                        class="list-group-item list-group-item-action"
                >Lecture07->NOTES
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 7 notes on Investment Appraisal .pptx"
                        class="list-group-item list-group-item-action"
                >Lecture07->Lecture  notes on Investment Appraisal .pptx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 7 Discount  & Annuity Factor Table.docx"
                        class="list-group-item list-group-item-action"
                >Lecture07->Discount  & Annuity Factor Table.docx
                </a>
            </div>

            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 8 CVP Analysis Questions  copy.docx"
                        class="list-group-item list-group-item-action"
                >Lecture08->CVP Analysis Questions .docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 8 notes on Cost - Volume - Profit Analysis (MATHEMATICAL ANALYSIS).pptx"
                        class="list-group-item list-group-item-action"
                >Lecture08->Cost - Volume - Profit Analysis (MATHEMATICAL ANALYSIS) .pptx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/Lecture 9 - NOTES ON FINANCIAL PERFORMANCE copy 2.pptx"
                        class="list-group-item list-group-item-action"
                >Lecture09->NOTES ON FINANCIAL PERFORMANCE.pptx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/AFB EXAM REVISION Qs.docx"
                        class="list-group-item list-group-item-action"
                >AFB EXAM REVISION Qs.docx
                </a>
            </div>
            <div class="list-group">
            <a
                    href="../administrator/templates/cccu_babsf_afb/AFB MOCK EXAM  2.docx"
                    class="list-group-item list-group-item-action"
            >AFB MOCK EXAM.docx
            </a>
            </div>
            <div class="list-group">
            <a
                    href="../administrator/templates/cccu_babsf_afb/CCU AFB MOCK RESIT EXAM.docx"
                    class="list-group-item list-group-item-action"
            >CCU AFB MOCK RESIT EXAM.docx
            </a>

            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/cccu_babsf_afb/CCU AFB MOCK RESIT EXAM & SUGGESTED ANSWERS.docx"
                        class="list-group-item list-group-item-action"
                >CCU AFB MOCK RESIT EXAM & SUGGESTED ANSWERS.docx
                </a>

            </div>
        </div>
    </div>
  </div>
</div>
</div>
