<h1>Module: <strong>Physical Activity, Health and Wellbeing</strong></h1>
<hr />
<h2>Module Leader: <strong>Sandra Okwara</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week01/1 - Context and Importance of Physical Activity and Health.pptx"
                  class="list-group-item list-group-item-action"
          >1 - Context and Importance of Physical Activity and Health.pptx</a>

          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week01/Everybody active, every day.  An evidence-based approach to physical activity. PHE 2014.pdf"
                  class="list-group-item list-group-item-action"
          >Everybody active, every day.  An evidence-based approach to physical activity. PHE 2014.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week01/History of PA Paffenbarger et al, 2001.pdf"
                  class="list-group-item list-group-item-action"
          >History of PA Paffenbarger et al, 2001.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week01/The Physical Activity Transition .pdf"
                  class="list-group-item list-group-item-action"
          >The Physical Activity Transition .pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week01/UK Chief Medical Officers' Physical Activity Guidelines 2019.pdf"
                  class="list-group-item list-group-item-action"
          >UK Chief Medical Officers' Physical Activity Guidelines 2019.pdf</a>
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week02/Physical Activities week 2 - PA and HWB.pptx"
                  class="list-group-item list-group-item-action"
          >Physical Activities week 2 - PA and HWB.pptx</a>

          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week02/Everybody active, every day.  An evidence-based approach to physical activity. PHE 2014.pdf"
                  class="list-group-item list-group-item-action"
          >Everybody active, every day.  An evidence-based approach to physical activity. PHE 2014.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week02/Impact of Physical Inactivity on Non Communicable Disease Worldwide.pdf"
                  class="list-group-item list-group-item-action"
          >Impact of Physical Inactivity on Non Communicable Disease Worldwide.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week02/Lancet (2012) Pandemic of physical inactivity.pdf"
                  class="list-group-item list-group-item-action"
          >Lancet (2012) Pandemic of physical inactivity.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week02/PA for the prevention and treatment of major chronic disease overview of systematic reviews 2013.pdf"
                  class="list-group-item list-group-item-action"
          >PA for the prevention and treatment of major chronic disease overview of systematic reviews 2013.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week02/Physical Activity and Cancer A Concise Evidence Review 2017.pdf"
                  class="list-group-item list-group-item-action"
          >Physical Activity and Cancer A Concise Evidence Review 2017.pdf</a>
        <div class="list-group-item bg-info text-white">
          Week 3
        </div>
        <a
                href="../administrator/templates/cccu_bscy3_pahw/week03/Blair (2009) BJSM Editorial.pdf"
                class="list-group-item list-group-item-action"
        >Blair (2009) BJSM Editorial.pdf</a>

        <a
                href="../administrator/templates/cccu_bscy3_pahw/week03/Example poster template 1.pptx"
                class="list-group-item list-group-item-action"
        >Example poster template 1.pptx</a>
        <a
                href="../administrator/templates/cccu_bscy3_pahw/week03/Impact of Physical Inactivity on Non Communicable Disease Worldwide.pdf"
                class="list-group-item list-group-item-action"
        >Impact of Physical Inactivity on Non Communicable Disease Worldwide.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_pahw/week03/Poster Presentation Guidelines  2021-2022  LSC.docx"
                class="list-group-item list-group-item-action"
        >Poster Presentation Guidelines  2021-2022  LSC.docx</a>
        <div class="list-group-item bg-info text-white">
            Week 4
        </div>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week04/Week 4 - Measurement, Evaluation and FITT Principles of PA.pdf"
                  class="list-group-item list-group-item-action"
          >Week 4 - Measurement, Evaluation and FITT Principles of PA.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week04/De Brito et al 2014 Sit to Rise Test.pdf"
                  class="list-group-item list-group-item-action"
          >De Brito et al 2014 Sit to Rise Test.pdf</a>

          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week04/Hodkinson et al 2021 Pedometer-Based PA Interventions.pdf"
                  class="list-group-item list-group-item-action"
          >Hodkinson et al 2021 Pedometer-Based PA Interventions.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week04/Physical activity and health what is the best dose 2014.pdf"
                  class="list-group-item list-group-item-action"
          >Physical activity and health what is the best dose 2014.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week04/Physical inactivity, the biggest public health problem of the 21st century.pdf"
                  class="list-group-item list-group-item-action"
          >Physical inactivity, the biggest public health problem of the 21st century.pdf</a>

          <div class="list-group-item bg-info text-white">
            Week 5
          </div>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week05/Week 5 PIA and Obesity with PA and PH Policy.pptx"
                  class="list-group-item list-group-item-action"
          >Week 5 PIA and Obesity with PA and PH Policy.pptx</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week05/Change4Life evidence review (Chalkley et al 2015).pdf"
                  class="list-group-item list-group-item-action"
          >Change4Life evidence review (Chalkley et al 2015).pdf</a>

          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week05/PHE 2014 Everybody Active Every Day.pdf"
                  class="list-group-item list-group-item-action"
          >PHE 2014 Everybody Active Every Day.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week05/Start active, stay active.  DH 2011.pdf"
                  class="list-group-item list-group-item-action"
          >Start active, stay active.  DH 2011.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week05/UK Chief Medical Officers' Physical Activity Guidelines.pdf"
                  class="list-group-item list-group-item-action"
          >UK Chief Medical Officers' Physical Activity Guidelines.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week05/WHO 2020 Guidelines for PA and SB.pdf"
                  class="list-group-item list-group-item-action"
          >WHO 2020 Guidelines for PA and SB.pdf</a>


          <div class="list-group-item bg-info text-white">
            Week 7
          </div>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week07/7- PA and Behavioural Aspects.pptx"
                  class="list-group-item list-group-item-action"
          >PA and Behavioural Aspects.pptx</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week07/Changing risk behaviours and promoting cognitive health in older adults.pdf"
                  class="list-group-item list-group-item-action"
          >Changing risk behaviours and promoting cognitive health in older adults.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week07/Correlates of PA why are some people physically active and others not Bauman et al 2012.pdf"
                  class="list-group-item list-group-item-action"
          >Correlates of PA why are some people physically active and others not Bauman et al 2012.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week07/NICE PH49 Behaviour Change (2014).pdf"
                  class="list-group-item list-group-item-action"
          >NICE PH49 Behaviour Change (2014).pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week07/Women in Sport 2022 - Reframing Sport for Teenage Girls - Disengagement.pdf"
                  class="list-group-item list-group-item-action"
          >Women in Sport 2022 - Reframing Sport for Teenage Girls - Disengagement.pdf</a>

          <div class="list-group-item bg-info text-white">
            Week 8
          </div>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week08/PAHW WEEK 8  PA Throughout the Lifespan.pptx"
                  class="list-group-item list-group-item-action"
          >PAHW WEEK 8  PA Throughout the Lifespan.pptx</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week08/BASES 2020 Importance of Movement for Children.pdf"
                  class="list-group-item list-group-item-action"
          >BASES 2020 Importance of Movement for Children.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week08/Interpreting the UK physical activity guidelines for older adults (65+).pdf"
                  class="list-group-item list-group-item-action"
          >Interpreting the UK physical activity guidelines for older adults (65+).pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week08/PA for Children and Young People.pdf"
                  class="list-group-item list-group-item-action"
          >PA for Children and Young People.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_pahw/week08/WHO World Report on Ageing and Health.pdf"
                  class="list-group-item list-group-item-action"
          >WHO World Report on Ageing and Health.pdf</a>

          

        </div>
    </div>
  </div>
</div>
