<h1>Module: <strong>Case Study Analysis</strong></h1>
<hr />
<h2>Module Leader: <strong>Mr. Anand Walser</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/cccu_babsy3_csa/Case_Study_Analysis.pptx"
                  class="list-group-item list-group-item-action"
          >Case_Study_Analysis.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_csa/How_to_do_case_studies.doc"
                  class="list-group-item list-group-item-action"
          >How_to_do_case_studies.doc</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_csa/How_to_write_a_case_study_analysis.pptx"
                  class="list-group-item list-group-item-action"
          >How_to_write_a_case_study_analysis.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_csa/Literature_Review_slides.ppt"
                  class="list-group-item list-group-item-action"
          >Literature_Review_slides.ppt</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_csa/Critical_Literature_Review_document_Staffs_.doc"
                  class="list-group-item list-group-item-action"
          >Critical_Literature_Review_document_Staffs_.doc</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_csa/Models.pdf"
                  class="list-group-item list-group-item-action"
          >Models.pdf</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_csa/Writing_a_case_study.pptx"
                  class="list-group-item list-group-item-action"
          >Writing_a_case_study.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_csa/Template_for_Case_Study_Analysis_CCCU.docx"
                  class="list-group-item list-group-item-action"
          >Template_for_Case_Study_Analysis.docx</a
          >
      </div>
    </div>
  </div>
</div>
