<h1>Module: <strong>Professional and Personal Development</strong></h1>
<hr/>
<h2>Module Leader: <strong>Mr. David Mwara</strong></h2>
<hr/>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button
                        class="btn btn-primary btn-lg btn-block collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                >
                    Study Materials Folder
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item bg-info text-white">Lecture 01</div>
                    <a href="../administrator/templates/uos_babsfy_ppd/Lec 1 - Introduction.ppt"
                       class="list-group-item list-group-item-action">Introduction</a>
                    <div class="list-group-item bg-info text-white">Lecture 02</div>
                    <a href="../administrator/templates/uos_babsfy_ppd/Lec 2 - Career planning.docx"
                       class="list-group-item list-group-item-action"
                    >Career Planning.docx</a
                    >
                    <a href="../administrator/templates/uos_babsfy_ppd/Lec 2 - Career Planning.pptx"
                       class="list-group-item list-group-item-action"
                    >Career Planning.pptx</a
                    >
                    <a href="../administrator/templates/uos_babsfy_ppd/SELF_SKILLS_ASSESSMENT.pdf"
                       class="list-group-item list-group-item-action"
                    >SELF_SKILLS_ASSESSMENT.pdf</a
                    >
                    <div class="list-group-item bg-info text-white">Lecture 03</div>
                    <a href="../administrator/templates/uos_babsfy_ppd/Time Management Lecture.ppt"
                       class="list-group-item list-group-item-action"
                    >Time Management Lecture.ppt</a
                    >
                    <div class="list-group-item bg-info text-white">Lecture 04</div>
                    <a href="../administrator/templates/uos_babsfy_ppd/Managing_stress.ppt"
                       class="list-group-item list-group-item-action"
                    >Managing_stress.ppt</a
                    >
                    <a href="../administrator/templates/uos_babsfy_ppd/Stress_Management_Case_study.doc"
                       class="list-group-item list-group-item-action"
                    >Stress_Management_Case_study.doc</a
                    >

                    <div class="list-group-item bg-info text-white">Lecture 05</div>
                    <a href="../administrator/templates/uos_babsfy_ppd/ORAL_PRESENTATIONS.pptx"
                       class="list-group-item list-group-item-action"
                    >Oral Presentations</a
                    >
                    <div class="list-group-item bg-info text-white">Lecture 06</div>
                    <a href="../administrator/templates/uos_babsfy_ppd/Reflection-and-learning.pptx"
                       class="list-group-item list-group-item-action"
                    >Reflection and Learning</a
                    >
                    <a href="../administrator/templates/uos_babsfy_ppd/The-VARK-Questionnaire.pdf"
                       class="list-group-item list-group-item-action"
                    >The VARK Questionnaire</a
                    >
                    <div class="list-group-item bg-info text-white">Lecture 07</div>
                    <a href="../administrator/templates/uos_babsfy_ppd/Groups_Teams.ppt"
                       class="list-group-item list-group-item-action">Groups Teams</a>
                    <a href="../administrator/templates/uos_babsfy_ppd/Belbin-for-students.pdf"
                       class="list-group-item list-group-item-action"
                    >Belbin for students</a
                    >
                    <div class="list-group-item bg-info text-white">Additional</div>
                    <a href="../administrator/templates/uos_babsfy_ppd/PDP Assignment 1 Template.pptx"
                       class="list-group-item list-group-item-action"
                    >PDP Assignment 1 Template</a
                    >
                    <a href="../administrator/templates/uos_babsfy_ppd/PPD MODULE DESCRIPTOR.docx"
                       class="list-group-item list-group-item-action"
                    >PPD Module Descriptor</a>
                </div>

            </div>
        </div>
    </div>
</div>
