<h1>Module: <strong>Digital Business</strong></h1>
<hr />
<h2>Module Leader: <strong>Chandranna Rayadurg</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Summary of Module Content
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        This module introduces you to the practical aspects of designing and developing applications (such as web and interactive media).
        You will be encouraged to review the different technologies, and the legal and managerial aspects, which firms can use to exploit
        current and emerging internet technologies and enhance business operations and opportunities.
        You will develop skills such as web authoring, image processing, electronic marketing, social networking usage and shopping cart design.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
         Module Aims
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <ol>
          <li>To develop an understanding of the management implications of electronic commerce needed for making informed operational and strategic decisions about electronic commerce and its business exploitation.</li>
          <li>To integrates theory and practice and considers key issues including the growth of the mobile digital platform and the rapid expansion in digital traffic.</li>
          <li>To explore the development of digital business and its applications from an international perspective and key issues on the application of various business models.</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Module Outcomes
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>
          Upon successful completion of the module the students will be able to:
        </p>
        <ul>
          <li>LO1: Understand the key trends and advantages of digital technology and implications for managing virtual business in the global environment.</li>
          <li>LO2: Critically evaluate new and emerging digital business models and key business issues such as cyber security and ethics etc. in managing effective e-business.</li>
          <li>LO3: Evaluate the impact of new collaborative relationships and strategic alliances through digital technology.</li>
          <li>LO4: Understand and apply relevant digital business theoretical concepts in practical contexts of a business or a non-voluntary sector.</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Assessments Criteria
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Activity Type</td>
            <td>Activity Descriptor</td>
            <td>Weighting (%)</td>
            <td>Length / Duration</td>
          </tr>
          <tr>
            <td>Case Study</td>
            <td>Individual case study analysis / an investigation of a chosen organization/theory / practice relevant to the DB</td>
            <td>100%</td>
            <td>4000 words</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="https://www.youtube.com/watch?v=NDgqqPvMn0U"
            class="list-group-item list-group-item-action"
            >Harvard Referencing Video
          </a>
          <a
            href="../administrator/templates/uos_babsfy_db/academic-writing.pdf"
            class="list-group-item list-group-item-action"
            >Academic Writing
          </a>
          <a
            href="../administrator/templates/cccu_babsf_db/Introduction to DB - Lecture 1.pdf"
            class="list-group-item list-group-item-action list-group-item-success"
            >Lecture01->CH01-Introduction To Digital Business
          </a>
          <a
                  href="https://www.youtube.com/watch?v=qz6dyLx2YIE"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on E-COMMERCE VS E-BUSINESS | WHAT'S THE DIFFERENCE? - 5 min</a>
          <a
                  href="https://www.youtube.com/watch?v=GQjuEygcS3A"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on The Future of Ecommerce in 2030 (AR & VR) - 7:41 min</a>
          <a
                  href="https://www.youtube.com/watch?v=qxhj4ahR4Vg&ab_channel=ShopifyPlus"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on The Future of Ecommerce in 2021 - 4 min</a>
          <a
                  href="https://www.youtube.com/watch?v=Uutal2M4VXQ&ab_channel=MonicaChurch"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on Amazon GO - Cashierless Grocery Store - 13 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=3OcNdxPhAUk&t=2186s&ab_channel=CreditSuisse"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video - Jack Ma - E-commerce in China and Around the World - 1 min
          </a>
          <a
                  href="https://podcasts.apple.com/ie/podcast/hbr-ideacast/id152022135?i=1000499021037"
                  class="list-group-item list-group-item-action"
          >Lecture01->Apple Podcast:How Jeff Bezos Built One of the World's Most Valuable Companies - 26 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=FAyit_s9eY0&ab_channel=MunirulHasan"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on Major Types of E commerce - 7 min
          </a>
         <a
                 href="../administrator/templates/cccu_babsf_db/Lecture 2 -Opportunity Analysis For Digital Business and e-commerce.pdf"
                 class="list-group-item list-group-item-action list-group-item-success"
         >Lecture02->Opportunity Analysis for Digital Business </a
         >
         <!--
          <a
                  href="https://www.youtube.com/watch?v=hbubGuYqBiI"
                  class="list-group-item list-group-item-action"
          >Lecture02->Youtube Video on Augmented Reality - 1:25 min</a>
          <a
                    href="https://www.youtube.com/watch?v=iIBCszZz4bA&ab_channel=Applico"
                    class="list-group-item list-group-item-action"
          >Lecture02->Youtube Video on SaaS vs. MaaS: Two Ways eCommerce Can Embrace Marketplace Platform Dynamics - 10 min</a>
          <a
                  href="https://youtu.be/iRvaWHk3A8k"
                  class="list-group-item list-group-item-action"
          >Lecture02->Youtube Video on Retail 2020 | 5 Technologies that will change the way you shop - 5:40 min</a>

          <a
                    href="../administrator/templates/uos_babsfy_db/laudon/CH03-Building An E-Commerce Presence-Laudon-traver_ec16_ppt_ch03-rev_accessiblePPT-ct done.pptx"
                    class="list-group-item list-group-item-action list-group-item-success"
          >Lecture03->CH03-Building An E-Commerce Presence.pptx</a
          >
          <a
                  href="https://www.youtube.com/watch?v=MaTs6NNNP88"
                  class="list-group-item list-group-item-action"
          >Lecture03->Youtube video: What is Dropshipping for Beginners? How to Make Money Online in 2021 - 6:48  min</a
          >

          <a
                    href="https://www.youtube.com/watch?v=o6y1cp8UkTw"
                    class="list-group-item list-group-item-action"
          >Lecture03->Youtube video: Top Ecommerce Technologies Powering Successful Businesses in 2020 - 43 min (Watch this if you are interested in tech platfoms) </a
          >

          <a
                  href="../administrator/templates/uos_babsfy_db/laudon/CH05-E-Commerce Business Strategies-Laudon-traver_ec16_ppt_ch05-rev_accessiblePPT done.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture04->CH05-E-Commerce Business Strategies</a
          >
          <a href="https://www.youtube.com/watch?v=5hENFA3CJUY"
             class="list-group-item list-group-item-action"
          >Lecture04->Youtube Video: How Apple Is Organized for Innovation: The Functional Organization - 4:35 min</a>
          <a
                  href="https://www.youtube.com/watch?v=y60yeHak5bE&ab_channel=HBSDigitalInitiative"
                  class="list-group-item list-group-item-action"
          >Lecture04->Youtube Video: Driving Digital Strategy (Sunil Gupta) - 15 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=ojGveiE51Hk&ab_channel=TechAltar"
                  class="list-group-item list-group-item-action"
          >Lecture04->Youtube Video: Amazon's playbook for crushing startups - 10 min
          </a>

          <a
                    href="../administrator/templates/uos_babsfy_db/laudon/CH04-E-Commerce Security and Payment Systems-Laudon-traver_ec16_ppt_ch04-rev_accessiblePPT-ct done.pptx"
                    class="list-group-item list-group-item-action list-group-item-success"
          >Lecture05->CH03 Security and Payment Systems</a
          >
          <a
                  href="https://www.bbc.co.uk/news/uk-wales-62442127"
                  class="list-group-item list-group-item-action"
          >Lecture05->BBC news: NHS 111 software outage confirmed as cyber-attack</a
          >
          <a
                    href="https://www.bbc.co.uk/news/technology-61323399"
                    class="list-group-item list-group-item-action"
            >Lecture05->BBC news: Screen-sharing scams on the rise, watchdog warns</a
          >
          <a
                    href="https://www.bbc.co.uk/news/business-61008730"
                    class="list-group-item list-group-item-action"
          >Lecture05->BBC news: The microchip implants that let you pay with your hand</a
          >
          <a
                    href="https://www.bbc.co.uk/news/science-environment-61336659"
                    class="list-group-item list-group-item-action"
            >Lecture05->BBC news:Cyber security: Global food supply chain at risk from malicious hackers</a
          >
            <a
                    href="https://www.bbc.co.uk/news/technology-61323402"
                    class="list-group-item list-group-item-action"
            >Lecture05->BBC news:President Rodrigo Chaves says Costa Rica is at war with Conti hackers</a
            >
            <a
                    href="https://www.youtube.com/watch?v=eyyogKy3tW0"
                    class="list-group-item list-group-item-action"
            >Lecture05->Youtube Video:Ransomware attacks, explained - 4:04 min</a
            >
            <a href="https://www.youtube.com/watch?v=G7H9uo3j5FQ&ab_channel=TheGuardian"
               class="list-group-item list-group-item-action "
            >Lecture05->Pegasus: the spyware technology that threatens democracy - 5:54 min
            </a>
            <a href="https://www.youtube.com/watch?v=TiE8zfdNga8&ab_channel=BloombergQuickTake"
               class="list-group-item list-group-item-action "
            >Lecture05->Hackers Are Capitalizing on the Coronavirus - 6:24 min
            </a>
            <a href="https://www.bbc.co.uk/news/technology-57881364"
               class="list-group-item list-group-item-action "
            >Lecture05->BBC News->Pegasus: Spyware sold to governments 'targets activists' - includes a video of 3:17 min
            </a>
            <a href="https://www.youtube.com/watch?v=FIlHu3YUBN4"
               class="list-group-item list-group-item-action "
            >Lecture05->Gary McKinnon | UK Computer Hacker Who Was Accused Of The Biggest US Military Hack Of All Time - 30 min
            </a>
            <a href="https://www.dataleaklawyers.co.uk/blog/yahoo-equifax-ceo-testify-largest-data-breaches-history"
               class="list-group-item list-group-item-action "
            >Lecture05->WannaCry: The Cyber Attack That Brought Down the NHS - 14 min
            </a>
            <a href="https://www.youtube.com/watch?v=PKHH_gvJ_hA"
               class="list-group-item list-group-item-action "
            >Lecture05->WannaCry: The World's Largest Ransomware Attack (Documentary) - 30 min
            </a>
            <a href="https://www.youtube.com/watch?v=KUKeZuIU74Y"
               class="list-group-item list-group-item-action "
            >Lecture05->NotPetya Attack - 15 min
            </a>
            <a href="https://cybersecurityventures.com/cybersecuritys-greatest-show-on-earth-kevin-mitnick/"
               class="list-group-item list-group-item-action "
            >Lecture05-> Cybersecurity’s Greatest Showman On Earth: Kevin Mitnick - Many videos available
            </a>
          <a
                    href="../administrator/templates/uos_babsfy_db/laudon/CH06-E-Commerce Marketing and Advertising-Laudon-traver_ec16_ppt_ch06-rev_accessiblePPT-ct done_3.pptx"
                    class="list-group-item list-group-item-action list-group-item-success"
            >Lecture06->CH06-E-Commerce Marketing and Advertising</a
            >
            <a
                    href="https://www.youtube.com/watch?v=PgjjAyv567Q&ab_channel=TIME"
                    class="list-group-item list-group-item-action"
            >Lecture06->Youtube Video: The Brains Behind Pandora Radio | TIME - 4 min
            </a>
            <a
                    href="https://www.youtube.com/watch?v=BnlVTNjeWrg&ab_channel=PBSIdeaChannel"
                    class="list-group-item list-group-item-action"
            >Lecture06->Youtube Video: To AdBlock, Or Not To Adblock... | Idea Channel | PBS Digital Studios - 10 min
            </a>

            <a
                    href="../administrator/templates/uos_babsfy_db/laudon/CH11-E-Commerce Retail and Services-Laudon-traver_ec16_ppt_ch11-rev_accessiblePPT-ct done.pptx"
                    class="list-group-item list-group-item-action list-group-item-success"
            >Lecture07->CH11-E-Commerce Retail and Services</a
            >
            <a
                    href="https://www.youtube.com/watch?v=WxQXvmnfCaw&ab_channel=CNBC"
                    class="list-group-item list-group-item-action"
            >Lecture07->Youtube Video: Wal-Mart To Acquire Jet.com For $3.3B | Tech Bet | CNBC (8 Aug 2016) - 3 min
            </a>
            <a
                    href="https://www.youtube.com/watch?v=gdkZRpyw_FY&ab_channel=CNBCTelevision"
                    class="list-group-item list-group-item-action"
            >Lecture07->Youtube Video: Delivery is the new growth driver for Walmart and others: Expert | CNBC (19 Feb 2019) - 7 min
            </a>
            <a
                    href="https://www.youtube.com/watch?v=lALzP8OqhnQ&ab_channel=EtsySuccess"
                    class="list-group-item list-group-item-action"
            >Lecture07->Youtube Video: Start Your Business on Etsy Today - 2 min
            </a>

            <a
                    href="../administrator/templates/uos_babsfy_db/laudon/CH12-B2B E-Commerce-Laudon-traver_ec16_ppt_ch12-rev_accessiblePPT-ct done.pptx"
                    class="list-group-item list-group-item-action list-group-item-success"
            >Lecture08->CH12-E-Commerce - B2B</a
            >
            <a
                    href="https://www.youtube.com/watch?v=fCJy0qY6NYI&ab_channel=CNBCInternational"
                    class="list-group-item list-group-item-action"
            >Lecture08->Alibaba’s global headquarters | CNBC Reports
            </a>
            -->
            <!--
               <a
                     href="../administrator/templates/uos_babsfy_db/L03_Managing_Digital_Business_Infrstructure_pp03_Revised.pptx"
                     class="list-group-item list-group-item-action list-group-item-success"
               >Lecture03->L03_Managing_Digital_Business_Infrstructure_pp03_Revised.pptx</a>
               <a
                           href="https://www.youtube.com/watch?v=W8mOcd-ICWw"
                           class="list-group-item list-group-item-action"
               >Lecture03->Youtube Video on Amazon Echo Plus, a second generation Echo with smart home functionality</a>
               <a
                       href="https://www.youtube.com/watch?v=oy2y7rs2z64"
                       class="list-group-item list-group-item-action"
               >Lecture03->Youtube Video on Google Home, its version of a voice-controlled digital assistant.</a>
               <a href="https://www.youtube.com/watch?v=LmfvUiJ6tB8"
                      class="list-group-item list-group-item-action"
               >Lecture03->Cloud Computing - Youtube Video on Underwater Data Centers</a>
               <a href="https://www.youtube.com/watch?v=V6zJi8CU7Tk&ab_channel=GermanRetana"
                    class="list-group-item list-group-item-action"
               >Lecture03->Introduction to IT Infrastructure</a>
               <a
                       href="../administrator/templates/uos_babsfy_db/L04_E-environment_pp04-Revised-Part1.pptx"
                       class="list-group-item list-group-item-action list-group-item-success"
               >Lecture04->L04_E-environment_pp04-Revised-Part1.pptx</a
               >
                <a
                         href="https://www.youtube.com/watch?v=IMPbKVb8y8s&ab_channel=TechVision"
                         class="list-group-item list-group-item-action"
               >Youtube Video: Inside Amazon's Smart Warehouse - Technological Environment</a>

               <a
                       href="../administrator/templates/uos_babsfy_db/L05_E-environment_pp04-Revised-Part2.pptx"
                       class="list-group-item list-group-item-action list-group-item-success"
               >Lecture05->L05_E-environment_pp04-Revised-Part2.pptx</a
               >
               <a href="https://www.youtube.com/watch?v=5hENFA3CJUY"
                    class="list-group-item list-group-item-action"
               >Lecture05->How Apple Is Organized for Innovation: The Functional Organization

               <a
                       href="../administrator/templates/uos_babsfy_db/L06_Digital Business Strategy_pp05-Revised-Part1.pptx"
                       class="list-group-item list-group-item-action list-group-item-success"
               >Lecture06->L06_Digital Business Strategy_pp05-Revised-Part1.pptx</a
               >
               <a
                         href="https://www.youtube.com/watch?v=ojGveiE51Hk&ab_channel=TechAltar"
                         class="list-group-item list-group-item-action"
                 >Youtube Video: Amazon's playbook for crushing startups
               </a>
               <a
                 href="../administrator/templates/uos_babsfy_db/L07_Digital Business Strategy_pp05-Revised-Part2.pptx"
                 class="list-group-item list-group-item-action list-group-item-success"
                 >Lecture07->L07_Digital Business Strategy_pp05-Revised-Part2.pptx</a
               >
                 <a
                         href="https://www.youtube.com/watch?v=y60yeHak5bE&ab_channel=HBSDigitalInitiative"
                         class="list-group-item list-group-item-action"
                 >Youtube Video: Driving Digital Strategy (Sunil Gupta)
                 </a>
               <a
                 href="../administrator/templates/uos_babsfy_db/L08_Supply Chain Management_pp06.pptx"
                 class="list-group-item list-group-item-action list-group-item-success"
                 >Lecture08->L08_Supply Chain Management_pp06.pptx</a
               >
               <a
                       href="https://www.youtube.com/watch?v=_oe8RnsbnVM&ab_channel=TRCSolutions"
                       class="list-group-item list-group-item-action"
               >Lecture07->Youtube Video on SAP Business One</a
               >
               <a
                       href="https://www.youtube.com/watch?v=4B8vT-olDOw&ab_channel=Vision33"
                       class="list-group-item list-group-item-action"
               >Lecture07->Youtube Video on Vision X Lighting with SAP Business One and Vision33 | Customer Success Story</a
               >
              <strong>Additional Videos on Digital Business</strong>

               <a
                       href="https://www.youtube.com/watch?v=Y-lBvI6u_hw&ab_channel=FOX13TampaBay"
                       class="list-group-item list-group-item-action"
               >Behind the scenes of an Amazon warehouse</a
               >

                 <a
                         href="https://www.youtube.com/watch?v=hMa5YHOInIc&ab_channel=SenaQuashie"
                         class="list-group-item list-group-item-action"
                 >Digitizing in the industrial space - McKinsey Company
               </a>
                <a
                         href="https://www.youtube.com/watch?v=fCJy0qY6NYI&ab_channel=CNBCInternational"
                         class="list-group-item list-group-item-action"
                >Alibaba’s global headquarters | CNBC Reports
                </a>
                 <a
                         href="https://www.youtube.com/watch?v=-zcRTfnH8jw&ab_channel=NASSCOMSMEConnect"
                         class="list-group-item list-group-item-action"
                 >Sunil Gupta, Harvard Business School on Reinventing Business
                 </a>
             </div>
           </div>
         </div>
       </div>
     </div>
