<h1>Module: <strong>Health & Work</strong></h1>
<hr />
<h2>Module Leader: <strong>Chijioke Agomo</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/cccu_bscy3_h&w/MLSMD3HAW Handbook 2022-23.docx"
                  class="list-group-item list-group-item-action"
          >MLSMD3HAW Handbook 2022-23.docx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_h&w/HAW week 1.pptx"
                  class="list-group-item list-group-item-action"
          >HAW week 1.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_h&w/HAW week 2.pptx"
                  class="list-group-item list-group-item-action"
          >HAW week 2.pptx</a
          ><a
                href="../administrator/templates/cccu_bscy3_h&w/HAW week 3.pptx"
                class="list-group-item list-group-item-action"
          >HAW week 3.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_h&w/LSC HAW  4.pptx"
                  class="list-group-item list-group-item-action"
          >HAW Week 4.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_h&w/Stress and Health Thoits.pdf"
                  class="list-group-item list-group-item-action"
          >    Week 4 - Stress and Health Thoits.pdf</a
          >
          <a
                  href="https://oem.bmj.com/content/59/1/67"
                  class="list-group-item list-group-item-action"
          >    Week 4 - CAUSES AND MANAGEMENT OF STRESS AT WORK</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_h&w/HAW 5  Week 5 .pptx"
                  class="list-group-item list-group-item-action"
          >Week5.pptx</a
          >
          <a
                href="../administrator/templates/cccu_bscy3_h&w/HAW week 6.pptx"
                class="list-group-item list-group-item-action"
          >Week6.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_h&w/HAW week 8 Vulnerable groups.pptx"
                  class="list-group-item list-group-item-action"
          >HAW week 8 Vulnerable groups.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_h&w/Action Plan Template - Task 3- Unit 33..doc"
                  class="list-group-item list-group-item-action"
          >Action Plan Template - Task 3- Unit 33..doc</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
