<h1>Module: <strong>Marketing Management</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr Rajendra Kumar</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/uos_babsfy_mm/1-Marketing Introduction.pptx"
                  class="list-group-item list-group-item-action"
          >1-Marketing Introduction.pptx
          </a>
          <a
            href="../administrator/templates/uos_babsfy_mm/2-Products and Services.pptx"
            class="list-group-item list-group-item-action"
            >2-Products and Services.pptx
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_mm/3-Segmentation Updated.pptx"
                  class="list-group-item list-group-item-action"
          >3-Segmentation Updated.pptx
          </a>
          <a
                href="../administrator/templates/uos_babsfy_mm/4-Marketing Research .pptx"
                class="list-group-item list-group-item-action"
          >4-Marketing Research .pptx
          </a>
          <a
                href="../administrator/templates/uos_babsfy_mm/5-Pricing.ppt"
                class="list-group-item list-group-item-action"
          >5-Pricing.ppt
          </a>
          <a
                href="../administrator/templates/uos_babsfy_mm/6-IMC Lecture.ppt"
                class="list-group-item list-group-item-action"
          >6-IMC Lecture.ppt
          </a>
          <a
                href="../administrator/templates/uos_babsfy_mm/6_Product_NPD_MM.ppt"
                class="list-group-item list-group-item-action"
          >6_Lecture_Product_NPD_MM.ppt
          </a>
          <a
                href="../administrator/templates/uos_babsfy_mm/7-Distribution Lecture.ppt"
                class="list-group-item list-group-item-action"
          >7-Distribution Lecture.ppt
          </a>
          <a
                href="../administrator/templates/uos_babsfy_mm/9-Comsumer Buyer Behaviour Lecture.ppt"
                class="list-group-item list-group-item-action"
          >9-Comsumer Buyer Behaviour Lecture.ppt
          </a>
          <a
                href="../administrator/templates/uos_babsfy_mm/10-Service Marketing Mix.ppt"
                class="list-group-item list-group-item-action"
          >10-Service Marketing Mix.ppt
          </a>
          </div>
      </div>
    </div>
  </div>
</div>
