<h1>Module: <strong>Global Health</strong></h1>
<hr />
<h2>Module Leader: <strong>Chijioke Agomo</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div>Week 1</div>
        <div class="list-group">
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week01/Week 1 Global Health .pptx"
                  class="list-group-item list-group-item-action"
          >Week 1 Global Health .pptx</a>
        </div>
        <div>Week 2</div>
        <div class="list-group">
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week02/Global Health  Lecture 2  Globalisation and health lecture.pptx"
                  class="list-group-item list-group-item-action"
          >Global Health  Lecture 2  Globalisation and health lecture.pptx</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week02/Globalization and health - World Health Organization.pdf"
                  class="list-group-item list-group-item-action"
          >Globalization and health - World Health Organization.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week02/The health impacts of globalisation.pdf"
                  class="list-group-item list-group-item-action"
          >The health impacts of globalisation.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week02/The impact of globalisation on public health.pdf"
                  class="list-group-item list-group-item-action"
          >The impact of globalisation on public health.pdf</a>
        </div>
        <div>Week 3</div>
        <div class="list-group">
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week03/Week 3 - SDGs(1).pptx"
                  class="list-group-item list-group-item-action"
          >Week 3 - SDGs(1).pptx</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week03/TheSustainableDevelopmentGoalsReport.pdf"
                  class="list-group-item list-group-item-action"
          >TheSustainableDevelopmentGoalsReport.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week03/Transforming-our-world.pdf"
                  class="list-group-item list-group-item-action"
          >Transforming-our-world.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week03/SDG.pdf"
                  class="list-group-item list-group-item-action"
          >SDG.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week03/Bulletin of the World Health Organization.pdf"
                  class="list-group-item list-group-item-action"
          >Bulletin of the World Health Organization.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week03/From Millennium Development Goals to Sustainable Development Goals.pdf"
                  class="list-group-item list-group-item-action"
          >From Millennium Development Goals to Sustainable Development Goals.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week03/Measuring the health-related Sustainable Development Goals in 188 countries_ a baseline analysis from the Global Burden of Disease Study 2015.pdf"
                  class="list-group-item list-group-item-action"
          >Measuring the health-related Sustainable Development Goals in 188 countries_ a baseline analysis from the Global Burden of Disease Study 2015.pdf</a>
        </div>

        <div>Week 4</div>
        <div class="list-group">
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week04/Week 4 - Globalisation(1).pptx"
                  class="list-group-item list-group-item-action"
          >Globalisation.pptx</a>
        </div>
        <div>Week 5</div>
        <div class="list-group">
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week05/Week 5 - Communicable diseases.pptx"
                  class="list-group-item list-group-item-action"
          >Communicable diseases.pptx</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week05/From SARS to Avian Influenza_ The Role of International Factors in China's Approach to Infectious Disease Control.pdf"
                  class="list-group-item list-group-item-action"
          >From SARS to Avian Influenza_ The Role of International Factors in China's Approach to Infectious Disease Control.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week05/HIV and AIDS related mortality in africa and asia.pdf"
                  class="list-group-item list-group-item-action"
          >HIV and AIDS related mortality in africa and asia.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week05/Preventing tuberculosis among high-risk workers.pdf"
                  class="list-group-item list-group-item-action"
          >Preventing tuberculosis among high-risk workers.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week05/World malaria report 2019.pdf"
                  class="list-group-item list-group-item-action"
          >World malaria report 2019.pdf</a>
          <a
                  href="../administrator/templates/cccu_bscy3_gh/week05/Preventing tuberculosis in household contacts crucial to protect children and contain epidemic spread.pdf"
                  class="list-group-item list-group-item-action"
          >Preventing tuberculosis in household contacts crucial to protect children and contain epidemic spread.pdf</a>
        </div>
      <div>Week 6</div>
      <div class="list-group">
        <a
                href="../administrator/templates/cccu_bscy3_gh/week06/Week 6 - NCDs.pptx"
                class="list-group-item list-group-item-action"
        >NCDs.pptx</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week06/Embedding non-communicable diseases in the post-2015 development agenda.pdf"
                class="list-group-item list-group-item-action"
        >Embedding non-communicable diseases in the post-2015 development agenda.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week06/Global Noncommunicable Diseases — Where Worlds Meet.pdf"
                class="list-group-item list-group-item-action"
        >Global Noncommunicable Diseases — Where Worlds Meet.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week06/Independent global accountability for NCDs.pdf"
                class="list-group-item list-group-item-action"
        >Independent global accountability for NCDs.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week06/NCDs_ a challenge to sustainable human development.pdf"
                class="list-group-item list-group-item-action"
        >NCDs_ a challenge to sustainable human development.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week06/Non-communicable diseases_ 2015 to 2025.pdf"
                class="list-group-item list-group-item-action"
        >Non-communicable diseases_ 2015 to 2025.pdf</a>
      </div>
      <div>Week 7</div>
      <div class="list-group">
        <a
                href="../administrator/templates/cccu_bscy3_gh/week07/Week 7 - Women health.pptx"
                class="list-group-item list-group-item-action"
        >Women health.pptx</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week07/Week 7 - Women in Pandemic.pdf"
                class="list-group-item list-group-item-action"
        >Women in Pandemic.pdf</a>
      </div>
      <div>Week 8</div>
      <div class="list-group">
        <a
                href="../administrator/templates/cccu_bscy3_gh/week08/Week 8 - Global partnerships for GH.pptx"
                class="list-group-item list-group-item-action"
        >Week 8 - Global partnerships for GH.pptx</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week08/Asthma.pdf"
                class="list-group-item list-group-item-action"
        >Asthma.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week08/Breast cancer.pdf"
                class="list-group-item list-group-item-action"
        >Breast cancer.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week08/Cholera.pdf"
                class="list-group-item list-group-item-action"
        >Cholera.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week08/Suicide.pdf"
                class="list-group-item list-group-item-action"
        >Suicide.pdf</a>
      </div>
      <div>Week 9</div>
      <div class="list-group">
        <a
                href="../administrator/templates/cccu_bscy3_gh/week09/Week 9 - GH Nutrition.pptx"
                class="list-group-item list-group-item-action"
        >Week 9 - GH Nutrition.pptx</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week09/GLIM criteria for the diagnosis of malnutrition – A consensus report from the global clinical nutrition community.pdf"
                class="list-group-item list-group-item-action"
        >GLIM criteria for the diagnosis of malnutrition – A consensus report from the global clinical nutrition community.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week09/Systematic review on evidence‐based adolescent nutrition interventions.pdf"
                class="list-group-item list-group-item-action"
        >Systematic review on evidence‐based adolescent nutrition interventions.pdf</a>
      </div>

      <div>Week 10</div>
      <div class="list-group">
        <a
                href="../administrator/templates/cccu_bscy3_gh/week10/Session 10 - environment and health.pptx"
                class="list-group-item list-group-item-action"
        >Communicable diseases.pptx</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week10/From SARS to Avian Influenza_ The Role of International Factors in China's Approach to Infectious Disease Control.pdf"
                class="list-group-item list-group-item-action"
        >From SARS to Avian Influenza_ The Role of International Factors in China's Approach to Infectious Disease Control.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week10/HIV and AIDS related mortality in africa and asia.pdf"
                class="list-group-item list-group-item-action"
        >HIV and AIDS related mortality in africa and asia.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week10/Preventing tuberculosis among high-risk workers.pdf"
                class="list-group-item list-group-item-action"
        >Preventing tuberculosis among high-risk workers.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week10/World malaria report 2019.pdf"
                class="list-group-item list-group-item-action"
        >World malaria report 2019.pdf</a>
        <a
                href="../administrator/templates/cccu_bscy3_gh/week10/Preventing tuberculosis in household contacts crucial to protect children and contain epidemic spread.pdf"
                class="list-group-item list-group-item-action"
        >Preventing tuberculosis in household contacts crucial to protect children and contain epidemic spread.pdf</a>
      </div>
      <div>Week 11</div>
      <div class="list-group">
        <a
                href="../administrator/templates/cccu_bscy3_gh/week11/Week 11 - Health and culture.pptx"
                class="list-group-item list-group-item-action"
        >Communicable diseases.pptx</a>
        </div>
    </div>
  </div>
</div>