<h1>Module: <strong>Research Methodology</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Uma Mohan</strong></h2>
<hr />

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
                class="btn btn-primary btn-lg btn-block collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
            id="collapseFive"
            class="collapse"
            aria-labelledby="headingFive"
            data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 1/Lecture1 Introduction.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture1 Introduction.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 1/Topic to Objectives.docx"
                  class="list-group-item list-group-item-action"
          >Topic to Objectives.docx</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 1/Useful verbs for   Research Objectives.docx"
                  class="list-group-item list-group-item-action"
          >Useful verbs for   Research Objectives.docx</a
          >
          
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 2/Example in LR Critique.pdf"
                  class="list-group-item list-group-item-action"
          >Example in LR Critique.pdf</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 2/How to formulate research topic and research aim An Example.pdf"
                  class="list-group-item list-group-item-action"
          >How to formulate research topic and research aim An Example.pdf</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 2/Lecture 2 Literature review Revised .pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 2 Literature review Revised .pptx</a
          >
          <a href="../administrator/templates/cccu_babsy3_rm/RM Week 2/Topic to Objectives.docx"
             class="list-group-item list-group-item-action"
          >Topic to Objectives.docx</a>
          <a href="../administrator/templates/cccu_babsy3_rm/RM Week 2/Useful verbs for   Research Objectives.docx"
             class="list-group-item list-group-item-action"
          >Useful verbs for   Research Objectives.docx</a>
          
          <div class="list-group-item bg-info text-white">
            Week 3
          </div>
          <a
                  href="../administrator/templates/cccu_babsy3_rm/Example in LR Critique.pdf"
                  class="list-group-item list-group-item-action"
          >Example in LR Critique.pdf</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 3/How to start LR  Example Revised .docx"
                  class="list-group-item list-group-item-action"
          >How to start LR  Example Revised .docx</a
          >

          <a href="../administrator/templates/cccu_babsy3_rm/RM Week 3/Lecture 2 Literature review Revised .pptx"
             class="list-group-item list-group-item-action"
          >Lecture 2 Literature review Revised .pptx</a>

          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 3/Lecture 3 Basics of Research I Revised 2.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 3 Basics of Research I Revised 2.pptx</a
          >
          <a href="../administrator/templates/cccu_babsy3_rm/RM Week 3/Why internet sources are not recommended for Research.docx"
             class="list-group-item list-group-item-action"
          >Why internet sources are not recommended for Research.docx</a>
          
          <div class="list-group-item bg-info text-white">
            Week 4
          </div>
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 4/Lecture 3 Basics of Research I Revised.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 3 Basics of Research I Revised.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 4/Lecture 4 Basics of Research II rev.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 4 Basics of Research II rev.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 4/LR  what needs to be covered pic.jpeg"
                  class="list-group-item list-group-item-action"
          >LR  what needs to be covered pic.jpeg</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 4/RM Task For Week 4.docx"
                  class="list-group-item list-group-item-action"
          >RM Task For Week 4.docx</a
          >

          <div class="list-group-item bg-info text-white">
            Week 5
          </div>
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 5/Agenda for Week 5 .docx"
                  class="list-group-item list-group-item-action"
          >Agenda for Week 5 .docx</a
          >
          <a
                  href="../administrator/templates/cccu_babsy3_rm/RM Week 5/Proposal Checklist2 for BABS RM (002).docx"
                  class="list-group-item list-group-item-action"
          >Proposal Checklist2 for BABS RM (002).docx</a
          ><a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 5/Lecture 5-  Data collection rev2.pptx"
                class="list-group-item list-group-item-action"
        >Lecture 5-  Data collection rev2.pptx</a
        ><a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 5/RM Task For Week 5.docx"
                class="list-group-item list-group-item-action"
        >RM Task For Week 5.docx</a
        ><a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 5/Workshop on Sampling.docx"
                class="list-group-item list-group-item-action"
        >Workshop on Sampling.docx</a
        >
        </div>
        <div class="list-group-item bg-info text-white">
          Week 6
        </div>
        <a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 6/Agenda Week 6.docx"
                class="list-group-item list-group-item-action"
        >Agenda for Week 6 .docx</a
        >
        <a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 6/Example in thematic analysis.docx"
                class="list-group-item list-group-item-action"
        >Example in thematic analysis.docx</a
        ><a
              href="../administrator/templates/cccu_babsy3_rm/RM Week 6/Lecture 6 Data Analysis rev.pptx"
              class="list-group-item list-group-item-action"
      >Lecture 6 Data Analysis rev.pptx</a
      ><a
              href="../administrator/templates/cccu_babsy3_rm/RM Week 6/RM Classwork based on Lecture 6.docx"
              class="list-group-item list-group-item-action"
      >RM Classwork based on Lecture 6.docx</a
      >

        <div class="list-group-item bg-info text-white">
          Week 7
        </div>
        <a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 7/Agenda Week 7.docx"
                class="list-group-item list-group-item-action"
        >Agenda for Week 7.docx</a
        >
        <a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 7/Lecture 7 Validity  Reliability and Gantt chart Revised2.docx"
                class="list-group-item list-group-item-action"
        >Lecture 7 Validity  Reliability and Gantt chart Revised2.docx</a
        ><a
              href="../administrator/templates/cccu_babsy3_rm/RM Week 7/Research Methods  Key Aspects.docx"
              class="list-group-item list-group-item-action"
      >Research Methods  Key Aspects.docx</a
      ><a
              href="../administrator/templates/cccu_babsy3_rm/RM Week 7/Some writing tips.docx"
              class="list-group-item list-group-item-action"
      >Some writing tips.docx</a
      >
    <!--
        <div class="list-group-item bg-info text-white">
          Week 8 - Self Study
        </div>
        <a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 8/More about   Ethics and Access.pptx"
                class="list-group-item list-group-item-action"
        >AMore about Ethics and Access.pptx</a
        >
        <a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 8/Primary and Secondary Data  _ Advantages and disadvantages_.docx"
                class="list-group-item list-group-item-action"
        >Primary and Secondary Data - Advantages and disadvantages.docx</a
        ><a
              href="../administrator/templates/cccu_babsy3_rm/RM Week 8/Sample Conceptual framework.docx"
              class="list-group-item list-group-item-action"
      >Sample Conceptual framework.docx</a
      ><a
              href="../administrator/templates/cccu_babsy3_rm/RM Week 8/Some writing tips.docx"
              class="list-group-item list-group-item-action"
      >Some writing tips.docx</a
      >
        <a
                href="../administrator/templates/cccu_babsy3_rm/RM Week 8/Writing Abstract for a RM proposal .pptx"
                class="list-group-item list-group-item-action"
        >Writing Abstract for a RM proposal.pptx</a
        >
        -->
        </div>
      </div>
    </div>
  </div>
</div>

