<h1>Module: <strong>Numeracy and Data Analysis</strong></h1>
<hr />
<h2>Module Leader: <strong>Indunil Dona</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Rationale
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
          Through this module, which will consist of a statistics thread and a mathematics thread, students will learn about some of the underlying theories that underpins business
          mathematics and statistics and begin to make use of some basic tools and methods. In addition, participants will begin to develop an understanding of the nature of the
          science of mathematics and statistics and knowledge of the many applications in which it is used in a business environment.
          They will also start to develop and use some of the less technical, but still important, general skills that are required in the practice of both mathematics and statistics.
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
          >
            Aims
          </button>
        </h2>
      </div>
      <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          The broad aim of this module is to give students an introduction to the practice of statistics and quantitative concepts. The module will emphasise the benefits of quantitative skills in
          business planning and controlling, interpreting management information and solving business problems. Students will learn how to obtain information from raw data and apply techniques
          to organise and display data in tables and graphs that are informative about trends, variability, average values and dependence of one variable upon another.
          The course also introduces basic elements of inferential statistics including estimation and hypothesis testing
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
          >
            Learning Outcomes
          </button>
        </h2>
      </div>
      <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Upon successful completion of the module the students will be able to:
          </p>
          <ul>
            <li>LO1: Explain and demonstrate the use of basic mathematics including formulae and ratios.
            </li>
            <li>
              LO2: Show reasonableness in the calculation of answers.
            </li>
            <li>LO3: Identify and apply techniques for summarising and analysing data.</li>
            <li>LO4: Explain and demonstrate the use of probability where risk and uncertainty exist.
            </li>
            <li>
              LO5: Demonstrate and analyse techniques used for forecasting.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
          >
            Assessments Criteria
          </button>
        </h2>
      </div>
      <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          <table class="table">
            <tr>
              <td>Form of assessment</td>
              <td>Assessment size</td>
              <td>Weighting (%)</td>
              <td>Learning outcomes assessed</td>
              <td>Core or non-core</td>
            </tr>
            <tr>
              <td>Individual Assignment</td>
              <td>1000 words</td>
              <td>30%</td>
              <td>LO1, LO2, LO3, LO4, LO5</td>
              <td>Core</td>
            </tr>
            <tr>
              <td>End of Term Exam</td>
              <td>2 hours</td>
              <td>70%</td>
              <td>LO1, LO2, LO3, LO4, LO5</td>
              <td>Core</td>
            </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Lecture 1 - Basic of Mathematics
          </div>
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-1-basics-of-mathematics/Answers-NDA_Practice_Sheet_1.docx"
            class="list-group-item list-group-item-action"
            >Answers NDA Practise Sheet 1</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-1-basics-of-mathematics/Inro_to_Basic_Maths.pptx"
            class="list-group-item list-group-item-action"
            >Intro to Basic Maths</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-1-basics-of-mathematics/NDA_Practice_Sheet_1.docx"
            class="list-group-item list-group-item-action"
            >NDA Practice Sheet 1</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-1-basics-of-mathematics/NDA_Practice_Sheet_Basic_maths_1.docx"
            class="list-group-item list-group-item-action"
            >NDA Practice Sheet Basic Maths 1</a
          >

          <div class="list-group-item bg-info text-white">
            Lecture 2 - Basic of Mathematics Part 2
          </div>
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-2-basics-of-mathematics-part-2/Answers_-_NDA_Practice_Sheet_2.docx"
            class="list-group-item list-group-item-action"
            >Answers NDA Practice Sheet 2</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-2-basics-of-mathematics-part-2/Inro_to_Basic_Maths2.pptx"
            class="list-group-item list-group-item-action"
            >Intro to Basic Maths 2</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-2-basics-of-mathematics-part-2/NDA_Practice_Sheet_2.docx"
            class="list-group-item list-group-item-action"
            >NDA Practice Sheet 2</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-2-basics-of-mathematics-part-2/NDA_Practice_Sheet_Basic_maths_2.docx"
            class="list-group-item list-group-item-action" 
            >NDA Practice Sheet Basic Maths 2</a
          >
          <div class="list-group-item bg-info text-white">
            Lecturer 3 Data Presentation Averages and Measures of Dispersion
          </div>
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-3-data-presentation-averages-and-measures-of-dispersion/Data_Presentation.pptx"
            class="list-group-item list-group-item-action"
            >Data Presentation</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-3-data-presentation-averages-and-measures-of-dispersion/Mean_Median_Mode.pptx"
            class="list-group-item list-group-item-action"
            >Mean Median Mode</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-3-data-presentation-averages-and-measures-of-dispersion/NDA_Practice_Sheet_3.docx"
            class="list-group-item list-group-item-action"
            >NDA Practice Sheet</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 4 - Forecasting
          </div>
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-4-forecasting/Forecasting_New.pptx"
            class="list-group-item list-group-item-action"
            >Forecasting New</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-4-forecasting/NDA_Practice_Sheet_4.docx"
            class="list-group-item list-group-item-action"
            >NDA Practice Sheet 4</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 5 - Index numbers Price Index
          </div>
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-5-index-numbers-price-index/Answers-NDA_Practice_Sheet_5.docx"
            class="list-group-item list-group-item-action"
            >Answers - NDA Practice Sheet 5</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-5-index-numbers-price-index/Index_Numbers_-_Price_Index.pptx"
            class="list-group-item list-group-item-action"
            >Index Numbers - Price Index</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-5-index-numbers-price-index/NDA_Practice_Sheet_5.docx"
            class="list-group-item list-group-item-action"
            >NDA Practice Sheet 5</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 6 - Probability
          </div>
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-6-probability/NDA_Practice_Sheet_6.docx"
            class="list-group-item list-group-item-action"
            >NDA Practice Sheet 6</a
          >
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-6-probability/Probability.pptx"
            class="list-group-item list-group-item-action"
            >Probability Presentation</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 7 - Sample Distribution
          </div>
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-7-sample-distribution/Sampling_Distributions_New.pptx"
            class="list-group-item list-group-item-action"
            >Sample Distribution</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 8 - Statistical Inference
          </div>
          <a
            href="../administrator/templates/uos_babsfy_nda/lecturer-8-statistical-inference/Statistical_Inferences.pptx"
            class="list-group-item list-group-item-action"
            >Statistical Inferences</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
