<h1>
  Module: <strong>Integrated Professional Skills in the Digital Age</strong>
</h1>
<hr />
<h2>Module Leader: <strong>Chandranna Rayadurg</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Rationale
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        The module develops a range of professional, academic and employability skills in order to help students achieve
        success both at university and in graduate employment. Specific features include; early formative assessment of
        key academic skills, the production of documentation, reflective practice and personal development planning.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Aims
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        This programme module aims to provide the learner with the necessary knowledge and tools to be able to go on-line to find information.
        This includes the development of study and transferable skills required of students, an understanding of personal strengths and areas for development,
        reflection on and planning for personal, academic and career goals.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Learning Outcomes
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>
          Upon successful completion of the module the students will be able to:
        </p>
        <ul>
          <li>LO1: Understand the key terms and considerations associated with using the internet.</li>
          <li>
            LO2: Take responsibility for personal security and privacy when using the internet.
          </li>
          <li>LO3: Develop online research skills.</li>
          <li>LO4: Develop digital communication skills .</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Assessments Criteria
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Form of assessment</td>
            <td>Assessment size</td>
            <td>Weighting (%)</td>
            <td>Learning outcomes assessed</td>
          </tr>
          <tr>
            <td>Individual Report</td>
            <td>3000 words</td>
            <td>100%</td>
            <td>LO1, LO2, LO3, LO4</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH01-Introduction to blogs.pptx"
            class="list-group-item list-group-item-action"
            >Lecture01->CH01 Introduction to Blogging
          </a>
          <a
                  href="https://www.youtube.com/watch?v=NjwUHXoi8lM&ab_channel=WPMUDEV"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture01->Youtube video - What is a Blog? - 3:40 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=11Savs6xTSk"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture01->Youtube video - Starting and making money with blogs - 23 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=m7Jw3a7CpNA"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture01->Youtube video - Starting and making money with blogs - 15 min
          </a>
          <a
            href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH02-Managing_a_Digital_Life_Style.pptx"
            class="list-group-item list-group-item-action"
          >Lecture02->CH02-Managing_a_Digital_Life_Style.pptx
          </a>
          <a
                  href="https://www.youtube.com/watch?v=MwZGjY6BLPk"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture02->Youtube video - LifeEdited: Building a Less but Better Digital Lifestyle | Graham Hill | TEDxGateway - 12 min
          </a>

          <a
            href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH03-E-Learning-Revised.pptx"
            class="list-group-item list-group-item-action"
            >Lecture03->CH03 E-Learning
          </a>
          <a
                  href="https://www.youtube.com/watch?v=UORy4yUgCE4&ab_channel=StudywithTapasvaidya"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture03->Youtube video - Debate on traditional and Online learning - 4 min
          </a>

          <a
            href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH04-Conducting Rsearch On the Internet.pptx"
            class="list-group-item list-group-item-action"
            >Lecture04->CH04 Conducting Research On the Internet
          </a>
          <a href="https://www.youtube.com/watch?v=R0DQfwc72PM"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture04->CH04 Tips on using Google search engine effectively - Youtube Video - 5:40 min
          </a>
          <a href="https://www.youtube.com/watch?v=XDfgdwMBPfc&ab_channel=AngelaPlatt"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture04->CH04 How to do research on the internet, effectively - Youtube Video - 6:30 min
          </a>
          <a
            href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH05-Cloud_Computing-Revised.pptx"
            class="list-group-item list-group-item-action" 
            >Lecture05->CH05 Cloud Computing
          </a>
          <a href="https://youtu.be/X9ELENWZqLE"
              class="list-group-item list-group-item-action list-group-item-success"
          >Lecture05->CH05 Cloud Computing - Youtube Video on Facebook - 3 min
          </a>
          <a href="https://www.youtube.com/watch?v=LmfvUiJ6tB8"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture05->CH05 Cloud Computing - Youtube Video on Underwater Data Centers - 7 min
          </a>
          <a href="https://www.youtube.com/watch?v=XZmGGAbHqa0"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture05->CH05 Cloud Computing - Youtube Video on Google Data Centers - 5:27 min
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH06-E_Government-Revised.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture06->CH06 E-Government
          </a>
          <a href="https://www.youtube.com/watch?v=kHiq5UfxePA"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture06->CH06 - Youtube Video on How Estonia built a digital first government - 9:48 min
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH07a-Digital_Footprints-Revised.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture07->CH07 Digital Footprints
          </a>
          <a href="https://www.youtube.com/watch?v=dmQGq_FNBpE&ab_channel=CenterforDigitalEducation"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture07->CH07 - What is a Digital Footprint? - 2:40 min
          </a>
          <a href="https://www.youtube.com/watch?v=RHNLGaVRxyI&ab_channel=ByteSizeSociety"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture07->CH07 - Your Digital Footprint is DEEPER than you think! - 7:30 min
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH09-Securing System.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture08->CH08 Securing Your System
          </a>
          <a href="https://www.youtube.com/watch?v=G7H9uo3j5FQ&ab_channel=TheGuardian"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->Pegasus: the spyware technology that threatens democracy - 5:54 min
          </a>
          <a href="https://www.youtube.com/watch?v=TiE8zfdNga8&ab_channel=BloombergQuickTake"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->Hackers Are Capitalizing on the Coronavirus - 6:24 min
          </a>
          <a href="https://www.bbc.co.uk/news/technology-57881364"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->BBC News->Pegasus: Spyware sold to governments 'targets activists' - includes a video of 3:17 min
          </a>
          <a href="https://www.bbc.co.uk/news/technology-62239638"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->BBC News->US seizes stolen funds from suspected North Korean hackers
          </a>
          <a href="https://www.youtube.com/watch?v=YCsiExlwCtg&ab_channel=Top10s"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->Signs your phone has a virus - Youtube Video
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/Collaboration.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture09->Collaboration.pptx
          </a>
          <a href="https://www.youtube.com/watch?v=wgOg_wJDj8M"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture09->CH09 Collaboration tools - 5 min
          </a>

          <a href="https://www.youtube.com/watch?v=fBDb9fz7XJE"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture09->CH09 Remote Team Tools for Collaboration and Productivity - 5 min
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH08a-IT_Infrastructure_for_Digital_Age-Revised.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture10->IT_Infrastructure_for_Digital_Age-Revised.pptx
          </a>
          <a
                  href="https://www.youtube.com/watch?v=RhSfQqmp-9Q&ab_channel=HandsonERP"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture10->Youtube Video on IT Infrastructure - 6:06 min
          </a>

          <!--
          <a
            href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH07a-Digital_Footprints-Revised.pptx"
            class="list-group-item list-group-item-action"
            >Lecture08->CH08 Digital Footprints
          </a>
          <a href="https://www.youtube.com/watch?v=dmQGq_FNBpE&ab_channel=CenterforDigitalEducation"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->CH08 - What is a Digital Footprint? - 2:40 min
          </a>
          <a href="https://www.youtube.com/watch?v=RHNLGaVRxyI&ab_channel=ByteSizeSociety"
             class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->CH08 - Your Digital Footprint is DEEPER than you think! - 7:30 min
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH07b-Positive_and_Negative_Aspects.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture09->CH08 Positive and Negative Aspects of Internet
          </a>
          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH07a-Information_Sharing.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture09->CH09 Information Sharing
          </a>
          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH08a-IT_Infrastructure_for_Digital_Age-Revised.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture10->CH10 IT Infrastructure for Digital Age
          </a>
          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/globalwarming.mp4"
                  class="list-group-item list-group-item-action"
          >Lecture10->CH10 IT Infrastructure - Global Warming
          </a>
          -->


          <!--
          <a
                  href="../administrator/templates/cccu_babsf_ipsda/shunaza/CH09-Managing_a_Digital_Life_Style.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture12->CH12 Managing Digital Lifestyle
          </a>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
