<h1>Module: <strong>Business Law and Ethics</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Roshan de Silva </strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="../administrator/templates/cccu_babsf_ble/lecture1/Week 1 Intro to English Legal System.pptx"
            class="list-group-item list-group-item-action list-group-item-success"
            >Weeks 01 & 02 - Introduction to English Legal System.pptx
          </a>
          <a
                    href="https://uk.practicallaw.thomsonreuters.com/5-636-2498?transitionType=Default&contextData=(sc.Default)&firstPage=true"
                    class="list-group-item list-group-item-action"
          >Use this link to look at the process of law making in the UK</a>
            <a
                    href="../administrator/templates/cccu_babsf_ble/lecture3/Week 3 and 4 Intro to Company Law.pptm"
                    class="list-group-item list-group-item-action list-group-item-success"
            >Weeks 03 & 04 - Company Law and Company formation
            </a>

            <a
                  href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/31676/11-1399-guide-legal-forms-for-business.pdf"
                  class="list-group-item list-group-item-action"
          >Use this link to look at the guide-legal-forms-for-business.pdf </a
          >
            <a
                    href="../administrator/templates/cccu_babsf_ble/lecture5/Weeks 5 and 6 Employment Law in UK.pptx"
                    class="list-group-item list-group-item-action list-group-item-success"
            >Weeks 05 & 06 - Employment Law in UK
            </a>
          <a
                  href="../administrator/templates/cccu_babsf_ble/lecture5/Week 5 and 6 Employment_Law_History.pdf"
                  class="list-group-item list-group-item-action "
          >Weeks 05 & 06 - Introduction to UK Labour Law History
          </a>
          <a
                  href="../administrator/templates/cccu_babsf_ble/lecture7/Week 7-8 Introduction to UK Corporate Governance Principles.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Weeks 07 & 08 - Corporate Governance in the UK
          </a>
          <a
                  href="https://ecgi.global/content/corporate-governance-united-kingdom"
                  class="list-group-item list-group-item-action"
          >Use this link to look at the corporate-governance-united-kingdom </a
          >
          <a
                  href="https://www.icaew.com/technical/corporate-governance/codes-and-reports/cadbury-report"
                  class="list-group-item list-group-item-action"
          >Use this link to look at the corporate-governance-Cadbury Report</a
          >
          <a
                  href="../administrator/templates/cccu_babsf_ble/lecture9/Weeks 9-10 Ethics and Corporate Social Responsibility Slides (1).pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Weeks 09 & 10 - Global Context of Corporate Social Responsibility
          </a>
          <a
                  href=" https://www.youtube.com/watch?v=Y888wVY5hzw"
                  class="list-group-item list-group-item-action"
          >Weeks 9-10 - Corporate Governance in the Global Contex - This is the video you need to look and make notes on the pros and cons of how corporations conduct themselves. This video is part of the material that you need to cover in order to undertake the second assessment. </a
          >
          <a
                  href="../administrator/templates/cccu_babsf_ble/lecture10/Assessment Two Answer Guide.docx"
                  class="list-group-item list-group-item-action"
          >Weeks 9-10 - Assessment Two Student Guidelines </a
          >
          <a
                  href="../administrator/templates/cccu_babsf_ble/lecture10/Philip Stern The East India Company as a Model for the Multi National Corporation.pdf"
                  class="list-group-item list-group-item-action"
          >Weeks 9-10 - Read Phillip Stern's Article in Order to Understand the Links between the British East India Company and the Modern Multinational Corporation </a
          >
        </div>
      </div>
    </div>
  </div>
</div>
