<h1>Module: <strong>Digital Business</strong></h1>
<hr />
<h2>Module Leader: <strong>Febih Khan</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Summary of Module Content
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        This module introduces you to the practical aspects of designing and developing applications (such as web and interactive media).
        You will be encouraged to review the different technologies, and the legal and managerial aspects, which firms can use to exploit
        current and emerging internet technologies and enhance business operations and opportunities.
        You will develop skills such as web authoring, image processing, electronic marketing, social networking usage and shopping cart design.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
         Module Aims
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <ol>
          <li>To develop an understanding of the management implications of electronic commerce needed for making informed operational and strategic decisions about electronic commerce and its business exploitation.</li>
          <li>To integrates theory and practice and considers key issues including the growth of the mobile digital platform and the rapid expansion in digital traffic.</li>
          <li>To explore the development of digital business and its applications from an international perspective and key issues on the application of various business models.</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Module Outcomes
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>
          Upon successful completion of the module the students will be able to:
        </p>
        <ul>
          <li>LO1: Understand the key trends and advantages of digital technology and implications for managing virtual business in the global environment.</li>
          <li>LO2: Critically evaluate new and emerging digital business models and key business issues such as cyber security and ethics etc. in managing effective e-business.</li>
          <li>LO3: Evaluate the impact of new collaborative relationships and strategic alliances through digital technology.</li>
          <li>LO4: Understand and apply relevant digital business theoretical concepts in practical contexts of a business or a non-voluntary sector.</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Assessments Criteria
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Activity Type</td>
            <td>Activity Descriptor</td>
            <td>Weighting (%)</td>
            <td>Length / Duration</td>
          </tr>
          <tr>
            <td>Case Study</td>
            <td>Individual case study analysis / an investigation of a chosen organization/theory / practice relevant to the DB</td>
            <td>100%</td>
            <td>4000 words</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="https://www.youtube.com/watch?v=NDgqqPvMn0U"
            class="list-group-item list-group-item-action"
            >Harvard Referencing Video
          </a>
          <a
            href="../administrator/templates/uos_babsfy_db_fk/academic-writing.pdf"
            class="list-group-item list-group-item-action"
            >Academic Writing
          </a>
          <a
            href="../administrator/templates/cccu_babsf_db_fk/Introduction to DB - Lecture 1.pdf"
            class="list-group-item list-group-item-action list-group-item-success"
            >Lecture01->CH01-Introduction To Digital Business
          </a>
          <a
                  href="https://www.youtube.com/watch?v=qz6dyLx2YIE"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on E-COMMERCE VS E-BUSINESS | WHAT'S THE DIFFERENCE? - 5 min</a>
          <a
                  href="https://www.youtube.com/watch?v=GQjuEygcS3A"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on The Future of Ecommerce in 2030 (AR & VR) - 7:41 min</a>
          <a
                  href="https://www.youtube.com/watch?v=qxhj4ahR4Vg&ab_channel=ShopifyPlus"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on The Future of Ecommerce in 2021 - 4 min</a>
          <a
                  href="https://www.youtube.com/watch?v=Uutal2M4VXQ&ab_channel=MonicaChurch"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on Amazon GO - Cashierless Grocery Store - 13 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=3OcNdxPhAUk&t=2186s&ab_channel=CreditSuisse"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video - Jack Ma - E-commerce in China and Around the World - 1 min
          </a>
          <a
                  href="https://podcasts.apple.com/ie/podcast/hbr-ideacast/id152022135?i=1000499021037"
                  class="list-group-item list-group-item-action"
          >Lecture01->Apple Podcast:How Jeff Bezos Built One of the World's Most Valuable Companies - 26 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=FAyit_s9eY0&ab_channel=MunirulHasan"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on Major Types of E commerce - 7 min
          </a>
         <a
                 href="../administrator/templates/cccu_babsf_db_fk/Lecture 2 -Opportunity Analysis For Digital Business and e-commerce.pdf"
                 class="list-group-item list-group-item-action list-group-item-success"
         >Lecture02->Opportunity Analysis for Digital Business </a
         >
         <a
                    href="../administrator/templates/cccu_babsf_db_fk/Lecture 2.pdf"
                    class="list-group-item list-group-item-action list-group-item-success"
            >Lecture02->Opportunity Analysis for Digital Business </a
         >

          <a
                  href="https://www.youtube.com/watch?v=3fFCJyFKUeQ&t=1s"
                  class="list-group-item list-group-item-action"
          >Lecture02->Youtube Video on Johnnie Boden of Boden: High50 Entrepreneur - 3:07 min
          </a>

          <a
                  href="https://www.youtube.com/watch?v=vV4J-xjM4I8&ab_channel=Cartulinas062"
                  class="list-group-item list-group-item-action"
          >Lecture02->Youtube Video on Macy's Goes Omnichannel 1 - 2:20 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=I8nwNcCfyig&ab_channel=OptimaTraining%28UK%29Limited"
                  class="list-group-item list-group-item-action"
          >Lecture02->Youtube Video on Introduction to the Business Model Canvas - 6:51 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=434HUjsxfYw&t=9s&ab_channel=Olatz"
                  class="list-group-item list-group-item-action"
          >Lecture02->Youtube Video on Amazon Business Model - 9:13 min
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_db_fk/Lecture 3-Managing Digital Business Infrastructure.pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture 3->Managing Digital Business Infrastructure.pdf </a
          >
          <a
                    href="https://www.youtube.com/watch?v=-6XmszZChOY"
                    class="list-group-item list-group-item-action"
            >Lecture04->Youtube Video - Amazon’s Cashier-less Store!
          </a>
            <a
                    href="https://www.youtube.com/watch?v=a9__D53WsUs"
                    class="list-group-item list-group-item-action"
            >Lecture04->Youtube Video - What is AWS? | Amazon Web Services
            </a>
            <a
                    href="https://www.youtube.com/watch?v=s7wmiS2mSXY"
                    class="list-group-item list-group-item-action"
            >Lecture04->Youtube Video - What is an API?
            </a>
            <a
                    href="https://www.youtube.com/watch?v=20QUNgFIrK0"
                    class="list-group-item list-group-item-action"
            >Lecture04->Youtube Video - Software as a Service (SaaS) Explained in 5 mins
            </a>
            <a
                    href="https://www.youtube.com/watch?v=XZmGGAbHqa0"
                    class="list-group-item list-group-item-action"
            >Lecture04->Youtube Video - Inside a Google data center
            </a>
            <a
                    href="https://www.youtube.com/watch?v=R5q_RXk_t7A"
                    class="list-group-item list-group-item-action"
            >Lecture04->Youtube Video - 5-Minute Breakdown: Software as a Service (SaaS)
            </a>
            <a
                    href="https://www.youtube.com/watch?v=6ZVvRMygKLc"
                    class="list-group-item list-group-item-action"
            >Lecture04->Youtube Video - Amazon opens its first cashierless grocery store | GMA
            </a>
            <a
                  href="../administrator/templates/cccu_babsf_db_fk/Lecture 4-Key issues in the digital environment.pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture 4->Key issues in the digital environment.pdf </a
          >
          <a
                  href="https://www.youtube.com/watch?v=cAUXHJBB5CM"
                  class="list-group-item list-group-item-action"
          >Lecture04->Youtube Video - Just in Time by Toyota: The Smartest Production System in The World - 4:08 min
          </a>
            <a
                    href="https://www.youtube.com/watch?v=g8p2H7EvoGM"
                    class="list-group-item list-group-item-action"
            >Lecture04->Youtube Video - Value Chain Management - Meaning, Definition, Differences with Supply Chain & Porter's VC | AIMS UK - 3:51 min
            </a>
          <a
                  href="../administrator/templates/cccu_babsf_db_fk/Lecture 5-E Supply Chain Management.pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture 5->E Supply Chain Management.pdf</a
          >

          <a
                  href="../administrator/templates/cccu_babsf_db_fk/Lecture 6-Digital Business Strategy .pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture 6->Digital Business Strategy .pdf</a
          >

          <a
                  href="../administrator/templates/cccu_babsf_db_fk/Lecture 7- Social Media - Its Growth and Influence.pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture 7->Social Media - Its Growth and Influence.pdf</a
          >

          <a
                  href="../administrator/templates/cccu_babsf_db_fk/Lecture 8-Digital Marketing.pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture 8->Digital Marketing.pdf</a
          >

          <a
                  href="../administrator/templates/cccu_babsf_db_fk/Lecture 9-Mobile Commerce & Mobile Marketing.pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture 9->Mobile Commerce & Mobile Marketing.pdf</a
          >

          <a
                  href="../administrator/templates/cccu_babsf_db_fk/Lecture 10-eCRM.pdf"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture 10->eCRM.pdf</a
          >
             </div>
           </div>
         </div>
       </div>
     </div>
