<h1>Module: <strong>Negotiated Workplace Learning</strong></h1>
<hr />
<h2>Module Leader: <strong>Sandra Okwara</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated Workplace Learning  Handbook 2021-22.docx"
                  class="list-group-item list-group-item-action"
          >Negotiated Workplace Learning  Handbook 2021-22.docx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated Workplace Learning Week 1.pptx"
                  class="list-group-item list-group-item-action"
          >Negotiated Workplace Learning Week 1.pptx</a
          >

          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated Workplace Learning Week 2.pptx"
                  class="list-group-item list-group-item-action"
          >Negotiated Workplace Learning Week 2.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated Workplace Learning Week 3.pptx"
                  class="list-group-item list-group-item-action"
          >Negotiated Workplace Learning Week 3.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated workplace learning Week 4.pptx"
                  class="list-group-item list-group-item-action"
          >Negotiated Workplace Learning Week 4.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated workplace learning Week 5 .pptx"
                  class="list-group-item list-group-item-action"
          >Negotiated Workplace Learning Week 5.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated workplace learning Week 6.pptx"
                  class="list-group-item list-group-item-action"
          >Negotiated workplace learning Week 6.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated workplace learning Week 7.pptx"
                  class="list-group-item list-group-item-action"
          >Negotiated workplace learning Week 7.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_bscy3_nwl/Negotiated workplace learning Week 9 Self Management .pptx"
                  class="list-group-item list-group-item-action"
          >Negotiated workplace learning Week 9 Self Management .pptx</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
