<h1>Module: <strong>Introduction to Information Technology</strong></h1>
<hr />
<h2>Module Leader: <strong>Mr. Guru Srinivasan</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Rationale
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        This module is designed to provide students an understanding of the
        functions of different units of the computer systems and their
        interaction with different types of software and the computer user. The
        students also get introductory exposure to the database systems
        management, data communications and working of the Internet. This module
        will also provide a good foundation for pursuing more advanced IT
        modules.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Aims
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        This module aims to provide students with the fundamentals of
        Information and Communication Technologies. With Information Technology
        being used widely all over the globe, this module will help students to
        develop a good understanding of various application areas of information
        technology.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Learning Outcomes
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>
          Upon successful completion of the module the students will be able to:
        </p>
        <ul>
          <li>LO1: Understand and use computing terminologies.</li>
          <li>
            LO2: Understand ethical and social issuesassociated with Technology.
          </li>
          <li>LO3: Differentiate between types of networks.</li>
          <li>LO4: Appreciate the growth and use of the Internet.</li>
          <li>
            LO5: Understand the role of Information Technology inManagement.
          </li>
          <li>
            LO6: Understand the different stages of systems development
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Assessments Criteria
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Form of assessment</td>
            <td>Assessment size</td>
            <td>Weighting (%)</td>
            <td>Learning outcomes assessed</td>
            <td>Core or non-core</td>
          </tr>
          <tr>
            <td>Individual Report</td>
            <td>2000-3000 words</td>
            <td>100%</td>
            <td>LO1, LO2, LO3, LO4, LO5, LO6</td>
            <td>Core</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="https://www.youtube.com/watch?v=NDgqqPvMn0U"
            class="list-group-item list-group-item-action"
            >Harvard Referencing Video
          </a>
          <!--
          <a
            href="../administrator/templates/uos_babsfy_iit/iit-assignment-template.docx"
            class="list-group-item list-group-item-action"
            >IIT Assignment Template
          </a>
          <a
            href="../administrator/templates/uos_babsfy_iit/report-outline-for-iit.txt"
            class="list-group-item list-group-item-action"
            >Report Outline for IIT</a
          >
          -->
          <a
            href="../administrator/templates/uos_babsfy_iit/academic-writing.pdf"
            class="list-group-item list-group-item-action"
            >Academic Writing
          </a>
          <a
            href="../administrator/templates/uos_babsfy_iit/gurus-iit/1.The Impact of Technology.pptx"
            class="list-group-item list-group-item-action list-group-item-success"
            >Lecture01->Chapter 01 - Impact of Technology
          </a>
          <!-- <a
                  href="../administrator/templates/uos_babsfy_iit/satellitefarming.mp4"
                  class="list-group-item list-group-item-action"
          >Chapter 01 - Impact of Technology - Video on Satellite Farming</a>
          -->
          <a
                  href="https://youtu.be/Jky9I1ihAkg"
                  class="list-group-item list-group-item-action"
          >Lecture02->Chapter 01 - Impact of Technology - Video on AI - Robots - 12:06 min</a>
          <a
                  href="https://www.bbc.co.uk/news/business-61318460"
                  class="list-group-item list-group-item-action"
          >Lecture02->BBC News(May 2022):Could contact lenses be the ultimate computer screen?</a
          >
          <a
                  href="https://www.bbc.co.uk/sounds/play/w3ct375f"
                  class="list-group-item list-group-item-action"
          >Lecture02->BBC Podcast(05 Aug 2022):The future of medical virtual reality</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_iit/gurus-iit/2. History of Computers.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
            >Lecture03->2. History of Computers.pptx</a>
          <a
                  href="https://www.youtube.com/watch?v=X5lpOskKF9I&ab_channel=ColdFusion"
                  class="list-group-item list-group-item-action"
          >Lecture03->The PC that started Microsoft & Apple! (Altair 8800) - Youtube Video - 11:39 min</a
          >

          <a
                href="../administrator/templates/uos_babsfy_iit/gurus-iit/3.Understanding Computers.pptx"
                class="list-group-item list-group-item-action list-group-item-success"
          >Lecture03->3. Understanding Your Computer</a
          >
          <a
                  href="https://www.youtube.com/watch?v=mCq8-xTH7jA&ab_channel=Code.org"
                  class="list-group-item list-group-item-action"
          >Lecture03->How Computers Work: What Makes a Computer, a Computer? - Youtube Video - 5:09 min </a
          >
          <a
                  href="../administrator/templates/uos_babsfy_iit/gurus-iit/4.Computer Networks(1).pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture04->4.Computer Networks.pptx</a
          >
          <a
                  href="https://www.youtube.com/watch?v=4_zSIXb7tLQ"
                  class="list-group-item list-group-item-action"
          >Lecture04->Network Types - Youtube Video - 5:00 min</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_iit/gurus-iit/5.SDLC.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture05->Software Development Life Cycle</a
          >
          <a
                  href="https://www.youtube.com/watch?v=gNmrGZSGK1k"
                  class="list-group-item list-group-item-action"
          >Lecture05->SDLC - Youtube Video - 10:00 min</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_iit/gurus-iit/6.Software.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture06->6.Software.pptx</a
          >
          <a
                  href="https://www.youtube.com/watch?v=BTB86HeZVwk&ab_channel=MakeItEasyEducation"
                  class="list-group-item list-group-item-action"
          >Lecture06->TYPES OF SOFTWARE - Youtube Video - 5:47 min</a
          >
          <a
                  href="https://www.youtube.com/watch?v=M-6WvDU9JNg&ab_channel=LearnComputerScience"
                  class="list-group-item list-group-item-action"
          >Lecture06->What Is Application Software ? | Computer Organization And Architecture - Youtube Video 5:50 min</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_iit/gurus-iit/7. AI & Ethics.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture07->7. AI & Ethics.pptx</a
          >
          <a
                  href="https://www.youtube.com/watch?v=I9FOswjTSGg"
                  class="list-group-item list-group-item-action"
          >Lecture07->The Biggest Ethical Challenges For Artificial intelligence - Youtube Video - 10:41 min</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_iit/CH06-Using_the_Internet.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->Chapter 08 Using the Internet </a
          >
          <a
                  href="https://www.youtube.com/watch?v=x3c1ih2NJEg&ab_channel=LearnEngineering"
                  class="list-group-item list-group-item-action"
          >Lecture08->Chapter 08 Introduction to the Internet - Youtube Video - How does the Internet work? - 8:58 min</a
          >

          <a
                  href="https://www.youtube.com/watch?v=Aw3R-4UC4wI&ab_channel=TechInsider"
                  class="list-group-item list-group-item-action"
          >Lecture08->Starlink Internet - Youtube Video - Broadband Internet for rural areas(Entire globe) - 5:45 min </a
          >
          <a
                  href="../administrator/templates/cccu_babsf_iit/gurus-iit/9.Introduction_to_ECommerce.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture09->Introduction to ECommerce</a
          >
          <a
                  href="https://www.youtube.com/watch?v=Zzs6kLlkAUQ"
                  class="list-group-item list-group-item-action"
          >Lecture09-> Youtube Video on Introduction to ECommerce - 6:57 min</a
          >
          <a
                  href="../administrator/templates/cccu_babsf_iit/gurus-iit/10.Social_Media.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture10->10.Social_Media.pptx</a
          >
          <a
                  href="https://www.youtube.com/watch?v=66cD5En8Vfg"
                  class="list-group-item list-group-item-action"
          >Lecture10->Social Media is Making Us Unsocial | Kristin Gallucci | TEDxBocaRaton - Youtube Video:8:48 min</a
          >

          <a
                  href="../administrator/templates/cccu_babsf_iit/gurus-iit/11.Ethics and Privacy.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture11->11.Ethics and Privacy.pptx</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
