<h1>Module: <strong>Business Communications</strong></h1>
<hr />
<h2>Module Leader: <strong>Sarah Gibbons</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Rationale
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Business communication and negotiation is one of the key skills needed for people involves with any business activities. This module provides a unique opportunity for
        students to learn and practice the theories and techniques how to communicate effectively to business partners. This module assists students in exploring and developing
        perspectives on communication at personal and organisational levels recognising cultural contexts. The nature and importance of management in the organisation will
        be considered and links between these key areas analysed appropriately.
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
          >
            Aims
          </button>
        </h2>
      </div>
      <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          This module focuses on theories relating to current trends in Business Communication including marketing and crisis situations.
          Through small group working it develops practical communications skills to a “real-time” campaign allowing students to experience the process of
          a campaign from strategic intent through to delivery in a business environment. Development of campaign themes, key messages, and message
          consistency provides students of this module with theoretical knowledge and skills set transferable into both pro-active and reactive communications
          with internal and external audiences.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
          >
            Learning Outcomes
          </button>
        </h2>
      </div>
      <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Upon successful completion of the module the students will be able to:
          </p>
          <ul>
            <li>LO1: Describe and analyse the purposes and principles behind different forms of organisational communication;
            </li>
            <li>
              LO2: Identify common challenges to effective communication;
            </li>
            <li>LO3: Devise and develop strategies for overcoming communication barriers;</li>
            <li>LO4: Apply principles of effective communication to enhance their practice;
            </li>
            <li>
              LO5: Evaluate the communication practices of themselves and others;
            </li>
            <li>
              LO6: Demonstrate increased awareness of cultural influences on communication and negotiation.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
          >
            Assessments Criteria
          </button>
        </h2>
      </div>
      <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          <table class="table">
            <tr>
              <td>Form of assessment</td>
              <td>Assessment size</td>
              <td>Weighting (%)</td>
              <td>Learning outcomes assessed</td>
              <td>Core or non-core</td>
            </tr>
            <tr>
              <td>Advertising Material (PowerPoint presentation)</td>
              <td>10 slides - 500 words altogether, plus images</td>
              <td>50%</td>
              <td>LO2, LO3, LO6</td>
              <td>Core</td>
            </tr>
            <tr>
              <td>Individual Report</td>
              <td>1500 words</td>
              <td>50%</td>
              <td>LO1, LO4, LO5</td>
              <td>Core</td>
            </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Main Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Lecture 1
          </div>
          <a
            href="../administrator/templates/uos_babsfy_bc/week1/BC week 1 Communication models and barriers.pdf"
            class="list-group-item list-group-item-action"
            >Communication Models and Barriers</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 2
          </div>
          <a
            href="../administrator/templates/uos_babsfy_bc/week2/The importance of Communication in a Business Environment.pdf"
            class="list-group-item list-group-item-action"
            >The importance of Communication Business Environment</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 3
          </div>
          <a
            href="../administrator/templates/uos_babsfy_bc/week3/Verbal and Non-Verbal Communication.pdf"
            class="list-group-item list-group-item-action"
            >Verbal and Non-Verbal Communication</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 4
          </div>
          <a href="../administrator/templates/uos_babsfy_bc/week4/telephone_and_meeting_skills.pdf"
             class="list-group-item list-group-item-action"
          >Telephone and Meeting Skills</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 5
          </div>

          <a href="../administrator/templates/uos_babsfy_bc/week5/Focus on Business writing.pdf"
             class="list-group-item list-group-item-action"
             >Business Writing</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 6
          </div>
          <a
                  href="../administrator/templates/uos_babsfy_bc/week6/BC week 6 - Giving Presentations.pdf"
                  class="list-group-item list-group-item-action"
          >Giving Presentations.pdf</a>
          <div class="list-group-item bg-info text-white">
            Lecture 7
          </div>
          <a
                href="../administrator/templates/uos_babsfy_bc/week7/BC week 7 Intrapersonal and Interpersonal Communication.pdf"
                class="list-group-item list-group-item-action"
          >Intrapersonal and Interpersonal Communication</a>
          <!--
          <a
                            href="../administrator/templates/uos_babsfy_bc/week4/different_forms_of_organisational_communication.pdf"
                            class="list-group-item list-group-item-action"
                    >Different Forms of Organisational Communication</a
                    >
                    <a
                            href="../administrator/templates/uos_babsfy_bc/week4/example_poster1_barriers.pdf"
                            class="list-group-item list-group-item-action"
                    >Example poster 1 - barriers</a
                    >
                    <a
                            href="../administrator/templates/uos_babsfy_bc/week4/poster_preparation.pdf"
                            class="list-group-item list-group-item-action"
                    >Poster preparation</a
                    >
                    <div class="list-group-item bg-info text-white">
                      Lecture 5
                    </div>
                    <a
                      href="../administrator/templates/uos_babsfy_bc/week5/assignment2.pdf"
                      class="list-group-item list-group-item-action"
                      >Assignment 2</a
                    >
                    <a
                      href="../administrator/templates/uos_babsfy_bc/week5/evaluation_of_communication_practices.pdf"
                      class="list-group-item list-group-item-action"
                      >Evaluation of Communication Practices</a
                    >
                    <a
                      href="../administrator/templates/uos_babsfy_bc/week5/focus_on_business_writing.pdf"
                      class="list-group-item list-group-item-action"
                      >Focus on Business Writing</a
                    >
                    <a
                            href="../administrator/templates/uos_babsfy_bc/week5/principles_of_effective_communication.pdf"
                            class="list-group-item list-group-item-action"
                    >Principles of Effective Communication</a
                    >
                    <div class="list-group-item bg-info text-white">
                      Lecture 6
                    </div>
                    <a
                      href="../administrator/templates/uos_babsfy_bc/week6/assignment.pdf"
                      class="list-group-item list-group-item-action"
                      >Assignment 2</a
                    >
                    <a
                      href="../administrator/templates/uos_babsfy_bc/week6/template.asd.rtf"
                      class="list-group-item list-group-item-action"
                    >Assignment 2 Template</a
                    >
                    <div class="list-group-item bg-info text-white">
                      Lecture 7
                    </div>
                    <a
                            href="../administrator/templates/uos_babsfy_bc/week7/review.pdf"
                            class="list-group-item list-group-item-action"
                    >Review</a
                    ><a
                          href="../administrator/templates/uos_babsfy_bc/week7/intrapersonal_and_interpersonal_communication.pdf"
                          class="list-group-item list-group-item-action"
                  >Intrapersonal and Interpersonal Communication</a
                  >
                  -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>