<h1>Module: <strong>Entrepreneurship and Business Development</strong></h1>
<hr />
<h2>Module Leader(s): <strong>Dr Rajendra Kumar/Mervyn Sookun/Mfon Jackson</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L1A-The nature & importance of entrepreneurs.ppt"
                  class="list-group-item list-group-item-action"
          >L1A-The nature & importance of entrepreneurs.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L1B-ENTREPRENEURS_RECOGNIZE_OPPORTUNITIES.pdf"
                  class="list-group-item list-group-item-action"
          >L1B-ENTREPRENEURS_RECOGNIZE_OPPORTUNITIES.pdf
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L2- Creativity and the business idea.ppt"
                  class="list-group-item list-group-item-action"
          >L2- Creativity and the business idea.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L3-The Business Plan.ppt"
                  class="list-group-item list-group-item-action"
          >L3-The Business Plan.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L3A-The Business Plan.ppt"
                  class="list-group-item list-group-item-action"
          >L3A-The Business Plan.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L3B-Business_Plan.ppt"
                  class="list-group-item list-group-item-action"
          >L3B-Business_Plan.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L4-The Marketing Plan.ppt"
                  class="list-group-item list-group-item-action"
          >L4-The Marketing Plan.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L5- The Financial Plan.ppt"
                  class="list-group-item list-group-item-action"
          >L5- The Financial Plan.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L6-The Organizational Plan.ppt"
                  class="list-group-item list-group-item-action"
          >L6-The Organizational Plan.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L7-Managing early growth of the new venture.ppt"
                  class="list-group-item list-group-item-action"
          >L7-Managing early growth of the new venture.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L8A-Ending the venture.ppt"
                  class="list-group-item list-group-item-action"
          >L8A-Ending the venture.ppt
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L8B_ADDRESSING_LEGAL_ISSUES_AND_MANAGING_RISK.pdf"
                  class="list-group-item list-group-item-action"
          >L8B_ADDRESSING_LEGAL_ISSUES_AND_MANAGING_RISK.pdf
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_ebd/L9-International entrepreneurship opportunities.ppt"
                  class="list-group-item list-group-item-action"
          >L9-International entrepreneurship opportunities.ppt
          </a>
        </div>
        <div class="card-header" id="heading11">
          <h2 class="mb-0">
            <button
                    class="btn btn-primary btn-lg btn-block collapsed collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#lecture-11"
                    aria-expanded="false"
                    aria-controls="lecture-11"
            >
              EBD Additional Material
            </button>
          </h2>
        </div>
        <div class="list-group">
          <a
                  href="../administrator/templates/uos_babsfy_eb/Business_Plan_Outline_1_.ppt"
                  class="list-group-item list-group-item-action"
          >Business_Plan_Outline_1_.ppt
          </a>
          <a
            href="../administrator/templates/uos_babsfy_eb/Defining_Business_Ideas_1_.pptx"
            class="list-group-item list-group-item-action"
            >Defining_Business_Ideas_1_.pptx
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_eb/Introduction.pptx"
                  class="list-group-item list-group-item-action"
          >Introduction.pptx
          </a>
          <a
                href="../administrator/templates/uos_babsfy_eb/Lesson_1_-_ENTREPRENEURS_RECOGNIZE_OPPORTUNITIES.pdf"
                class="list-group-item list-group-item-action"
          >Lesson_1_-_ENTREPRENEURS_RECOGNIZE_OPPORTUNITIES.pdf
          </a>
          <a
                href="../administrator/templates/uos_babsfy_eb/Lesson_2_-_THE_BUSINESS_PLAN_-_ROAD_MAP_TO_SUCCESS.pdf"
                class="list-group-item list-group-item-action"
          >Lesson_2_-_THE_BUSINESS_PLAN_-_ROAD_MAP_TO_SUCCESS.pdf
          </a>
          <a
                href="../administrator/templates/uos_babsfy_eb/Lesson_3_-_CREATING_BUSINESS_FROM_OPPORTUNITY.pdf"
                class="list-group-item list-group-item-action"
          >Lesson_3_-_CREATING_BUSINESS_FROM_OPPORTUNITY.pdf
          </a>
          <a
                href="../administrator/templates/uos_babsfy_eb/Lesson_4_-_EXPLORING_YOUR_MARKET.pdf"
                class="list-group-item list-group-item-action"
          >Lesson_4_-_EXPLORING_YOUR_MARKET.pdf
          </a>
          <a
                href="../administrator/templates/uos_babsfy_eb/Lesson_5_-_DEVELOPING_THE_RIGHT_MARKETING_MIX_AND_PLAN.pdf"
                class="list-group-item list-group-item-action"
          >Lesson_5_-_DEVELOPING_THE_RIGHT_MARKETING_MIX_AND_PLAN.pdf
          </a>
          <a
                href="../administrator/templates/uos_babsfy_eb/Lesson_6_-_SMART_SELLING_AND_EFFECTIVE_CUSTOMER_SERVICE.pdf"
                class="list-group-item list-group-item-action"
          >Lesson_6_-_SMART_SELLING_AND_EFFECTIVE_CUSTOMER_SERVICE.pdf
          </a>
          <a
                href="../administrator/templates/uos_babsfy_eb/Lesson_7_-_UNDERSTANDING_AND_MANAGING_START-UP_FIXED_AND_VARIABLE_COSTS.pdf"
                class="list-group-item list-group-item-action"
          >Lesson_7_-_UNDERSTANDING_AND_MANAGING_START-UP_FIXED_AND_VARIABLE_COSTS.pdf
          </a>
          <a
                href="../administrator/templates/uos_babsfy_eb/Lesson_8_-_USING_FINANCIAL_STATEMENTS_TO_GUIDE_A_BUSINESS.pdf"
                class="list-group-item list-group-item-action"
          >Lesson_8_-_USING_FINANCIAL_STATEMENTS_TO_GUIDE_A_BUSINESS.pdf
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_eb/Lesson_9_-_CASH_FLOW_AND_TAXES.pdf"
                  class="list-group-item list-group-item-action"
          >Lesson_9_-_CASH_FLOW_AND_TAXES.pdf
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_eb/Lesson_10_-_FINANCING_STRATEGY.pdf"
                  class="list-group-item list-group-item-action"
          >Lesson_10_-_FINANCING_STRATEGY.pdf
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_eb/Lesson_11_-_ADDRESSING_LEGAL_ISSUES_AND_MANAGING_RISK.pdf"
                  class="list-group-item list-group-item-action"
          >Lesson_11_-_ADDRESSING_LEGAL_ISSUES_AND_MANAGING_RISK.pdf
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_eb/Lesson_12_-_OPERATING_FOR_SUCCESS.pdf"
                  class="list-group-item list-group-item-action"
          >Lesson_12_-_OPERATING_FOR_SUCCESS.pdf
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_eb/Lesson_13_-_MANAGEMENT_LEADERSHIP_ETHICAL_PRACTICES.pdf"
                  class="list-group-item list-group-item-action"
          >Lesson_13_-_MANAGEMENT_LEADERSHIP_ETHICAL_PRACTICES.pdf
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_eb/Lesson_14_-_FRANCHISING_LICENSING_HARVESTING_-_CASHING_IN_YOUR_BRAND.pdf"
                  class="list-group-item list-group-item-action"
          >Lesson_14_-_FRANCHISING_LICENSING_HARVESTING_-_CASHING_IN_YOUR_BRAND.pdf
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
