<h1>Module: <strong>Public Health</strong></h1>
<hr />
<h2>Module Leader: <strong>Mr. Chijioke Agomo</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">

          <div class="list-group-item bg-info text-white">
            Essay Terms
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/ESSAY TERMS EXPLAINED.docx"
                  class="list-group-item list-group-item-action"
          >Essay Terms Explained</a
          >
          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
            href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH-WEEK 1-INTRODUCTORY SLIDE (2).pptx"
            class="list-group-item list-group-item-action"
            >PUBLIC HEALTH-WEEK 1-INTRODUCTORY SLIDE.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH-LO4-WEEK 1-SLIDE 2-HEALTH PROMOTION.pptx"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH-LO4-WEEK 1-SLIDE 2-HEALTH PROMOTION.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH-LO4-WEEK 2-THEORIES & MODELS.pptx"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH-LO4-WEEK 2-THEORIES & MODELS.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 3
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH -WEEK 3- LO-1- DISEASE & ILL-HEALTH.pptx"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH -WEEK 3- LO-1- DISEASE & ILL-HEALTH.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 4
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH -L01-WEEK 4-HEALTH INEQUALITY & THE SOCIAL DETERMINANTs of HEALTH.pptx"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH -L01-WEEK 4-HEALTH INEQUALITY & THE SOCIAL DETERMINANTs of HEALTH.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 5
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH-LO2-WK 5-HEALTH PROMOTION-STRATEGY.pptx"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH-LO2-WK 5-HEALTH PROMOTION-STRATEGY.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 6
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH-LO3-WEEK 6--EPIDEMIOLOGY.pptx"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH-LO3-WEEK 6--EPIDEMIOLOGY.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 7
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH-LO3-WEEK 7-DEMOGRAPHICS in RELATION TO PUBLIC HEALTH PRACTICE.pptx"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH-LO3-WEEK 7-DEMOGRAPHICS in RELATION TO PUBLIC HEALTH PRACTICE.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH-ASSIGNMENT STEP by STEP GUIDE OK (1).docx"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH-ASSIGNMENT STEP by STEP GUIDE OK.docx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/PUBLIC HEALTH-HEALTH PROMOTION STRATEGY EXAMPLE.pdf"
                  class="list-group-item list-group-item-action"
          >PUBLIC HEALTH-HEALTH PROMOTION STRATEGY EXAMPLE.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ph/SELECTED IMPACTS of WIDER DETERMINANTS ON OUR HEALTH.docx"
                  class="list-group-item list-group-item-action"
          >SELECTED IMPACTS of WIDER DETERMINANTS ON OUR HEALTH.docx</a
          >
      </div>
      </div>
    </div>
  </div>
</div>
