<h1>Module: <strong>Work Related Learning</strong></h1>
<hr />
<h2>Module Leader: <strong>Chijioke Olivier Agomo</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Introduction Reflective Practitioner.pptx"
                  class="list-group-item list-group-item-action"
          >Introduction Reflective Practitioner.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Reflective practice.pptx"
                  class="list-group-item list-group-item-action"
          >Reflective practice.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Semester 2 Week 5 Personalisation and choice.pptx"
                  class="list-group-item list-group-item-action"
          >Semester 2 Week 5 Personalisation and choice.pptx</a
          >

          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
            href="../administrator/templates/ncd_fdhsc_wrl/WRL-WEEK 1-INTRODUCTORY SLIDE.odp"
            class="list-group-item list-group-item-action"
            >WRL-WEEK 1-INTRODUCTORY SLIDE.odp</a
          >
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/WRL-WEEK 2-THE NATURE OF THE HEALTH AND SOCIAL CARE SECTOR.pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 2-THE NATURE OF THE HEALTH AND SOCIAL CARE SECTOR.pptx</a
          ><div class="list-group-item bg-info text-white">
          Week 3
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/WRL-WEEK 3-OVERVIEW OF LITERATURES ON THE HEALTH AND SOCIAL CARE SECTOR.pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 3-OVERVIEW OF LITERATURES ON THE HEALTH AND SOCIAL CARE SECTOR.pptx</a
          ><div class="list-group-item bg-info text-white">
          Week 4
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/WEEK 4 Structure of Health and Social Care.pptx"
                  class="list-group-item list-group-item-action"
          >WEEK 4 Structure of Health and Social Care.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/WEEK 4 Structure of Health and Social Care.pptx"
                  class="list-group-item list-group-item-action"
          >Career Proespects in health and social care-week4.pptx</a>

          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/Week 4-BIG ISSUE IN HSC BEFORE COVID 19  & COVID 19 NEGATIVE IMPACT.pptx"
                  class="list-group-item list-group-item-action"
          >Week 4-BIG ISSUE IN HSC BEFORE COVID 19  & COVID 19 NEGATIVE IMPACT.pptx - TAYO</a>
          <div class="list-group-item bg-info text-white">
          Week 5
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Week 5 Social determinants of health.pptx"
                  class="list-group-item list-group-item-action"
          >Week 5 Social determinants of health.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Week 5 Structure-function of Organisation.pptx"
                  class="list-group-item list-group-item-action"
          >Week 5 Structure-function of Organisation.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/WEEK 5-LO2 - THE PROSPECTS of ENTERING INTO A CHOSEN SECTOR as A CAREER PATHWAY.pptx"
                  class="list-group-item list-group-item-action"
          >WEEK 5-LO2 - THE PROSPECTS of ENTERING INTO A CHOSEN SECTOR as A CAREER PATHWAY.pptx - TAYO</a
          >
          <div class="list-group-item bg-info text-white">
          Week 6
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/WRL-Week 6-Models Of Organisational  Structure.pptx"
                  class="list-group-item list-group-item-action"
          >Models Of Organisational Structure</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Week 8 Equality and Diversity.pptx"
                  class="list-group-item list-group-item-action"
          >Equality and Diversity.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/WRL-WEEK 6-HOW COVID 19 IMPACTED THE CAREER PROSPECTS FOR HEALTH & SOCIAL CARE.pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 6-HOW COVID 19 IMPACTED THE CAREER PROSPECTS FOR HEALTH & SOCIAL CARE.pptx- TAYO</a
          >

          <div class="list-group-item bg-info text-white">
          Week 7
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Week 9 Privacy and Dignity in Care.pptx"
                  class="list-group-item list-group-item-action"
          >Week 9 Privacy and Dignity in Care.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/WRL-Week 7-Theories Of Organisational Culture.pptx"
                  class="list-group-item list-group-item-action"
          >Theories Of Organisational Culture</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/WRL-WEEK 7-STRUCTURE & FUNCTION OF AN ORGANISATION.pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 7-STRUCTURE & FUNCTION OF AN ORGANISATION.pptx - TAYO</a
          >

          <div class="list-group-item bg-info text-white">
          Week 8
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Week 10 Duty of Care.pptx"
                  class="list-group-item list-group-item-action"
          >Week 10 Duty of Care.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/WRL-WEEK 8-THEORIES OF ORGANISATION CULTURE.pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 8-THEORIES OF ORGANISATION CULTURE.pptx - TAYO</a
          >

          <div class="list-group-item bg-info text-white">
          Week 9
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Assignment-1 (updated) (2).pptx"
                  class="list-group-item list-group-item-action"
          >Assignment-1 (updated) (2).pptx</a>

          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/WRL-Week 9-LO1-Revision.pptx"
                  class="list-group-item list-group-item-action"
          >Revision.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Week 11 Psychology for Health care.pptx"
                  class="list-group-item list-group-item-action"
          >Week 11 Psychology for Health care.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/WRL-WEEK 9-EXPLORING THE NHS TRUST CULTURE & STRUCTURE.pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 9-EXPLORING THE NHS TRUST CULTURE & STRUCTURE.pptx - TAYO</a
          >


          <div class="list-group-item bg-info text-white">
            Week 10
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/WRL-WEEK 10-THE RELATIONSHIP BTW THE ORGANISATION & ITS STAKEHOLDERS.pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 10-THE RELATIONSHIP BTW THE ORGANISATION & ITS STAKEHOLDERS.pptx - TAYO</a
          >

          <div class="list-group-item bg-info text-white">
            Week 11
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/WRL-WEEK 11-STAKEHOLDERS in HEALTHCARE.pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 11-STAKEHOLDERS in HEALTHCARE.pptx - TAYO</a
          >

          <div class="list-group-item bg-info text-white">
            Week 12
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrl/Tayo/WRL-WEEK 12-THE ROLE of STAKEHOLDERS IN NHS .pptx"
                  class="list-group-item list-group-item-action"
          >WRL-WEEK 12-THE ROLE of STAKEHOLDERS IN NHS .pptx - TAYO</a
          >

      </div>
      </div>
    </div>
  </div>
</div>
