<h1>Module: <strong>Principles of Marketing</strong></h1>
<hr />
<h2>Module Leader: <strong>Douglas Darkwah</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
            <div class="list-group-item bg-info text-white">
                Module Specification
            </div>
            <a
                    href="../administrator/templates/ncd_fdabm_pom/POM - Module Guide.docx"
                    class="list-group-item list-group-item-action"
            >POM - Module Guide.docx</a
            >
            <div class="list-group-item bg-info text-white">
                Lecture Slides
            </div>
            <a
                      href="../administrator/templates/ncd_fdabm_pom/1-Marketing Introduction.pptx"
                      class="list-group-item list-group-item-action"
            >Lecture01-Marketing Introduction.pptx</a
            >

            <a
                    href="../administrator/templates/ncd_fdabm_pom/2_Products and Services.pptx"
                    class="list-group-item list-group-item-action"
            >Lecture02_Products and Services.pptx</a
            >

            <a
                    href="../administrator/templates/ncd_fdabm_pom/3-Segmentation Updated.pptx"
                    class="list-group-item list-group-item-action"
            >Lecture03-Segmentation Updated.pptx</a
            >

            <a
                    href="../administrator/templates/ncd_fdabm_pom/4-Marketing Research .pptxx"
                    class="list-group-item list-group-item-action"
            >Lecture04-Marketing Research .pptx</a
            >

            <a
                    href="../administrator/templates/ncd_fdabm_pom/5- Pricing.ppt"
                    class="list-group-item list-group-item-action"
            >Lecture05- Pricing.ppt</a
            >

            <a
                    href="../administrator/templates/ncd_fdabm_pom/6-IMC Lecture.ppt"
                    class="list-group-item list-group-item-action"
            >Lecture06-IMC Lecture.ppt</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/7-Distribution Lecture.ppt"
                    class="list-group-item list-group-item-action"
            >Lecture07-Distribution Lecture.ppt</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/Marketing Planning.pptx"
                    class="list-group-item list-group-item-action"
            >Lecture08-Marketing Planning.pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/Marketing Planning.pptx"
                    class="list-group-item list-group-item-action"
            >Lecture08-Marketing Planning.pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/9-Comsumer Buyer Behaviour Lecture.ppt"
                    class="list-group-item list-group-item-action"
            >Lecture09-Cosumer Buyer Behaviour Lecture.ppt</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/10-Service Marketing Mix.ppt"
                    class="list-group-item list-group-item-action"
            >Lecture10-Service Marketing Mix.ppt</a
            >
            <div class="list-group-item bg-info text-white">
                Books
            </div>
            <a
                    href="../administrator/templates/ncd_fdabm_pom/books/eMarketing - The Essential Guide to Online Marketing.pdf"
                    class="list-group-item list-group-item-action"
            >eMarketing - The Essential Guide to Online Marketing.pdf</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/books/emarketing_textbook_download.pdf"
                    class="list-group-item list-group-item-action"
            >eMarketing_textbook_download.pdf</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/books/The Power of Selling.pdf"
                    class="list-group-item list-group-item-action"
            >The Power of Selling.pdf</a
            ><a
                href="../administrator/templates/ncd_fdabm_pom/books/ultimate-guide-to-digital-marketing.pdf"
                class="list-group-item list-group-item-action"
            >Ultimate-guide-to-digital-marketing.pdf</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/books/Internet Marketing textbook.pdf"
                    class="list-group-item list-group-item-action"
            >Internet Marketing textbook.pdf</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/books/Materials-Electronic-Marketing.pdf"
                    class="list-group-item list-group-item-action"
            >Materials-Electronic-Marketing.pdf</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/books/powerful-selling.pdf"
                    class="list-group-item list-group-item-action"
            >Powerful-selling.pdf</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/books/Principles of Marketing.pdf"
                    class="list-group-item list-group-item-action"
            >Principles of Marketing.pdf</a
            >
            <div class="list-group-item bg-info text-white">
                Kotler's Text Book
            </div>
            <a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 1 Understanding Marketing Management Chapter 1.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 1 Understanding Marketing Management Chapter 1.ppt</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 2 Understanding marketing managemnt within a global context.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 2 Understanding marketing managemnt within a global context.ppt</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 3 Developing marketing strategies and plans.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 3 Developing marketing strategies and plans.ppt</a
            ><a
                href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 4 Managing digital technology in marketing.ppt"
                class="list-group-item list-group-item-action"
            >Chapter 4 Managing digital technology in marketing.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 5 Part 2 The changing marketing environment and information management.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 5 Part 2 The changing marketing environment and information management.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 6 Managing market research and forecasting.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 6 Managing market research and forecasting.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 7 Analysing consumer markets.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 7 Analysing consumer markets.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 8 Analysing business markets.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 8 Analysing business markets.pptt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 9 Dealing with competition.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 9 Dealing with competition.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 10 Seeking and developing target marketing differentiation strategies.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 10 Seeking and developing target marketing differentiation strategies.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 11 Part 3 Creating customer value, satisfaction and loyalty.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 11 Part 3 Creating customer value, satisfaction and loyalty.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 12 Creating and managing brands and brand equity.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 12 Creating and managing brands and brand equity.pptt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 13 Digital and global brand management strategies.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 13 Digital and global brand management strategies.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 14 Part 4 Designing, developing and managing market offerings.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 14 Part 4 Designing, developing and managing market offerings.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 15 Intoducing new market offerings.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 15 Intoducing new market offerings.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 16 Developing and managing pricing strategies.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 16 Developing and managing pricing strategies.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 17 Part 5 Designing and managing non-personal marketing communications.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 17 Part 5 Designing and managing non-personal marketing communications.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 18 Maning personal communications.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 18 Maning personal communications.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 19 Part 6 Designing and managing distribution channels and global value networks.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 19 Part 6 Designing and managing distribution channels and global value networks.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 20 Managing process, people and physical evidence.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 20 Managing process, people and physical evidence.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 21 Part 7 Implementing marketing management.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 21 Part 7 Implementing marketing management.ppt</a
            ><a
                    href="../administrator/templates/ncd_fdabm_pom/kotlers_book/Chapter 22 Managing marketing metrics.ppt"
                    class="list-group-item list-group-item-action"
            >Chapter 22 Managing marketing metrics.ppt</a
            >
        </div>
    </div>
  </div>
</div>
