<h1>Module: <strong>Work Related Learning</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Rajendra Kumar</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">

          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK ONE Introduction to WRL.pptx"
                  class="list-group-item list-group-item-action"
          >WRL WEEK ONE Introduction to WRL.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK TWO Employability Skills.ppt"
                  class="list-group-item list-group-item-action"
          >WRL WEEK TWO Employability Skills.ppt</a
          >
          <div class="list-group-item bg-info text-white">
          Week 3
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK THREE YOUR RIGHTS AT WORK.pptx"
                  class="list-group-item list-group-item-action"
          >WRL WEEK THREE YOUR RIGHTS AT WORK.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK THREE Personal SWOT Analysis.pptx"
                  class="list-group-item list-group-item-action"
          >WRL WEEK THREE Personal SWOT Analysis.pptx</a
          >
          <div class="list-group-item bg-info text-white">
          Week 4
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK FOUR Career Planning.pptm"
                  class="list-group-item list-group-item-action"
          >WRL WEEK FOUR Career Planning.pptm</a
          >
         <div class="list-group-item bg-info text-white">
          Week 5
         </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK FIVE Career Development.ppt"
                  class="list-group-item list-group-item-action"
          >WRL WEEK FIVE Career Development.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/Week 5 Structure-function of Organisation.pptx"
                  class="list-group-item list-group-item-action"
          >Week 5 Structure-function of Organisation.pptx</a
          >
          <div class="list-group-item bg-info text-white">
          Week 6
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK SIX- Assessment 2 Guidance Updated.pptx"
                  class="list-group-item list-group-item-action"
          >WRL WEEK SIX- Assessment 2 Guidance Updated.pptx</a
          >
          <div class="list-group-item bg-info text-white">
          Week 7
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK SEVEN Skills Matrix - Business.doc"
                  class="list-group-item list-group-item-action"
          >WRL WEEK SEVEN Skills Matrix - Business.doc</a
          >
          <div class="list-group-item bg-info text-white">
          Week 8
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK EIGHT MANAGEMENT AND LEADERSHIP.ppt"
                  class="list-group-item list-group-item-action"
          >WRL WEEK EIGHT MANAGEMENT AND LEADERSHIP.ppt</a
          >
          <div class="list-group-item bg-info text-white">
          Week 9
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_wrl/WRL WEEK NINE ROLE OF MANAGER.pptx"
                  class="list-group-item list-group-item-action"
          >WRL WEEK NINE ROLE OF MANAGER.pptx</a>
      </div>
      </div>
    </div>
  </div>
</div>
