<h1>Module: <strong>Managing People</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Rajendra Kumar</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Managing People Module Delivery
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_mp/MANAGING PEOPLE MODULE DELIVERY.docx"
                  class="list-group-item list-group-item-action"
          >MANAGING PEOPLE MODULE DELIVERY.docx</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 1 - Introduction to HRM
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_mp/L1 Introduction to HRM/MOP1.ppt"
            class="list-group-item list-group-item-action"
            >MOP1.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L1 Introduction to HRM/MOP_01.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_01.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L1 Introduction to HRM/MOP1A.ppt"
                  class="list-group-item list-group-item-action"
          >MOP 1A.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 2 - EEO and SHRM
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_mp/L2 EEO and SHRM/MOP2.ppt"
            class="list-group-item list-group-item-action"
            >MOP2.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L2 EEO and SHRM/MOP_02.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_02.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L2 EEO and SHRM/MOP_02A.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_02A.ppt</a
          >
          <a href="../administrator/templates/ncd_fdabm_mp/L2 EEO and SHRM/MOP2B.ppt"
             class="list-group-item list-group-item-action"
          >MOP2B.ppt</a>

          <div class="list-group-item bg-info text-white">
            Lecturer 3 - Job Analysis and Personnel Planning
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L3 Job Analysis and Personnel Planning/MOP_03.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_03.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L3 Job Analysis and Personnel Planning/MOP_03A.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_03A.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L3 Job Analysis and Personnel Planning/Human Resouce Planning and Recruitment.ppt"
                  class="list-group-item list-group-item-action"
          >Human Resouce Planning and Recruitment.ppt</a
          >
          <a href="../administrator/templates/ncd_fdabm_mp/L3 Job Analysis and Personnel Planning/Job Analysis and HR Planning.ppt"
             class="list-group-item list-group-item-action"
          >Job Analysis and HR Planning.ppt</a>
          <div class="list-group-item bg-info text-white">
            Lecture 4
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L4 Recruitment/MOP4.ppt"
                  class="list-group-item list-group-item-action"
          >MOP4.ppt</a
          >
          <a
            href="../administrator/templates/ncd_fdabm_mp/L4 Recruitment/gdpowerpoint_slides_MOP 4A [EDocFind.com].ppt"
            class="list-group-item list-group-item-action"
            >gdpowerpoint_slides_MOP 4A [EDocFind.com].ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L4 Recruitment/RECRUITMENT and selection METHODS.pdf"
                  class="list-group-item list-group-item-action"
          >RECRUITMENT and selection METHODS.pdf</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 5
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_mp/L5 Selection/MOP_05.ppt"
            class="list-group-item list-group-item-action"
            >MOP_05.ppt</a
          >
          <a
            href="../administrator/templates/ncd_fdabm_mp/L5 Selection/MOP_05A.ppt"
            class="list-group-item list-group-item-action"
            >MOP_05A.ppt</a
          >
          <a
            href="../administrator/templates/ncd_fdabm_mp/L5 Selection/MOP5B.ppt"
            class="list-group-item list-group-item-action"
            >MOP5B.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L4 Recruitment/RECRUITMENT and selection METHODS.pdf"
                  class="list-group-item list-group-item-action"
          >RECRUITMENT and selection METHODS.pdf</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 6 - Performance Appraisal and Management
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L6 Performance Appraisal and Management/MOP_06.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_06.ppt</a
          >
          <a
            href="../administrator/templates/ncd_fdabm_mp/L6 Performance Appraisal and Management/MOP6A.ppt"
            class="list-group-item list-group-item-action"
            >MOP6A.ppt</a
          >
          <a
                href="../administrator/templates/ncd_fdabm_mp/L6 Performance Appraisal and Management/performance appraisal20130129084330389.pdf"
                class="list-group-item list-group-item-action"
            >performance appraisal20130129084330389.pdf</a
          >

          <div class="list-group-item bg-info text-white">
            Lecture 7 - Talent Management and Career Development
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_mp/L7 Talent Management and Career Development/MOP7.ppt"
            class="list-group-item list-group-item-action"
            >MOP7.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L7 Talent Management and Career Development/MOP_7A.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_7A.ppt</a
          >
          <a
                href="../administrator/templates/ncd_fdabm_mp/L7 Talent Management and Career Development/MOP 7D.ppt"
                class="list-group-item list-group-item-action"
          >MOP 7D.ppt
          </a
          >
          <a
                href="../administrator/templates/ncd_fdabm_mp/L7 Talent Management and Career Development/ppt-talent-mgmt 07.pptx"
                class="list-group-item list-group-item-action"
          >ppt-talent-mgmt 07.pptx</a
          >
          <a
                href="../administrator/templates/ncd_fdabm_mp/L7 Talent Management and Career Development/Talent-Management 07C.ppt"
                class="list-group-item list-group-item-action"
          >Talent-Management 07C.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 8 - Training, Health & Safety, Benefits & Services
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L8 Training, Health & Safety, Benefits & Services/ch08 TRAINING.ppt"
                  class="list-group-item list-group-item-action"
          >ch08 TRAINING.ppt
          </a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L8 Training, Health & Safety, Benefits & Services/MOP8A.ppt"
                  class="list-group-item list-group-item-action"
          >MOP8A.ppt
          </a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L8 Training, Health & Safety, Benefits & Services/MOP_08 B.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_08 B.ppt
          </a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L8 Training, Health & Safety, Benefits & Services/MOP_8C.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_8C.ppt
          </a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L8 Training, Health & Safety, Benefits & Services/MOP_8D.ppt"
                  class="list-group-item list-group-item-action"
          >MOP_8D.ppt
          </a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L8 Training, Health & Safety, Benefits & Services/Training.pdf"
                  class="list-group-item list-group-item-action"
          >Training.pdf
          </a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 9 - Team Work Theory by Belbin and Bruce Tuckman
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L9 Team Work Theory by Belbin and Bruce Tuckman/BELBIN_effective_team.ppt"
                  class="list-group-item list-group-item-action"
          >BELBIN effective team.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L9 Team Work Theory by Belbin and Bruce Tuckman/Teams in general.ppt"
                  class="list-group-item list-group-item-action"
          >Teams in general.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 10 - Tuckman and Belbin Team Role Theory
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L10 Tuckman and Belbin Team Role Theory/1 GroupsAndTeams.ppt"
                  class="list-group-item list-group-item-action"
          >1 GroupsAndTeams.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L10 Tuckman and Belbin Team Role Theory/Belbin-Team-Roles.pdf"
                  class="list-group-item list-group-item-action"
          >Belbin-Team-Roles.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/L10 Tuckman and Belbin Team Role Theory/creating effective teams-final-v2l.ppt"
                  class="list-group-item list-group-item-action"
          >creating effective teams-final-v2l.ppt</a
          >

          <div class="list-group-item bg-info text-white">
            NCD Program Documents
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_mp/ncd_program_docs/Programme Handbook Rules  Regulations L4.pdf"
                  class="list-group-item list-group-item-action"
          >Programme Handbook Rules  Regualtions L4.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/ncd_program_docs/Programme Handbook Rules  Regualtions L5.pdf"
                  class="list-group-item list-group-item-action"
          >Programme Handbook Rules  Regualtions L5.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/ncd_program_docs/Programme Handbook Your Course L4.pdf"
                  class="list-group-item list-group-item-action"
          >Programme Handbook Your Course L4.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_mp/ncd_program_docs/Programme Handbook Your Course L5.pdf"
                  class="list-group-item list-group-item-action"
          >Programme Handbook Your Course L5.pdf</a
          >
      </div>
      </div>
    </div>
  </div>
</div>
