<h1>Module: <strong>Digital Technologies</strong></h1>
<hr />
<h2>Module Leader: <strong>Chandranna Rayadurg</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Module Description
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        This module explores the impact of innovation and digital technologies on organisational improvements and development.
        It also considers the impact of data and knowledge management for analysing business decision-making and allows you to
        identify improvements for innovation and growth using analysis of information and data.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Aims
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        This module aims to develop students’ knowledge of approaches to innovation and digital technologies and their impact on organisations.
        Students will identify service/organisational improvements and opportunities for innovation and growth, using qualitative and quantitative
        analysis of information and data benchmarking.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Learning Outcomes
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>
          Upon successful completion of the module the students will be able to:
        </p>
        <ul>
          <li>LO1: Critically evaluate the impact of innovation and digital technologies on organisations.</li>
          <li>LO2: Determine the use of innovation and digital technologies on organisational development.</li>
          <li>LO3: Analyse the impact of innovation and digital technologies on data and knowledge management for analysing business decision-making.</li>
          <li>LO4: demonstrate the use of qualitative and quantitative analysis of information to identified service/organisational improvement and opportunities for innovation and growth. </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Assessments Methods
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Assessment Type</td>
            <td>Specific Requirements(e.g. word count)</td>
            <td>Learning outcomes being assessed</td>
            <td>Weighting (%) of final mark</td>
          </tr>
          <tr>
            <td>Digital Portfolio</td>
            <td>2500 words</td>
            <td>LO1, LO2 and LO3</td>
            <td>75%</td>
          </tr>
          <tr>
            <td>Time constrained assessment</td>
            <td>1500 words - Case study distributed to students 2 weeks prior to assessment</td>
            <td>LO4</td>
            <td>25%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="../administrator/templates/ncd_fdabm_dt/Module Outline_Digital_Technologies.docx"
            class="list-group-item list-group-item-action"
            >Module Outline
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_dt/Reading List Digital Technologies.docx"
                  class="list-group-item list-group-item-action"
          >Reading List
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH01.1-Innovation Management - An Introduction.ppt"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week01->CH01.1-Innovation Management-Part1 - An Introduction.ppt
          </a>
          <a
                  href="https://www.youtube.com/watch?v=zQkUtA55ZhM"
                  class="list-group-item list-group-item-action"
          >Week01->Youtube Video:Toyota's full CES 2020 press conference (with flying car concept)</a
          >
          <a
                  href="https://www.youtube.com/watch?v=zQkUtA55ZhM"
                  class="list-group-item list-group-item-action"
          >Week01->Youtube Video:Inside Toyota's Secret Flying Car Facility - Skydrive</a
          >

          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH01.2-Innovation Management - An Introduction.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week02->CH01.2-Innovation Management-Part2 - An Introduction.ppt
          </a>
          <!-- <a
                  href="https://youtu.be/S_NC4dA-Pyo"
                  class="list-group-item list-group-item-action"
          >Week02->Youtube Video:Lilium Jet Is an Engineering Masterpiece</a
          > -->
          <a
                  href="https://youtu.be/tuVuxKTJeBI"
                  class="list-group-item list-group-item-action"
          >Week02->Youtube Video:3 mind-blowing predictions about the future</a
          >

          <a
                  href="https://www.youtube.com/watch?v=Y-lBvI6u_hw&ab_channel=FOX13TampaBay"
                  class="list-group-item list-group-item-action"
          >Week02->Behind the scenes of an Amazon warehouse</a
          >

          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH02-Innovation Management - National systems of Innovation and Entrepreneurship.ppt"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week03->CH02-Innovation Management - National systems of Innovation and Entrepreneurship
          </a>
          <a
                  href="https://www.youtube.com/watch?v=kd-RDX1IjuM&ab_channel=Rolls-Royce"
                  class="list-group-item list-group-item-action"
          >Week03->Rolls-Royce | Spirit of Innovation - the world's fastest all-electric aircraft
          </a>
          <a
                  href="https://www.youtube.com/watch?v=mzhvR4wm__M&ab_channel=TechVision"
                  class="list-group-item list-group-item-action"
          >Week03->Youtube Video:How Amazon Drone Delivery Will Work
          </a>

          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH03-Innovation Management - Public Sector Innovation.ppt"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week04->CH03-Innovation Management - Public sector innovation
          </a>
          <a
                  href="https://www.youtube.com/watch?v=JoP1lvgGLys&ab_channel=CNBC"
                  class="list-group-item list-group-item-action"
          >Week04->Youtube Video:Domino's First Company To Deliver Pizza By Drone
          </a>
          <a
                  href="https://www.youtube.com/watch?v=prhDrfUgpB0&ab_channel=WallStreetJournal"
                  class="list-group-item list-group-item-action"
          >Week04->Youtube Video:Google Drones Can Already Deliver You Coffee In Australia
          </a>
          <a
                  href="https://www.youtube.com/watch?v=aH9SOeHGTGI&ab_channel=FRANCE24English"
                  class="list-group-item list-group-item-action"
          >Week04->Youtube Video:Water from air: Israeli firm helps bring drinking water to Gaza
          </a>
          <a
                  href="https://www.youtube.com/watch?v=DI3VqTkbuRA&ab_channel=VisualPolitikEN"
                  class="list-group-item list-group-item-action"
          >Week04->Youtube Video:How did ISRAEL turn the DESERT into an AGRICULTURAL POWER? - VisualPolitik EN
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH04-Innovation Management - Managing Innovation with Firms.ppt"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week05->CH04-Innovation Management - Managing Innovation within Firms
          </a>
          <a href="https://www.youtube.com/watch?v=5hENFA3CJUY"
             class="list-group-item list-group-item-action"
          >Week05->How Apple Is Organized for Innovation: The Functional Organization
          </a>

          <a
                  href="https://www.youtube.com/watch?v=ojGveiE51Hk&ab_channel=TechAltar"
                  class="list-group-item list-group-item-action"
          >Week05->Youtube Video: Amazon's playbook for crushing startups
          </a>

          <a
                  href="../administrator/templates/ncd_fdabm_dt/L03_Managing IT Infrstructure_pp03_Revised.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week06->Turning Technology into Business - Managing IT Infrastructure
          </a>
          <a href="https://www.youtube.com/watch?v=V6zJi8CU7Tk&ab_channel=GermanRetana"
             class="list-group-item list-group-item-action"
          >Week06->Youtube Video:Introduction to IT Infrastructure</a>

          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH05-Cloud_Computing-Revised.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week07->CH06-Turning Technology into Business - Cloud Computing and Storage
          </a>
          <a href="https://youtu.be/_a6us8kaq0g"
             class="list-group-item list-group-item-action"
          >Week07->CH07 Cloud Computing explained - Youtube Video
          </a>
          <a href="https://www.youtube.com/watch?v=80aK2_iwMOs"
             class="list-group-item list-group-item-action"
          >Week07->Cloud Computing - Youtube Video on Data Centers
          </a>
          <a href="https://www.youtube.com/watch?v=LmfvUiJ6tB8"
             class="list-group-item list-group-item-action"
          >Week07->Cloud Computing - Youtube Video on Underwater Data Centers
          </a>
          <!--
          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH06-Turning Technology into Business - Managing Intellectual Property.ppt"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week08->CH06-Turning Technology into Business - Managing Intellectual Property.ppt
          </a>
          -->
          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH07-Turning Technology into Business - Managing Organisational Knowledge.ppt"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week08->CH08-Turning Technology into Business - Managing Organisational Knowledge.ppt
          </a>

          <a href="../administrator/templates/ncd_fdabm_dt/The Battle of Trafalgar in 1805.docx"
             class="list-group-item list-group-item-action"
          >Week08->The Battle of Trafalgar in 1805 - a small case</a>
          <a href="https://www.youtube.com/watch?v=sRtUrvmok-c&ab_channel=KingsandGenerals"
             class="list-group-item list-group-item-action"
          >Week08->Napoleonic Wars: Battle of Trafalgar 1805 DOCUMENTARY</a>
          <!--
          <a
                  href="../administrator/templates/ncd_fdabm_dt/CH09Turning Technology into Business - Research and Development.ppt"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Week09->CH09-Turning Technology into Business - Research and Development.ppt
          </a>
          <a href="https://www.youtube.com/watch?v=XC31N9KbOEs&ab_channel=TEDInstitute"
             class="list-group-item list-group-item-action"
          >Week09->External innovation basics from an R&D expert | Michael Ringel | TED Institute</a>
          <a href="https://www.youtube.com/watch?v=Mtjatz9r-Vc&ab_channel=TEDxTalks"
             class="list-group-item list-group-item-action"
          >Week09->The art of innovation | Guy Kawasaki | TEDxBerkeley</a>
          -->
          <!--

          <a
                  href="../administrator/templates/ncd_fdabm_dt/DT2__Introduction_to_Digital_Business_and_Technology.pptx"
                  class="list-group-item list-group-item-action"
          >Week02->DT2__Introduction_to_Digital_Business_and_Technology.pptx</a
          ><a
                href="../administrator/templates/ncd_fdabm_dt/DT3_OnlinePresences.pptx"
                class="list-group-item list-group-item-action"
          >Week03->DT3_OnlinePresences.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_dt/DT4_Digital_Marketing.pptx"
                  class="list-group-item list-group-item-action"
          >Week04->DT4_Digital_Marketing.pptxx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_dt/Week5_DT.pptx"
                  class="list-group-item list-group-item-action"
          >Week05->Week5_DT.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_dt/Week6.ppt"
                  class="list-group-item list-group-item-action"
          >Week06->Week6.ppt</a
          >
          <a
            href="../administrator/templates/ncd_fdabm_dt/Week7_DT.ppt"
            class="list-group-item list-group-item-action"
            >Week07->Week7_DT.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_dt/Week8_DT.ppt"
                  class="list-group-item list-group-item-action"
          >Week08->Week8_DT.ppt</a
          >


          <a
                  href="https://brainhub.eu/library/digital-innovation-examples/"
                  class="list-group-item list-group-item-action"
          >Digital Innovation Examples</a
          >

          <a
                  href="https://brainhub.eu/library/digital-transformation-examples/"
                  class="list-group-item list-group-item-action"
          >Successful Digital Transformation Examples</a
          >
          <a
                  href="https://www.youtube.com/watch?v=2ZBfd66-LYU&ab_channel=TechCrunch"
                  class="list-group-item list-group-item-action"
          >The Growth of the On-Demand Economy</a
          >
          <a
                  href="https://www.youtube.com/watch?v=o6y1cp8UkTw"
                  class="list-group-item list-group-item-action"
          >Top Ecommerce Technologies Powering Successful Businesses in 2020</a
          >
          <a
                  href="https://www.youtube.com/watch?v=GQjuEygcS3A"
                  class="list-group-item list-group-item-action"
          >The Future of Ecommerce: 9 Trends That Will Exist In 2030</a
          >

         <a
                  href="../administrator/templates/ncd_fdabm_dt/DT1_Introduction_to_Digital_Business_and_Technology.pptx"
                  class="list-group-item list-group-item-action"
          >Week01->DT1_Introduction_to_Digital_Business_and_Technology.pptx
          </a>

          -->

        </div>
      </div>
    </div>
  </div>
</div>
