<h1>Module: <strong>Leadership and Management</strong></h1>
<hr />
<h2>Module Leader: <strong>Mervyn Sookun</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdabm_lp/Lecture_LP1.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture-01.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_lp/Lecture_LP2.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture-02.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_lp/Lecture_LP3.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture-03.pptx</a
          >
          <a
                href="../administrator/templates/ncd_fdabm_lp/Mentoring.pptx"
                class="list-group-item list-group-item-action"
           >Lecture-04</a
          >
          <a
                href="../administrator/templates/ncd_fdabm_lp/Mentoring Design.pdf"
                class="list-group-item list-group-item-action"
        >Lecture-05</a
        >
            <a
                    href="../administrator/templates/ncd_fdabm_lp/Leadership Theory and Practice-Northhouse.pdf"
                    class="list-group-item list-group-item-action"
            >Leadership Theory and Practice-Northhouse.pdf</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_lp/Designing a Coaching and Mentoring Programme.pptx"
                    class="list-group-item list-group-item-action"
            >Designing a Coaching and Mentoring Programme.pptx</a
            >


        </div>
      </div>
    </div>
  </div>
</div>
