<h1>Module: <strong>Business Finance</strong></h1>
<hr />
<h2>Module Leader: <strong>SA Palan</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Lecture-01
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_bf/Lecture 1  - An introduction to Business Finance.docx"
                  class="list-group-item list-group-item-action"
          >An introduction to Business Finance.docx
          </a>
          <div class="list-group-item bg-info text-white">
            Lecture-02
          </div>

          <a
                  href="../administrator/templates/ncd_fdabm_bf/Lecture 2 - COST CLASSIFICATION, COST BEHAVIOUR & COSTING SYSTEMS.docx"
                  class="list-group-item list-group-item-action"
          >COST CLASSIFICATION, COST BEHAVIOUR & COSTING SYSTEMS.docx
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_bf/Lecture 2 -Introduction to Management Accounting.pptx"
                  class="list-group-item list-group-item-action"
          >Introduction to Management Accounting.pptx</a>
          <div class="list-group-item bg-info text-white">
            Lecture-03
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_bf/Lecture 3 - SAP Ltd.docx"
                  class="list-group-item list-group-item-action"
          >Lecture 3 - SAP Ltd.docx
          </a>
            <a
                    href="../administrator/templates/ncd_fdabm_bf/Lecture 3 - SAP Ltd _ Cost classification & cost behaviour .docx"
                    class="list-group-item list-group-item-action"
            >Lecture 3 - SAP Ltd _ Cost classification & cost behaviour .docx
            </a>
          <a
                  href="../administrator/templates/ncd_fdabm_bf/Absorption costing & production overhead analysis.docx"
                  class="list-group-item list-group-item-action"
          >Lecture 3 - Absorption costing & production overhead analysis.docx
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_bf/Absorption costing Vs Marginal costing.docx"
                  class="list-group-item list-group-item-action"
          >Lecture 3 - Absorption costing Vs Marginal costing.docx
          </a>           
          <div class="list-group-item bg-info text-white">
            Lecture-04
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_bf/Lecture 4 - Variance analysis.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 4 - Variance analysis.pptx
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_bf/Lecture 4 - STANDARD COSTING & VARIANCE ANALYSIS .docx"
                  class="list-group-item list-group-item-action"
          >Lecture 4 - STANDARD COSTING & VARIANCE ANALYSIS .docx
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_bf/XYZ plc -- FLEXIBLE BUDGETS; BUDGETED PROFIT & CASH FLOW STATEMENTS.docx"
                  class="list-group-item list-group-item-action"
          >XYZ plc -- FLEXIBLE BUDGETS; BUDGETED PROFIT & CASH FLOW STATEMENTS.docx
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
