<h1>Module: <strong>Business Environment</strong></h1>
<hr />
<h2>Module Leader: <strong>David Mwaura</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdabm_benv/Individual Presentation Paper Sample.pdf"
                  class="list-group-item list-group-item-action"
          >Individual Presentation Paper Sample.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_benv/Business Report Template.docx"
                  class="list-group-item list-group-item-action"
          >Business Report Template</a
          >
          <a
            href="../administrator/templates/ncd_fdabm_benv/BENV-Module Specification.docx"
            class="list-group-item list-group-item-action"
            >Module Specification</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_benv/Lecture Plan-NCD BE.docx"
                  class="list-group-item list-group-item-action"
          >Lecture Plan</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 1 - Business Environment
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_benv/Business_Environment Introduction.pptx"
            class="list-group-item list-group-item-action"
            >Business_Environment Introduction</a
          >
          <div class="list-group-item bg-info text-white">
            Lecturer 2 - Assignment Focus (1 and 2)
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_benv/NCD BE Assignment Focus.ppt"
                  class="list-group-item list-group-item-action"
          >Assignment Focus.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 3 - Organisations; Types; Size and scope
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_benv/NCD Organisations;Types;Size and scope.ppt"
            class="list-group-item list-group-item-action"
            >Organisations;Types;Size and scope</a>
          <a href="../administrator/templates/ncd_fdabm_benv/EU Comm-SMES DEFINITION.pdf" class="list-group-item list-group-item-action">EU Comm-SMES DEFINITION.pdf</a>
          
          <div class="list-group-item bg-info text-white">
            Lecture 4 - Organisational Structures
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_benv/NCD Organisation Structures.ppt"
            class="list-group-item list-group-item-action"
            >Organisation Structures</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 5 - The Business Environment
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_benv/NCD Topic Business Environment.ppt"
                  class="list-group-item list-group-item-action"
          >Business Environment</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 6 - Globalisation
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_benv/NCD Globalisation.ppt"
                  class="list-group-item list-group-item-action"
          >Globalisation</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 7 - Assignment Review and Submission-1
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_benv/NCD BE Assignment Focus.ppt"
            class="list-group-item list-group-item-action"
            >Assignment Focus</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 8 - Assignment Focus-2
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_benv/NCD BE Assignment Focus.ppt"
                  class="list-group-item list-group-item-action"
          >Assignment Focus</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 9 - Stakeholders
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_benv/NCD Stakeholders.ppt"
            class="list-group-item list-group-item-action"
            >Stakeholders</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 10 - Assignment Review and Submission-2
          </div>
          <a
                href="../administrator/templates/ncd_fdabm_benv/NCD BE Assignment Focus.ppt"
                class="list-group-item list-group-item-action"
          >Assignment Focus</a
          >
      </div>
      </div>
    </div>
  </div>
</div>
