<h1>Module: <strong>Evidence Based Approach</strong></h1>
<hr />
<h2>Module Leader: <strong>Sandra Okwara</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 1-MODULE INTRODUCTION.pptx"
                  class="list-group-item list-group-item-action"
          >EBA-WEEK 1-MODULE INTRODUCTION.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 2-RESEARCH & EVIDENCE BASED PRACTICE.pptx"
                  class="list-group-item list-group-item-action"
          >EBA-WEEK 2-RESEARCH & EVIDENCE BASED PRACTICE.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_eba/EBP-WEEK 3-IMPORTANCE of EBA in HEALTHCARE PRACTICE.pptx"
                  class="list-group-item list-group-item-action"
          >EBP-WEEK 3-IMPORTANCE of EBA in HEALTHCARE PRACTICE.pptx</a
          >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 4-CRITICAL THINKING SKILLS.pptx"
                    class="list-group-item list-group-item-action"
            >EBA-WEEK 4-CRITICAL THINKING SKILLS.pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 5-CRITICAL RESEARCH SKILLS.pptx"
                    class="list-group-item list-group-item-action"
            >EBA-WEEK 5-CRITICAL RESEARCH SKILLS.pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 6-Forms of research.pptx"
                    class="list-group-item list-group-item-action"
            >EBA-WEEK 6-Forms of research.pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 7- HOW QUALITATIVE & QUANTITATIVE RESEACH METHODOLOGY LEADS TO SERVICE IMPROVEMENT IN EBA.pptx"
                    class="list-group-item list-group-item-action"
            >EBA-WEEK 7- HOW QUALITATIVE & QUANTITATIVE RESEACH METHODOLOGY LEADS TO SERVICE IMPROVEMENT IN EBA.pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 8-L03-LITERATURE REVIEW PROCESS.pptx"
                    class="list-group-item list-group-item-action"
            >EBA-WEEK 8-L03-LITERATURE REVIEW PROCESS.pptx</a
            >
            <a
                  href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 9-Literature review process & Boolean methods.pptx"
                  class="list-group-item list-group-item-action"
            >EBA-WEEK 9-Literature review process & Boolean methods .pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/EBA-WEEK 10-ORGANISING YOUR LITERATURE REVIEW.pptx"
                    class="list-group-item list-group-item-action"
            >EBA-WEEK 10-ORGANISING YOUR LITERATURE REVIEW.pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/EBA-ASSIGNMENT STEP by STEP GUIDE-with EXAMPLES.docx"
                    class="list-group-item list-group-item-action"
            >EBA-ASSIGNMENT STEP by STEP GUIDE-with EXAMPLES.docx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/EBA- Differences between Qualitative and Quantitative Research.docx"
                    class="list-group-item list-group-item-action"
            >EBA- Differences between Qualitative and Quantitative Research.docx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/Differences between the research methods and research methodology.docx"
                    class="list-group-item list-group-item-action"
            >Differences between the research methods and research methodology.docx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/ESSAY TERMS EXPLAINED.docx"
                    class="list-group-item list-group-item-action"
            >ESSAY TERMS EXPLAINED.docx</a
            >
          <!--
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/CHOICE.pptx"
                    class="list-group-item list-group-item-action"
            >CHOICE.pptx</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/Critical Reading and note-making,.ppt"
                    class="list-group-item list-group-item-action"
            >Critical Reading and note-making,.ppt</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/Ethics in Research.ppt"
                    class="list-group-item list-group-item-action"
            >Ethics in Research.ppt</a
            >
            <a
                    href="../administrator/templates/ncd_fdhsc_eba/Evaluating Argument & evidence 2.pptx"
                    class="list-group-item list-group-item-action"
            >Evaluating Argument & evidence 2.pptx</a
            >
            <a
                href="../administrator/templates/ncd_fdhsc_eba/Intro to research.ppt"
                class="list-group-item list-group-item-action"
            >Intro to research.ppt</a
            >
            <a
                href="../administrator/templates/ncd_fdhsc_eba/the nature of knowledge.ppt"
                class="list-group-item list-group-item-action"
            >the nature of knowledge.ppt</a
            >
            <a
                href="../administrator/templates/ncd_fdhsc_eba/Week 3 formative assessment.docx"
                class="list-group-item list-group-item-action"
            >Week 3 formative assessment.docx</a
            >
            -->
      </div>
      </div>
    </div>
  </div>
</div>
