<h1>Module: <strong>Work Related Research</strong></h1>
<hr />
<h2>Module Leader: <strong>Chijioke Olivier Agomo</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
            href="../administrator/templates/ncd_fdhsc_wrr/Steps Involved in the Process of Social Research.pptx"
            class="list-group-item list-group-item-action"
            >Steps Involved in the Process of Social Research.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/Primary vs. Secondary Research IG.ppt"
                  class="list-group-item list-group-item-action"
          >Primary vs. Secondary Research IG.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/How to Choose a research topic.docx"
                  class="list-group-item list-group-item-action"
          >How to Choose a research topic.docx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/ReflectivePractice-Gibbs-Example1-v2.pdf"
                  class="list-group-item list-group-item-action"
          >ReflectivePractice-Gibbs-Example1-v2.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/Evidence_-_Based Practice inNursing_.ppt"
                  class="list-group-item list-group-item-action"
          >Evidence_-_Based Practice inNursing_.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Week 3
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/Evidence -Based Clinical Medicine.ppt"
                  class="list-group-item list-group-item-action"
          >Evidence -Based Clinical Medicine..ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Week 4
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/Reflective Writing.ppt"
                  class="list-group-item list-group-item-action"
          >Reflective Writing.ppt</a
          >

          <div class="list-group-item bg-info text-white">
            Week 6
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/PPD-Week6-Reflective learning _.pptx"
                  class="list-group-item list-group-item-action"
          >PPD-Week6-Reflective learning _.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            TASK2
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/WRR-TASK 2-STEP by STEP-Guide.docx"
                  class="list-group-item list-group-item-action"
          >WRR-TASK 2-STEP by STEP-Guide.docx</a
          >
          <div class="list-group-item bg-info text-white">
            Week8
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/Week 8_ Literature Review WRR.pptx"
                  class="list-group-item list-group-item-action"
          >Week 8_ Literature Review WRR.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week9
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_wrr/Week 9  Data collection and analysis.pptx"
                  class="list-group-item list-group-item-action"
          >Week 9  Data collection and analysis.pptx</a
          >
      </div>
      </div>
    </div>
  </div>
</div>
