<h1>Module: <strong>Entrepreneurship</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Randolph Metz-Johnson</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdabm_ent/Entrepreneurship Module Content.docx"
                  class="list-group-item list-group-item-action"
          >Entrepreneurship Module Content</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_ent/Lecture Plan- NCD PPD.docx"
                  class="list-group-item list-group-item-action"
          >Lecture Plan</a
          >
          <div class="list-group-item bg-info text-white">
          Lecture 01
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_ent/ncd_fdabm_ent/lecture1/Steve Jobs and Apple.docx"
            class="list-group-item list-group-item-action"
            >Steve Jobs and Apple</a>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture1/NVC Framework Canvas.pptxx"
                  class="list-group-item list-group-item-action"
          >NVC Framework Canvas.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture1/Lecture 1 - Entrepreneurs.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 1 - Entrepreneurs.pptx</a>
          <div class="list-group-item bg-info text-white">
           Lecture 02
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture2/eBay.docx"
                  class="list-group-item list-group-item-action"
          >eBay.docx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture2/Lecture 2 - New Venture Creation.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 2 - New Venture Creation.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture2/Assignment Brief.pptx"
                  class="list-group-item list-group-item-action"
          >Assignment Brief.pptx</a
          >

          <div class="list-group-item bg-info text-white">
            Lecture 03
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture3/Lecture 3 - Understanding the market.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 3 - Understanding the market</a
          >
          <div class="list-group-item bg-info text-white">
          Lecture 04
          </div>
          <a
          href="../administrator/templates/ncd_fdabm_ent/lecture4/Lecture 4 - Structure Legal issues Business Model.pptx"
          class="list-group-item list-group-item-action"
          >Lecture 4 - Structure Legal issues Business Model.pptx</a>
          <div class="list-group-item bg-info text-white">
            Lecture 05
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture5/Lecture 5 - Customers Brand Loyalty.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 5 - Customers Brand Loyalty.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture5/Vision and Mission .pdf"
                  class="list-group-item list-group-item-action"
          >Vision and Mission .pdf</a>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture5/CompetitorAnaysisWorksheet.html"
                  class="list-group-item list-group-item-action"
          >CompetitorAnaysisWorksheet</a>
          <div class="list-group-item bg-info text-white">
            Lecture 06
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture6/Lecture 6 - Launching and Growing Your Business.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 6 - Launching and Growing Your Business.pptx</a>
          <div class="list-group-item bg-info text-white">
            Lecture 07
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture7/Lecture 7 - Dealing With Risk.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 7 - Dealing With Risk.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture7/Risk Management in SMEs - a systematic review of available evidence_Falkner 2015.pdf"
                  class="list-group-item list-group-item-action"
          >Risk Management in SMEs - a systematic review of available evidence_Falkner 2015.pdf</a>
          <div class="list-group-item bg-info text-white">
            Lecture 08
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture8/Lecture 8 - Team Resources.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 8 - Team Resources.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture8/Network Pitches.pdf"
                  class="list-group-item list-group-item-action"
          >Network Pitches.pdf</a>

          <div class="list-group-item bg-info text-white">
            Lecture 09
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture9/Lecture 9 - Obtaining Finance.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture 9 - Obtaining Finance.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdabm_ent/lecture9/Startup-Budget.xlsx"
                  class="list-group-item list-group-item-action"
          >Startup-Budget.xlsx</a>


        </div>
      </div>
    </div>
  </div>
</div>
