<h1>Module: <strong>Sales and Marketing</strong></h1>
<hr />
<h2>Module Leader: <strong>Anand Walser</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="../administrator/templates/ncd_fdabm_sam/Module Specification.docx"
            class="list-group-item list-group-item-action"
            >Module Specification.docx
          </a>
          <a
          href="../administrator/templates/ncd_fdabm_sam/Core-Concepts-of-Marketing.pdf"
          class="list-group-item list-group-item-action"
          >Core-Concepts-of-Marketing.pdf
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_sam/Digital Marketing Strategy_ An Integrated Approach to Online Marketing.pdf"
                  class="list-group-item list-group-item-action"
          >Digital Marketing Strategy_ An Integrated Approach to Online Marketing.pdf
          </a>
          <a
                  href="../administrator/templates/ncd_fdabm_sam/Kotler Slides.pdf"
                  class="list-group-item list-group-item-action"
          >Kotler Slides.pdf
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
