<h1>Module: <strong>Professional and Personal Development</strong></h1>
<hr />
<h2>Module Leader: <strong>Sandra Okwara</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
            href="../administrator/templates/ncd_fdhsc_ppd/Week 1 PPD 24.11.pptx"
            class="list-group-item list-group-item-action"
            >Week 1 PPD.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/Week 2 Skills Analysis.pptx"
                  class="list-group-item list-group-item-action"
          >Week 2 Skills Analysis.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/Week 2 Time management.pptx"
                  class="list-group-item list-group-item-action"
          >Week 2 Time management</a
          >
          <div class="list-group-item bg-info text-white">
          Week 3
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/Week 3 VARK and learning styles.pptx"
                  class="list-group-item list-group-item-action"
          >Week 3 VARK and learning styles.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/learning-styles-week-3.ppt"
                  class="list-group-item list-group-item-action"
          >Learning-Styles-week-3.ppt</a
          >
          <a
                  href="https://www.uopeople.edu/blog/what-are-7-different-learning-styles/"
                  class="list-group-item list-group-item-action"
          >7-different-learning-styles</a
          >

          <div class="list-group-item bg-info text-white">
          Week 4
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/skills of a higher education student-week-4.pptx"
                  class="list-group-item list-group-item-action"
          >Skills of a higher education student-week-4.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/Week 7 Reflective Models.pptx"
                  class="list-group-item list-group-item-action"
          >Reflective Models.pptx</a
          ><div class="list-group-item bg-info text-white">
          Week 5
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/Week 8 Reflective Practice.pptx"
                  class="list-group-item list-group-item-action"
          >Reflective Practice.pptx</a
          ><div class="list-group-item bg-info text-white">
          Week 6
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/PPD-Week6-Reflective learning.pptx"
                  class="list-group-item list-group-item-action"
          >Reflective Learning.pptx</a
          ><a
                href="../administrator/templates/ncd_fdhsc_ppd/PPD_Task 2 Assessment Guidiance 2021-updated..docx"
                class="list-group-item list-group-item-action"
          >PPD_Task 2 Assessment Guidiance 2021.docx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/week 9 Influences on learning- Adult learning model.pptx"
                  class="list-group-item list-group-item-action"
          >Influences on learning- Adult learning model.pptx</a
          >
          <div class="list-group-item bg-info text-white">
          Week 7
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/PPD-Identify and apply problem solving and decision-making Techniques-Week7.pptx"
                  class="list-group-item list-group-item-action"
          >PPD-Identify and apply problem solving and decision-making Techniques-Week7.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/professional-development-plan-form.docx"
                  class="list-group-item list-group-item-action"
          >Professional-development-plan-form</a
          >
          <div class="list-group-item bg-info text-white">
          Week 8
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/Week 11 Influences on learning Motivation.pptx"
                  class="list-group-item list-group-item-action"
          >Week 11 Influences on learning Motivation.pptx</a
          ><div class="list-group-item bg-info text-white">
          Week 9
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/Week 15 PPD Dryfus model-skills.pptx"
                  class="list-group-item list-group-item-action"
          >Week 15 PPD Dryfus model-skills.pptx</a
          ><div class="list-group-item bg-info text-white">
          Week 10
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ppd/Week 16 Employability Skills.pptx"
                  class="list-group-item list-group-item-action"
          >Week 16 Employability Skills.pptx</a
          >
      </div>
      </div>
    </div>
  </div>
</div>
