<h1>Module: <strong>Service Improvements</strong></h1>
<hr />
<h2>Module Leader: <strong>Sandra Okwara</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdhsc_si/Service-Improvements-assignment-guide-NCD-L5-T3.docx"
                  class="list-group-item list-group-item-action"
          >Service improvement Assignment Guide</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_si/Introduction to Service Improvements.pptx"
                  class="list-group-item list-group-item-action"
          >Introduction to Service Improvements.pptx</a
          >

          <a
                  href="../administrator/templates/ncd_fdhsc_si/Service Improvements.pptx"
                  class="list-group-item list-group-item-action"
          >Service Improvements.pptx</a
          >
          <div class="list-group-item bg-info text-white">Week 1</div>
          <a href="../administrator/templates/ncd_fdhsc_si/WEEK 1.pdf" class="list-group-item list-group-item-action">WEEK 1.pdf</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_si/Service Improvement week 1.pdf"
                  class="list-group-item list-group-item-action"
          >Service Improvement week 1.pdf</a
          >

          <div class="list-group-item bg-info text-white">Week 2&3</div>
          <a href="../administrator/templates/ncd_fdhsc_si/WEEK 2 AND 3.pdf" class="list-group-item list-group-item-action">WEEK 2 AND 3.pdf</a>

          <div class="list-group-item bg-info text-white">Week 4&5</div>
          <a href="../administrator/templates/ncd_fdhsc_si/WEEK 4 AND 5.pdf" class="list-group-item list-group-item-action">WEEK 4 AND 5.pdf</a>

          <div class="list-group-item bg-info text-white">Week 4</div>
          <a href="../administrator/templates/ncd_fdhsc_si/Service Improvement Week 4.pptx" class="list-group-item list-group-item-action">WEEK 4 .pdf</a>

          <div class="list-group-item bg-info text-white">Week 5</div>
          <a href="../administrator/templates/ncd_fdhsc_si/Service Improvement Week 5.pptx" class="list-group-item list-group-item-action">WEEK 5.pdf</a>

          <div class="list-group-item bg-info text-white">Week 8</div>
          <a
                  href="../administrator/templates/ncd_fdhsc_si/Week 8 Quality Improvement ppt.pptx"
                  class="list-group-item list-group-item-action"
          >Week 8 Quality Improvement ppt.pptx</a
          >
          <div class="list-group-item bg-info text-white">Week 9</div>
          <a
                  href="../administrator/templates/ncd_fdhsc_si/Week 9 Quality improvement Tools.pptx"
                  class="list-group-item list-group-item-action"
          >Week 9 Quality improvement Tools.pptx</a
          >
          <div class="list-group-item bg-info text-white">Week 9</div>
          <a
                  href="../administrator/templates/ncd_fdhsc_si/Week 9 Data collection and analysis.pptx"
                  class="list-group-item list-group-item-action"
          >Week 9 Data collection and analysis.pptx</a
          >
          <div class="list-group-item bg-info text-white">Week 10</div>
          <a
                  href="../administrator/templates/ncd_fdhsc_si/Week 10  Leadership and management in Health service Improvement.pptx"
                  class="list-group-item list-group-item-action"
          >Week 10  Leadership and management in Health service Improvement.pptx</a
          >


          <!--


          <a
                  href="../administrator/templates/ncd_fdhsc_pss/sociology__social_mobility_hand_out_week_2.doc"
                  class="list-group-item list-group-item-action"
          >Sociology__social_mobility_hand_out_week_2.doc</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/Theories_of_Causation_Week_2.pptx"
                  class="list-group-item list-group-item-action"
          >Theories_of_Causation_Week_2.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 3
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/Psychological_and_social_science_Week_3.pptx"
                  class="list-group-item list-group-item-action"
          >Psychological_and_social_science_Week_3.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 6
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/Psychological_and_Social_Sciences_Task_2_Week_6.pptm"
                  class="list-group-item list-group-item-action"
          >Psychological_and_Social_Sciences_Task_2_Week_6.pptm</a
          >
          -->
        </div>
      </div>
    </div>
  </div>
</div>
