<h1>Module: <strong>Building Sustainable Organisation</strong></h1>
<hr />
<h2>Module Leader: <strong>Mr. Mervyn Sookun </strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdabm_bso/International_Standards_-_Introduction_1_.pptx"
                  class="list-group-item list-group-item-action"
          >International_Standards_-_Introduction_1_.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_bso/1Climate_change_and_Sustainability.pptx"
                  class="list-group-item list-group-item-action"
          >1Climate_change_and_Sustainability.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_bso/LECTURE_2.1.ppt"
                  class="list-group-item list-group-item-action"
          >LECTURE_2.1.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_bso/Lecture_2.2-_ETHICAL_THEORIES.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture_2.2-_ETHICAL_THEORIES.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_bso/LECTURE_2.3_-_ETHICS_ib_2_.ppt"
                  class="list-group-item list-group-item-action"
          >LECTURE_2.3_-_ETHICS_ib_2_.ppt</a
          >
          <a
                href="../administrator/templates/ncd_fdabm_bso/Lesson_3_-_Innovation_Drivers_5_.ppt"
                class="list-group-item list-group-item-action"
          >Lesson_3_-_Innovation_Drivers_5_.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_bso/Lecture_5.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture_5.ppt</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_bso/Innovation_Strategy.pdf"
                  class="list-group-item list-group-item-action"
          >Innovation_Strategy.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_bso/IJER_Volume_6_Issue_4_Pages_1007-1014.pdf"
                  class="list-group-item list-group-item-action"
          >IJER_Volume_6_Issue_4_Pages_1007-1014.pdf</a
          >

          <a
                  href="../administrator/templates/ncd_fdabm_bso/The_Kyoto_protocol_in_a_global_perspective_1_.pdf"
                  class="list-group-item list-group-item-action"
          >The_Kyoto_protocol_in_a_global_perspective_1_.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_bso/paris-agreement-climate-change-2017-ib.pdf"
                  class="list-group-item list-group-item-action"
          >paris-agreement-climate-change-2017-ib.pdf</a
          >

          <a
                  href="../administrator/templates/ncd_fdabm_bso/REAMS_1-_1_Wales-v2.pdf"
                  class="list-group-item list-group-item-action"
          >REAMS_1-_1_Wales-v2.pdf</a
          >
          <a
                href="../administrator/templates/ncd_fdabm_bso/Group_Exercise_ISO.docx"
                class="list-group-item list-group-item-action"
        >Group_Exercise_ISO.docx</a
        >

      </div>
    </div>
  </div>
</div>
