<h1>Module: <strong>Developing Collaborative Relationships</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Edafe Otovwe</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdabm_dcr/DCR information.docx"
                  class="list-group-item list-group-item-action"
          >DCR Information</a
          >
          <a
                    href="../administrator/templates/ncd_fdabm_dcr/L1 -DCR -  EFFECTIVE COLLABORATION.pdf"
                    class="list-group-item list-group-item-action"
            >L1 -DCR -  EFFECTIVE COLLABORATION.pdf</a
          >
          <a
                    href="../administrator/templates/ncd_fdabm_dcr/COLLABORATION - CONFLICT RESOLUTION.pdf"
                    class="list-group-item list-group-item-action"
           >L2 -DCR -  COLLABORATION - CONFLICT RESOLUTION.pdf</a
          >
          <a
                    href="../administrator/templates/ncd_fdabm_dcr/L3 - DCR - STAKEHOLDERS MANAGEMENT.pdf"
                    class="list-group-item list-group-item-action"
            >L3 - DCR - STAKEHOLDERS MANAGEMENT.pdf</a
          >
            <a
                    href="../administrator/templates/ncd_fdabm_dcr/L4 - DCR - CROSS FUNCTIONAL COLLABORATION.pdf"
                    class="list-group-item list-group-item-action"
            >L4 - DCR - CROSS FUNCTIONAL COLLABORATION.pdf</a
            >
            <a
                    href="../administrator/templates/ncd_fdabm_dcr/L5 - MANAGING DIFFICULT CONVERSATIONS.pdf"
                    class="list-group-item list-group-item-action"
            >L5 - DCR - MANAGING DIFFICULT CONVERSATIONS.pdf</a
            >
        </div>
    </div>
  </div>
</div>
