<h1>Module: <strong>Leadership and Management</strong></h1>
<hr/>
<h2>Module Leader: <strong>Dr. Rajendra Kumar</strong></h2>
<hr/>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button
                        class="btn btn-primary btn-lg btn-block collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                >
                    Supplementary Study Materials
                </button>
            </h2>
        </div>
        <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-parent="#accordionExample"
        >
            <div class="card-body">
                <div class="list-group">

                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 1 MANAGEMENT.pptx"
                            class="list-group-item list-group-item-action"
                    >LECTURE 1 MANAGEMENT.pptx
                    </a>
                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 2 LEADERSHIP.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 2 LEADERSHIP.ppt</a
                    >
                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 3 LEADERSHIP STYLES.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 3 LEADERSHIP STYLES.ppt</a
                    >
                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 4 ORGANISATION CULTURE.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 4 ORGANISATION CULTURE.ppt</a
                    >

                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 5 MANAGING DIVERSITY.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 5 MANAGING DIVERSITY.ppt</a
                    >

                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 6 MENTORING STUDENT MENTOR.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 6 MENTORING STUDENT MENTOR.ppt</a
                    >
                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 7 CENTERING ON MENTORING.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 7 CENTERING ON MENTORING.ppt</a
                    >
                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 8 PROVIDING EFFECTIVE LEADERSHIP.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 8 PROVIDING EFFECTIVE LEADERSHIP.ppt</a
                    >
                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 9 LEADERSHIP AND MANAGEMENT.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 9 LEADERSHIP AND MANAGEMENT.ppt</a
                    >
                    <a
                            href="../administrator/templates/ncd_fdabm_lam/LECTURE 10 STRATEGIC LEADERSHIP AND ORGANISATIONAL CHANGE.ppt"
                            class="list-group-item list-group-item-action"
                    >LECTURE 10 STRATEGIC LEADERSHIP AND ORGANISATIONAL CHANGE.ppt</a
                    >
                    <div class="card">
                        <div class="list-group-item bg-info text-white">
                            Supplementary Materials
                        </div>
                         <a
                               href="../administrator/templates/ncd_fdabm_lam/SUPPLEMENTARY_MATERIALS/INTRODUCTION TO LEADERSHIP.PPT"
                                        class="list-group-item list-group-item-action"
                         >INTRODUCTION TO LEADERSHIP.PPT</a>
                        <a
                                                href="../administrator/templates/ncd_fdabm_lam/SUPPLEMENTARY_MATERIALS/Leadership Theory and Practice-Northhouse.pdf"
                                                class="list-group-item list-group-item-action"
                                        >Leadership Theory and Practice-Northhouse.pdf</a
                        >
                        <a
                                                href="../administrator/templates/ncd_fdabm_lam/SUPPLEMENTARY_MATERIALS/Mentoring Design.pdf"
                                                class="list-group-item list-group-item-action"
                                        >Mentoring Design.pdf</a
                        >
                        <a
                                                href="../administrator/templates/ncd_fdabm_lam/SUPPLEMENTARY_MATERIALS/REFLECTIONS ON LEADERSHIP.ppt"
                                                class="list-group-item list-group-item-action"
                                        >REFLECTIONS ON LEADERSHIP.ppt</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
