<h1>Module: <strong>Psychological and Social Science</strong></h1>
<hr />
<h2>Module Leader: <strong>Sandra Okwara</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">

          <div class="list-group-item bg-info text-white">
            Assignmment Brief
          </div>
          <!--<a
                  href="../administrator/templates/ncd_fdhsc_pss/Assignment Brief PSS SIH 504.docx"
                  class="list-group-item list-group-item-action"
          >Assignment Brief PSS SIH 504.docx</a
          > -->
          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
            href="../administrator/templates/ncd_fdhsc_pss/Psychological_and_Social_Science_Week_1_What_is_Sociology.pptm"
            class="list-group-item list-group-item-action"
            >Psychological_and_Social_Science_Week_1_What_is_Sociology.pptm</a
          >
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/Psychological_and_Social_Science_Week_2.pptx"
                  class="list-group-item list-group-item-action"
          >Psychological_and_Social_Science_Week_2.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/sociology__social_mobility_hand_out_week_2.doc"
                  class="list-group-item list-group-item-action"
          >Sociology__social_mobility_hand_out_week_2.doc</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/Theories_of_Causation_Week_2.pptx"
                  class="list-group-item list-group-item-action"
          >Theories_of_Causation_Week_2.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 3
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/Psychological_and_social_science_Week_3.pptx"
                  class="list-group-item list-group-item-action"
          >Psychological_and_social_science_Week_3.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 6
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/Psychological_and_Social_Sciences_Task_2_Week_6.pptm"
                  class="list-group-item list-group-item-action"
          >Psychological_and_Social_Sciences_Task_2_Week_6.pptm</a
          >
          <div class="list-group-item bg-info text-white">
            Week 7
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/PSS WEEK 7 ASSESMENTS AND ASSEMENT TOOLS.pptx"
                  class="list-group-item list-group-item-action"
          >PSS WEEK 7 ASSESMENTS AND ASSEMENT TOOLS.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/MUST TOOL.pdf"
                  class="list-group-item list-group-item-action"
          >MUST TOOL.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/DASH assessment tool-2009.pdf"
                  class="list-group-item list-group-item-action"
          >DASH assessment tool-2009.pdf</a
          >
          <div class="list-group-item bg-info text-white">
            Week 8
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/PERSON CENTRED CARE IMPROVEMENT.pptm"
                  class="list-group-item list-group-item-action"
          >PERSON CENTRED CARE IMPROVEMENT.pptm</a
          >
          <div class="list-group-item bg-info text-white">
            Case Studies
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/cases/Case Study 1 Mr Patel.docx"
                  class="list-group-item list-group-item-action"
          >Case Study 1 Mr Patel.docx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/cases/Case Study 2 Maria James and Derek Smith.doc"
                  class="list-group-item list-group-item-action"
          >Case Study 2 Maria James and Derek Smith.doc</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/cases/Case Study 3 Nadiyah Bailey.docx"
                  class="list-group-item list-group-item-action"
          >Case Study 3 Nadiyah Bailey.docx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/cases/Case Study 4 Carmen Gonzalez.doc"
                  class="list-group-item list-group-item-action"
          >Case Study 4 Carmen Gonzalez.doc</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_pss/cases/Case Study 5 Samantha Gregg and Steven Durst.doc"
                  class="list-group-item list-group-item-action"
          >Case Study 5 Samantha Gregg and Steven Durst.doc</a
          >
      </div>
      </div>
    </div>
  </div>
</div>
