<h1>Module: <strong>Contemporary Issues</strong></h1>
<hr />
<h2>Module Leader: <strong>Chijioke Agomo</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
            href="../administrator/templates/ncd_fdhsc_ci/contemporary-issues-week-1.pptx"
            class="list-group-item list-group-item-action"
            >Contemporary Issues</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/CSI-introductory-slide-Week1.pptx"
                  class="list-group-item list-group-item-action"
          >Introduction.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
                    href="../administrator/templates/ncd_fdhsc_ci/LSC-CSI-WEEK-2.pptx"
                    class="list-group-item list-group-item-action"
            >LSC-CSI-WEEK-2.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Covid-19-and-UK-economy-indicators (1).pptx"
                  class="list-group-item list-group-item-action"
          >COVID-19 and UK Economy Indicators</a
          >
        <div class="list-group-item bg-info text-white">
          Week 3
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Week_3_materials/WEEK-3-READING.pdf"
                  class="list-group-item list-group-item-action"
          >WEEK 3 READING.pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Week_3_materials/key-political-events-during-Covid-19.pptx"
                  class="list-group-item list-group-item-action"
          >Key Political Events during COVID-19</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/LSI-CSI-WEEK-3.pptx"
                  class="list-group-item list-group-item-action"
          >Big Issues in Health and Social Care</a
          >
        <div class="list-group-item bg-info text-white">
          Week 4
        </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Big issues in health and social care-week-4.pptx"
                  class="list-group-item list-group-item-action"
          >Big issues in health and social care-week-4.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Assignment-1 (updated).pptx"
                  class="list-group-item list-group-item-action"
          >Assignemtn-1.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Covid 19 and Mental Health.pptx"
                  class="list-group-item list-group-item-action"
          >Covid 19 and Mental Health.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Week 4 Reading.pdf"
                  class="list-group-item list-group-item-action"
          >Week 4 Reading.pdf</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/CSI-WEEK 4-Different perspectives in Healthcare Delivery.pptx"
                  class="list-group-item list-group-item-action"
          >Week 4-DIFFERENT PERSPECTIVES IN HEALTHCARE DELIVERY-TAYO </a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/THE HIDDEN IMPACT OF COVID.pdf"
                  class="list-group-item list-group-item-action"
          >Week 4-HIDDEN IMPACT OF COVID19-TAYO </a>

          <div class="list-group-item bg-info text-white">
            Week 5
          </div>
          <a
              href="../administrator/templates/ncd_fdhsc_ci/Brexit and the end of the transition period-Week-5.pptx"
              class="list-group-item list-group-item-action"
          >Brexit and the end of the transition period-Week-5.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Week 5 Poverty and Inequality.pptx"
                  class="list-group-item list-group-item-action"
          >Poverty and Inequality</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/CSI-WEEK 5- Hypothesis potential outcome to disruption of services-OK.pptx"
                  class="list-group-item list-group-item-action"
          >Week 5-HYPOTHESIS POTENTIAL OUTCOME TO DISRUPTION OF SERVICES (NHS ENGLAND)-TAYO </a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/NHS APPROACHES TO RESTARTING NON COVID CARE.pdf"
                  class="list-group-item list-group-item-action"
          >Week 5-NHS Approaches-TAYO </a>
          <div class="list-group-item bg-info text-white">
            Week 6
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Different perspectives in Healthcare Delivery-Week 6.pptx"
                  class="list-group-item list-group-item-action"
          >Different perspectives in Healthcare Delivery-Week 6.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Contemporary Social Issues Assessment Guide-2021.docx"
                  class="list-group-item list-group-item-action"
          >Contemporary Social Issues Assessment Guide-2021.docx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Week 6 Part 2.pptx"
                  class="list-group-item list-group-item-action"
          >Week 6 Part 2</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/CSI-WEEK 6-LOCAL PERSPECTIVES-.pptx"
                  class="list-group-item list-group-item-action"
          >WEEK 6-HYPOTHESIS POTENTIAL OUTCOME TO DISRUPTION OF SERVICE-(LOCAL PERSPECTIVE)-TAYO</a>
          <div class="list-group-item bg-info text-white">
          Week 7
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Case study research Hypothesis -Week 7..pptx"
                  class="list-group-item list-group-item-action"
          >Case study research Hypothesis -Week 7..pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Medicalisation-Week-7.pptx"
                  class="list-group-item list-group-item-action"
          > Medicalisation Week 7.pptx</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/CSI-WEEK 7-A-IMPACT of THE MEDIA as a Stakeholder.pptx"
                  class="list-group-item list-group-item-action"
          >WEEK 7A-IMPACT OF THE MEDIA AS A STAKEHOLDER ON DIFFERENT HEALTHCARE PERSPECTIVES (Global, National and Local) -TAYO</a>

          <a
                  href="../administrator/templates/ncd_fdhsc_ci/CSI-WEEK 7-B-The impact of the media as a stakeholder.pptx"
                  class="list-group-item list-group-item-action"
          >WEEK 7B-IMPACT OF THE MEDIA AS A STAKEHOLDER ON DIFFERENT HEALTHCARE PERSPECTIVES (Global, National and Local) -TAYO</a>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/IMPACT OF  COVID ON COMMUNITY HEALTH SERVICES.pdf"
                  class="list-group-item list-group-item-action"
          >IMPACT OF  COVID ON COMMUNITY HEALTH SERVICES.pdf</a>
          <div class="list-group-item bg-info text-white">
            Week 8
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Assignment-1 (updated).pptx"
                  class="list-group-item list-group-item-action"
          >Week 8 ASS 1</a>
          <div class="list-group-item bg-info text-white">
            Week 9
          </div>
          <a
                  href="../administrator/templates/ncd_fdhsc_ci/Lecture 9 - Interaction between Humans and Technology.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture 9 - Interaction between Humans and Technology.ppt</a>
      </div>
      </div>
    </div>
  </div>
</div>
