<h1>Module: <strong>Continuous Professional Development</strong></h1>
<hr />
<h2>Module Leader: <strong>Sandra Okwara</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/WEEK 1- CPD MODULE INTRODUCTION.pptx"
                  class="list-group-item list-group-item-action"
          >WEEK 1- CPD MODULE INTRODUCTION.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 1-SLIDE 2-THE NATURE OF PRACTICE DEVELOPMENT.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-WEEK 1-SLIDE 2-THE NATURE OF PRACTICE DEVELOPMENT.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 2 -PRACTICE DEVELOPMENT.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-WEEK 2 -PRACTICE DEVELOPMENT.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 3 -CHANGES TO MEET THE NEEDS OF SERVICE USERS.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-WEEK 3 -CHANGES TO MEET THE NEEDS OF SERVICE USERS.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 4-REFLECTION & MODELS OF REFLECTION.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-WEEK 4-REFLECTION & MODELS OF REFLECTION.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD WEEK- 5 -CRITICAL INCIDENT ANALYSIS.pptx"
                  class="list-group-item list-group-item-action"
          >CPD WEEK- 5 -CRITICAL INCIDENT ANALYSIS.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 6-MODELS OF REFLECTION.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-WEEK 6-MODELS OF REFLECTION.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 7-LO3-TRAINING NEEDS ANALYSIS-TNA.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-WEEK 7-LO3-TRAINING NEEDS ANALYSIS-TNA.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 8-LO3--ORGANIGRAM DESIGN & ORGANISATIONAL STRUCTURE OR LEARNING PLAN.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-WEEK 8-LO3--ORGANIGRAM DESIGN & ORGANISATIONAL STRUCTURE OR LEARNING PLAN.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-LO3-WEEK 8-SLIDE 2-ORGANIGRAM DESIGN DESIGN & ORGANISATION STRUCTURE.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-LO3-WEEK 8-SLIDE 2-ORGANIGRAM DESIGN DESIGN & ORGANISATION STRUCTURE.pptx</a
          >
          <a
                    href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 9-TASK 2-LO3-ASSIGNMENT STEP by STEP GUIDE.pptx"
                    class="list-group-item list-group-item-action"
          >CPD-WEEK 9-TASK 2-LO3-ASSIGNMENT STEP by STEP GUIDE.pptx</a
          >
          <a
                    href="../administrator/templates/ncd_fdhsc_cpd/CPD-WEEK 10-LO4-TASK 4-EMPLOYABILITY SKILLs IN HSC.pptx"
                    class="list-group-item list-group-item-action"
            >CPD-WEEK 10-LO4-TASK 4-EMPLOYABILITY SKILLs IN HSC.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-LO4-WEEK 11- TASK 3-EMPLOYABILITY SKILLS  & 6Cs IN HSC.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-LO4-WEEK 11- TASK 3-EMPLOYABILITY SKILLS  & 6Cs IN HSC.pptx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-3-WEEK 12-TASK 3-REFLECTING for EMPLOYABILITY.pptx"
                  class="list-group-item list-group-item-action"
          >CPD-3-WEEK 12-TASK 3-REFLECTING for EMPLOYABILITY.pptx</a
          >


          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/NURSING STUDENT REFLECTIVE CASE SCENARIO USING GIBB's.docx"
                  class="list-group-item list-group-item-action"
          >NURSING STUDENT REFLECTIVE CASE SCENARIO USING GIBB's.docx</a
          >

          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-TASK 3-REFLECTIVE REPORT EXAMPLE.docx"
                  class="list-group-item list-group-item-action"
          >CPD-TASK 3-REFLECTIVE REPORT EXAMPLE.docx</a
          >

          <a
                    href="../administrator/templates/ncd_fdhsc_cpd/CPD-TASK 1-UPDATED-ASSIGNMENT STEP by STEP BREAKDOWN.docx"
                    class="list-group-item list-group-item-action"
            >CPD-TASK 1-UPDATED-ASSIGNMENT STEP by STEP BREAKDOWN.docx</a
          >

          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-PROFESSION DEVELOPMENT PLAN TEMPLATE- EXAMPLE.docx"
                  class="list-group-item list-group-item-action"
          >CPD-PROFESSION DEVELOPMENT PLAN TEMPLATE- EXAMPLE.docx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-SWOT ANALYSIS UPDATED.docx"
                  class="list-group-item list-group-item-action"
          >CPD-SWOT ANALYSIS UPDATED.docx</a
          >
          <a
                  href="../administrator/templates/ncd_fdhsc_cpd/CPD-TRAINING & DEVELOPMENT PLAN TEMPLATE.docx"
                  class="list-group-item list-group-item-action"
          >CPD-TRAINING & DEVELOPMENT PLAN TEMPLATE.docx</a
          >
      </div>
      </div>
    </div>
  </div>
</div>
