<h1>Module: <strong>Professional and Personal Development</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Randolphmetz Johnson and Mr. Harry Singh</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/PPD-Module Specification - Portal.docx"
                  class="list-group-item list-group-item-action"
          >PPD-Module Specification</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/Lecture Plan- NCD PPD.docx"
                  class="list-group-item list-group-item-action"
          >Lecture Plan</a
          >
          <div class="list-group-item bg-info text-white">
          Lecture 01
          </div>
          <a
            href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PPD 1- Introduction to PPD.pptx"
            class="list-group-item list-group-item-action"
            >Introduction to Personal and Professional Development-1</a
          >
          <div class="list-group-item bg-info text-white">
           Lecture 02
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PPD-1 Assignment Focus Session.ppt"
                  class="list-group-item list-group-item-action"
          >Assignment Focus Session (1 & 2)</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 03
          </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PDP 1-Process 1 and 2.ppt"
                  class="list-group-item list-group-item-action"
          >The PPD Planning Process-Introduction</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/PersonalDevelopmentPlanning.pdf"
                  class="list-group-item list-group-item-action"
          >PersonalDevelopmentPlanning.pdf</a
          >
          <div class="list-group-item bg-info text-white">
          Lecture 04
          </div>

          <a
          href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PDP 1-Process 3 - SWOT.ppt"
          class="list-group-item list-group-item-action"
          >PPD Planning Process-Personal SWOT analysis</a
                >
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PPD SWOT  4.xlsx"
                  class="list-group-item list-group-item-action"
          >PPD SWOT  4.xlsx</a
          >

          <div class="list-group-item bg-info text-white">
          Lecture 05 - PPD Planning Process-Self Assessment Tests
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/Self-Assessment Tool Box/The-VARK-Questionnaire .pdf"
                  class="list-group-item list-group-item-action"
          >The-VARK-Questionnaire .pdf</a
          >
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/Self-Assessment Tool Box/SKILLSAUDIT.doc"
                  class="list-group-item list-group-item-action"
          >SKILLSAUDIT.doc</a
          ><a
                href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/Self-Assessment Tool Box/Honey_Mumford_Learning_Styles.docx"
                class="list-group-item list-group-item-action"
        >Honey_Mumford_Learning_Styles.docx</a
        ><a
                href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/Self-Assessment Tool Box/Dantec Learning Styles.pdf"
                class="list-group-item list-group-item-action"
        >Dantec Learning Styles.pdf</a
        ><a
                href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/Self-Assessment Tool Box/Belbin Summary and Description.pdf"
                class="list-group-item list-group-item-action"
        >Belbin Summary and Description.pdf</a
        ><a
                href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/Self-Assessment Tool Box/Belbin Questionnaire .docx"
                class="list-group-item list-group-item-action"
        >Belbin Questionnaire .docx</a
        >
          <div class="list-group-item bg-info text-white">
          Lecture 06
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PDP 1-Process 3-Learning Styles.ppt"
                  class="list-group-item list-group-item-action"
          >The PPD Planning Process-Learning Styles</a
          >
          <div class="list-group-item bg-info text-white">
          Lecture 07
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PPD-Plan Template.docx"
                  class="list-group-item list-group-item-action"
          >The PPD Plan</a
          >

          <div class="list-group-item bg-info text-white">
          Lecture 08
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PPD-1 Assignment Focus Session.ppt"
                  class="list-group-item list-group-item-action"
          >PPD Assignment 1 Review and Submission</a
          ><div class="list-group-item bg-info text-white">
          Lecture 09
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PPD-1 Assignment Focus Session.ppt"
                  class="list-group-item list-group-item-action"
          >Assignment 2 Focus</a
          ><div class="list-group-item bg-info text-white">
          Lecture 10
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/NCD PPD Reflective Report.ppt"
                  class="list-group-item list-group-item-action"
          >Reflective Writing</a
          ><div class="list-group-item bg-info text-white">
          Lecture 11
        </div>
          <a
                  href="../administrator/templates/ncd_fdabm_ppd1/NCD PPD Materials/PPD-1 Assignment Focus Session.ppt"
                  class="list-group-item list-group-item-action"
          >Assignment 2 Review and Submission</a
          >
      </div>
      </div>
    </div>
  </div>
</div>
