<h1>Module: <strong>Digital Business</strong></h1>
<hr />
<h2>Module Leader: <strong>Chandranna Rayadurg</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Rationale
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        This module introduces students to the practical aspects of designing and developing applications (such as web and interactive media).
        The participants will review the different technologies, and the legal and managerial aspects, which firms can use to exploit current and
        emerging internet technologies and enhance business operations and opportunities. Students will develop skills such as web authoring, image processing,
        electronic marketing, social networking usage and shopping cart design.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Aims
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        The module is aimed to develop an understanding of the management implications of electronic commerce needed for making informed operational and strategic decisions
        about electronic commerce and its business exploitation. The module integrates theory and practice and considers key issues including the growth of the mobile digital platform
        and the rapid expansion in digital traffic. Given the growth in these developments, this module covers topic areas of interest to all students and takes an international approach and
        includes contemporary coverage of all key issues.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Learning Outcomes
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>
          Upon successful completion of the module the students will be able to:
        </p>
        <ul>
          <li>LO1: Understand the key trends and advantages of digital technology and implications for managing virtual business in the global environment.</li>
          <li>LO2: Critically evaluate new and emerging digital business models and key business issues such as cyber security and ethics etc. in managing effective e-business.</li>
          <li>LO3: Evaluate the impact of new collaborative relationships and strategic alliances through digital technology.</li>
          <li>LO4: Understand and apply relevant digital business theoretical concepts in practical contexts.</li>
          <li>LO5: Use a multi-disciplinary approach to apply E-Commerce principles in a business/public/voluntary sector organisation.</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Assessments Criteria
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Form of assessment</td>
            <td>Assessment size</td>
            <td>Weighting (%)</td>
            <td>Learning outcomes assessed</td>
            <td>Core or non-core</td>
          </tr>
          <tr>
            <td>Individual Case Study Analysis</td>
            <td>3000 words</td>
            <td>100%</td>
            <td>LO1, LO2, LO3, LO4, LO5</td>
            <td>Core</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="https://www.youtube.com/watch?v=NDgqqPvMn0U"
                  class="list-group-item list-group-item-action"
          >Harvard Referencing Video
          </a>
          <a
                  href="../administrator/templates/cccu_babsfy_db/academic-writing.pdf"
                  class="list-group-item list-group-item-action"
          >Academic Writing
          </a>
          <a
                  href="../administrator/templates/cccu_babsf_db_cr/CH01-IntroductionToECommerce-Laudon-traver_ec16_ppt_ch01-rev_accessiblePPT-ct done.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture01->CH01-Introduction To E-Commerce.pptx
          </a>
          <a
                  href="https://www.youtube.com/watch?v=qz6dyLx2YIE"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on E-COMMERCE VS E-BUSINESS | WHAT'S THE DIFFERENCE? - 5 min</a>
          <a
                  href="https://www.youtube.com/watch?v=GQjuEygcS3A"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on The Future of Ecommerce in 2030 (AR & VR) - 7:41 min</a>
          <a
                  href="https://www.youtube.com/watch?v=qxhj4ahR4Vg&ab_channel=ShopifyPlus"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on The Future of Ecommerce in 2021 - 4 min</a>
          <a
                  href="https://www.youtube.com/watch?v=Uutal2M4VXQ&ab_channel=MonicaChurch"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on Amazon GO - Cashierless Grocery Store - 13 min
          </a>
          <a
                  href="https://www.bbc.co.uk/news/business-67132527"
                  class="list-group-item list-group-item-action"
          >Lecture01->BBC News: Amazon plans drone deliveries for UK parcels next year (18/10/2023)
          </a>
          <a
                  href="https://www.youtube.com/watch?v=3OcNdxPhAUk&t=2186s&ab_channel=CreditSuisse"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video - Jack Ma - E-commerce in China and Around the World - 1 min
          </a>
          <a
                  href="https://podcasts.apple.com/ie/podcast/hbr-ideacast/id152022135?i=1000499021037"
                  class="list-group-item list-group-item-action"
          >Lecture01->Apple Podcast:How Jeff Bezos Built One of the World's Most Valuable Companies - 26 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=FAyit_s9eY0&ab_channel=MunirulHasan"
                  class="list-group-item list-group-item-action"
          >Lecture01->Youtube Video on Major Types of E commerce - 7 min
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L02-L04_E-environment_pp04-Revised-Part1.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture02->E-environment_Part1.pptx</a>

          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L03-L05_E-environment_pp04-Revised-Part2.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture03->E-environment_Part2.pptx</a>

          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L04-CH05.1-E-Commerce Business Strategies-Elelements of Business Model.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture04->E-Commerce Business Strategies==>Elelements of Business Model.pptx</a
          >
          <a href="https://www.youtube.com/watch?v=5hENFA3CJUY"
             class="list-group-item list-group-item-action"
          >Lecture04->Youtube Video: How Apple Is Organized for Innovation: The Functional Organization - 4:35 min</a>

          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L05-CH05.2-E-Commerce Business Strategies-Major B2C Models.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture05->E-Commerce Business Strategies==>Major (B2C) Models.pptx</a
          >
          <a
                  href="https://www.youtube.com/watch?v=y60yeHak5bE&ab_channel=HBSDigitalInitiative"
                  class="list-group-item list-group-item-action"
          >Lecture05->Youtube Video: Driving Digital Strategy (Sunil Gupta) - 15 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=ojGveiE51Hk&ab_channel=TechAltar"
                  class="list-group-item list-group-item-action"
          >Lecture05->Youtube Video: Amazon's playbook for crushing startups - 10 min
          </a>
          <a
                  href="https://www.youtube.com/watch?v=aeshYi6lj2Y"
                  class="list-group-item list-group-item-action"
          >Lecture05->Youtube Video: Porter's Value Chain: How to Create Value in Your Organization - 3:23 min
          </a>
          <a
                  href="https://www.scirp.org/journal/paperinformation.aspx?paperid=127838"
                  class="list-group-item list-group-item-action"
          >Lecture05->The Impact of Artificial Intelligence on International Trade: Evidence from B2C Giant E-Commerce (Amazon, Alibaba, Shopify, eBay)
          </a>


          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L05-CH05.2-E-Commerce Business Strategies-Major B2B Models.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture06->E-Commerce Business Strategies==>Major (B2B) Models.pptx</a
          >
          <a
                  href="https://b2bmarketingeast.wbresearch.com/blog/ww-grainger-strategy-against-amazon-b2b-ecommerce-rise"
                  class="list-group-item list-group-item-action"
          >Lecture06->W.W. Grainger's eCommerce Strategy To Compete With Amazon Business
          </a>
          <a
                  href="https://b2bmarketingeast.wbresearch.com/blog?category=b2b-case-studies"
                  class="list-group-item list-group-item-action"
          >Lecture06->B2B Online Florida 2023 Blog » B2B Case Studies
          </a>
          <a
                  href="https://www.practicalecommerce.com/20-leading-global-b2b-exchanges-source-products"
                  class="list-group-item list-group-item-action"
          >Lecture06->25 Global B2B Exchanges for Supply Chain Diversity

          <a
                  href="https://www.mdpi.com/2673-8392/3/1/9"
                  class="list-group-item list-group-item-action"
          >Lecture06-> The Impact of AI Technologies on E-Business
          </a>


          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L07-CH03.1-Building An E-Commerce Presence-Web.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture07->Building An E-Commerce Presence==>Web.pptx</a
          >
          <a
                  href="https://www.youtube.com/watch?v=gAkWsGlofyU"
                  class="list-group-item list-group-item-action"
          >Lecture07->What is Shopify and How Does it Work [Shopify Explained] - 9 min</a>

          <a
                  href="https://www.youtube.com/watch?v=pqHNj1iPQ8Q"
                  class="list-group-item list-group-item-action"
          >Lecture07->Mistakes to Avoid When You Sell on Shopify | What not to do! - 5 min</a>

          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L08-CH03.2-Building An E-Commerce Presence-Site Management Tools.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture08->Building An E-Commerce Presence==>Site Management Tools.pptx</a
          >
          <a
                  href="https://www.youtube.com/watch?v=VAUO78heW1M"
                  class="list-group-item list-group-item-action"
          >Lecture08->Youtube Video:Ecommerce Tech Stack: The 9 Most Essential Tools You Need For E-Commerce Success! - 8 min</a>


          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L11-CH04-E-Commerce Security and Payment Systems-Challenges.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture09->E-Commerce Security and Payment Systems-Challenges.pptx</a
          >
          <a
                    href="https://www.bbc.co.uk/programmes/p0gn8q9h"
                    class="list-group-item list-group-item-action"
            >Lecture09->BBC news: Number Spoofing Scam (one Morning Live)</a
          >

         <a
                  href="https://www.bbc.co.uk/news/uk-wales-62442127"
                  class="list-group-item list-group-item-action"
          >Lecture09->BBC news: NHS 111 software outage confirmed as cyber-attack</a
          >
          <a
                  href="https://www.bbc.co.uk/news/technology-61323399"
                  class="list-group-item list-group-item-action"
          >Lecture09->BBC news: Screen-sharing scams on the rise, watchdog warns</a
          >
          <a
                  href="https://www.bbc.co.uk/news/business-61008730"
                  class="list-group-item list-group-item-action"
          >Lecture09->BBC news: The microchip implants that let you pay with your hand</a
          >
          <a
                  href="https://www.bbc.co.uk/news/science-environment-61336659"
                  class="list-group-item list-group-item-action"
          >Lecture09->BBC news:Cyber security: Global food supply chain at risk from malicious hackers</a
          >
          <a
                  href="https://www.bbc.co.uk/news/technology-61323402"
                  class="list-group-item list-group-item-action"
          >Lecture09->BBC news:President Rodrigo Chaves says Costa Rica is at war with Conti hackers</a
          >
          <a
                  href="https://www.youtube.com/watch?v=eyyogKy3tW0"
                  class="list-group-item list-group-item-action"
          >Lecture09->Youtube Video:Ransomware attacks, explained - 4:04 min</a
          >
          <a href="https://www.youtube.com/watch?v=G7H9uo3j5FQ&ab_channel=TheGuardian"
             class="list-group-item list-group-item-action "
          >Lecture09->Pegasus: the spyware technology that threatens democracy - 5:54 min
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L12-CH04-E-Commerce Security and Payment Systems-Solutions.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture10->E-Commerce Security and Payment Systems-Solutions.pptx</a
          >
          <a href="https://www.youtube.com/watch?v=TiE8zfdNga8&ab_channel=BloombergQuickTake"
             class="list-group-item list-group-item-action "
          >Lecture10->Hackers Are Capitalizing on the Coronavirus - 6:24 min
          </a>
          <a href="https://www.bbc.co.uk/news/technology-57881364"
             class="list-group-item list-group-item-action "
          >Lecture10->BBC News->Pegasus: Spyware sold to governments 'targets activists' - includes a video of 3:17 min
          </a>
          <a href="https://www.youtube.com/watch?v=FIlHu3YUBN4"
             class="list-group-item list-group-item-action "
          >Lecture10->Gary McKinnon | UK Computer Hacker Who Was Accused Of The Biggest US Military Hack Of All Time - 30 min
          </a>
          <a href="https://www.dataleaklawyers.co.uk/blog/yahoo-equifax-ceo-testify-largest-data-breaches-history"
             class="list-group-item list-group-item-action "
          >Lecture10->WannaCry: The Cyber Attack That Brought Down the NHS - 14 min
          </a>
          <a href="https://www.youtube.com/watch?v=PKHH_gvJ_hA"
             class="list-group-item list-group-item-action "
          >Lecture10->WannaCry: The World's Largest Ransomware Attack (Documentary) - 30 min
          </a>
          <a href="https://www.youtube.com/watch?v=KUKeZuIU74Y"
             class="list-group-item list-group-item-action "
          >Lecture10->NotPetya Attack - 15 min
          </a>
          <a href="https://cybersecurityventures.com/cybersecuritys-greatest-show-on-earth-kevin-mitnick/"
             class="list-group-item list-group-item-action "
          >Lecture10-> Cybersecurity’s Greatest Showman On Earth: Kevin Mitnick - Many videos available
          </a>

          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L09-CH02.1-E-Commerce Infrastructure-Internet.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture11->E-Commerce Infrastructure-Internet.pptx</a
          >
          <a
                  href="../administrator/templates/cccu_babsf_db_cr/L10-CH02.2-E-Commerce Infrastructure-Web.pptx"
                  class="list-group-item list-group-item-action list-group-item-success"
          >Lecture12->E-Commerce Infrastructure-Web.pptx</a
          >
          </div>
        </div>
      </div>
    </div>
  </div>
