<h1>Module: <strong>International Business</strong></h1>
<hr />
<h2>Module Leader: <strong>Mr. Anand Walser</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/uos_babsfy_ib/Introduction.ppt"
                  class="list-group-item list-group-item-action"
          >Introduction.ppt</a
          >
          <a
            href="../administrator/templates/uos_babsfy_ib/Culture Lecture Edited.ppt"
            class="list-group-item list-group-item-action"
            >Culture Lecture Edited.ppt</a
          >
          <a
            href="../administrator/templates/uos_babsfy_ib/Global Business Ethics.ppt"
            class="list-group-item list-group-item-action"
            >Global Business Ethics.ppt</a
          >
          <a
            href="../administrator/templates/uos_babsfy_ib/Global HRM Lecture.ppt"
            class="list-group-item list-group-item-action"
            >Global HRM Lecture.ppt</a
          >
          <a
            href="../administrator/templates/uos_babsfy_ib/GLOBALISATION.PPT"
            class="list-group-item list-group-item-action"
            >GLOBALISATION.PPT</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_ib/Int Operations Mgmt.ppt"
                  class="list-group-item list-group-item-action"
          >Int Operations Mgmt.ppt</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_ib/International Business  Strategies.ppt"
                  class="list-group-item list-group-item-action"
          >International Business  Strategies.ppt</a
          >
          <!--
          <div class="list-group-item bg-info text-white">
            Lecture 2
          </div>
          <a
            href="../administrator/templates/ine/lecture02/Case Study Work Force Planning British_Gas_14_full.pdf"
            class="list-group-item list-group-item-action"
            >Case Study Work Force Planning British_Gas_14_full.pdf</a
          >
          <a
            href="../administrator/templates/ine/lecture02/dessler_ch2.doc"
            class="list-group-item list-group-item-action"
            >dessler_ch2.doc</a
          >
          <a
            href="../administrator/templates/ine/lecture02/dessler_ch2Managing Equal Opportunity and Diversity.ppt"
            class="list-group-item list-group-item-action"
            >dessler_ch2Managing Equal Opportunity and Diversity.ppt</a
          >
          <a
            href="../administrator/templates/ine/lecture01/MOP_02.ppt"
            class="list-group-item list-group-item-action" 
            >MOP_02.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecturer 3
          </div>
          <a
            href="../administrator/templates/ine/lecture03/Case Study Work Force Planning enterprise_14_full.pdf"
            class="list-group-item list-group-item-action"
            >Case Study Work Force Planning enterprise_14_full.pdf</a
          >
          <a
            href="../administrator/templates/ine/lecture03/dessler_ch3Personnel Planning and Recruiting.ppt"
            class="list-group-item list-group-item-action"
            >dessler_ch3Personnel Planning and Recruiting.ppt</a
          >
          <a
            href="../administrator/templates/ine/lecture03/Job Analysis.ppt"
            class="list-group-item list-group-item-action"
            >Job Analysis.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 4
          </div>
          <a
            href="../administrator/templates/ine/lecture04/Case Study Recruitment and Selection scottishpower_14_full.pdf"
            class="list-group-item list-group-item-action"
            >Case Study Recruitment and Selection scottishpower_14_full.pdf</a
          >
          <a
            href="../administrator/templates/ine/lecture04/dessler_ch4Testing and Selecting Employees.ppt"
            class="list-group-item list-group-item-action"
            >dessler_ch4Testing and Selecting Employees.ppt</a
          >
          <a
                  href="../administrator/templates/ine/lecture04/dessler_ch6.doc"
                  class="list-group-item list-group-item-action"
          >dessler_ch6.doc</a
          >
          <a
                  href="../administrator/templates/ine/lecture04/dessler_ch7.doc"
                  class="list-group-item list-group-item-action"
          >dessler_ch7.doc</a
          >
          <a
                  href="../administrator/templates/ine/lecture04/Foot and Hook ch 6.ppt"
                  class="list-group-item list-group-item-action"
          >Foot and Hook ch 6.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 5
          </div>
          <a
            href="../administrator/templates/ine/lecture05/Case Study Training and Development forestrycommission_14_full.pdf"
            class="list-group-item list-group-item-action"
            >Case Study Training and Development forestrycommission_14_full.pdf</a
          >
          <a
            href="../administrator/templates/ine/lecture05/Case Study Training and Development Tesco_14_full.pdf"
            class="list-group-item list-group-item-action"
            >Case Study Training and Development Tesco_14_full.pdf</a
          >
          <a
            href="../administrator/templates/ine/lecture05/dessler_ch5Training and Developing Employees.ppt"
            class="list-group-item list-group-item-action"
            >dessler_ch5Training and Developing Employees.ppt</a
          >
          <a
                  href="../administrator/templates/ine/lecture05/dessler_ch8.doc"
                  class="list-group-item list-group-item-action"
          >dessler_ch8.doc</a
          >
          <a
                  href="../administrator/templates/ine/lecture05/gomez_mhr05_ppt_08.ppt"
                  class="list-group-item list-group-item-action"
          >gomez_mhr05_ppt_08.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 6
          </div>
          <a
            href="../administrator/templates/ine/lecture06/dessler_ch6Performance management and Appraisal.ppt"
            class="list-group-item list-group-item-action"
            >dessler_ch6Performance management and Appraisal.ppt</a
          >
          <a
            href="../administrator/templates/ine/lecture06/dessler_ch9.doc"
            class="list-group-item list-group-item-action"
            >dessler_ch9.doc</a
          >
          <a
                href="../administrator/templates/ine/lecture06/Foot and Hook ch 9.ppt"
                class="list-group-item list-group-item-action"
            >Foot and Hook ch 9.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 7
          </div>
          <a
            href="../administrator/templates/ine/lecture07/Case Study Motivation nda_14_full.pdf"
            class="list-group-item list-group-item-action"
            >Case Study Motivation nda_14_full.pdf</a
          >
          <a
                  href="../administrator/templates/ine/lecture07/dessler_ch7Compensating Employees.ppt"
                  class="list-group-item list-group-item-action"
          >dessler_ch7Compensating Employees.ppt</a
          ><a
                href="../administrator/templates/ine/lecture07/dessler_ch12.doc"
                class="list-group-item list-group-item-action"
          >dessler_ch12.doc</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 8
          </div>
          <a
            href="../administrator/templates/ine/lecture08/dessler_ch8Ethics and fair Treatment.ppt"
            class="list-group-item list-group-item-action"
            >dessler_ch8Ethics and fair Treatment.ppt</a
          >
          <a
                  href="../administrator/templates/ine/lecture08/dessler_ch14.doc"
                  class="list-group-item list-group-item-action"
          >dessler_ch14.doc</a
          >

          <div class="list-group-item bg-info text-white">
            Lecture 9
          </div>
          <a
                  href="../administrator/templates/ine/lecture09/dessler_ch9Managing Labour Relations.ppt"
                  class="list-group-item list-group-item-action"
          >dessler_ch9Managing Labour Relations.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 10
          </div>
          <a
                  href="../administrator/templates/ine/lecture10/dessler_ch17.doc"
                  class="list-group-item list-group-item-action"
          >dessler_ch17.doc</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 11
          </div>
          <a
                  href="../administrator/templates/ine/lecture11/Case Study Health and Safety Firstgroup_14_full.pdf"
                  class="list-group-item list-group-item-action"
          >Case Study Health and Safety Firstgroup_14_full.pdf</a
          >
          <a
                  href="../administrator/templates/ine/lecture11/dessler_ch16.doc"
                  class="list-group-item list-group-item-action"
          >dessler_ch16.doc</a
          ><div class="list-group-item bg-info text-white">
          Lecture 12
        </div>
          <a
                  href="../administrator/templates/ine/lecture12/gomez_mhr05_ppt_01.ppt"
                  class="list-group-item list-group-item-action"
          >gomez_mhr05_ppt_01.ppt</a
          >
          <a
                  href="../administrator/templates/ine/lecture12/M01_LEOP_4095_02_PPW_CH01.ppt"
                  class="list-group-item list-group-item-action"
          >M01_LEOP_4095_02_PPW_CH01.ppt</a
          >
          <div class="list-group-item bg-info text-white">
            Lecture 13
          </div>
        <a
                href="../administrator/templates/ine/lecture13/ch07 CAREER.ppt"
                class="list-group-item list-group-item-action"
        >ch07 CAREER.ppt</a
        >
        <a
                href="../administrator/templates/ine/lecture13/John Adair - Action-Centred Leadership.pptx"
                class="list-group-item list-group-item-action"
        >John Adair - Action-Centred Leadership.pptx</a
        >
        <a
                href="../administrator/templates/ine/lecture13/Team Building.pptx"
                class="list-group-item list-group-item-action"
        >Team Building.pptx</a
        >
          <div class="list-group-item bg-info text-white">
            NCD Program Documents
          </div>
          <a
                  href="../administrator/templates/ine/ncd_program_docs/Programme Handbook Rules  Regulations L4.pdf"
                  class="list-group-item list-group-item-action"
          >Programme Handbook Rules  Regualtions L4.pdf</a
          >
          <a
                  href="../administrator/templates/ine/ncd_program_docs/Programme Handbook Rules  Regualtions L5.pdf"
                  class="list-group-item list-group-item-action"
          >Programme Handbook Rules  Regualtions L5.pdf</a
          >
          <a
                  href="../administrator/templates/ine/ncd_program_docs/Programme Handbook Your Course L4.pdf"
                  class="list-group-item list-group-item-action"
          >Programme Handbook Your Course L4.pdf</a
          >
          <a
                  href="../administrator/templates/ine/ncd_program_docs/Programme Handbook Your Course L5.pdf"
                  class="list-group-item list-group-item-action"
          >Programme Handbook Your Course L5.pdf</a
          >
      </div>
      -->
      </div>
    </div>
  </div>
</div>
