<h1>Module: <strong>Contemporary Business Environment</strong></h1>
<hr />
<h2>Module Leader: <strong>Douglas Darkwah</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="../administrator/templates/uos_babsfy_cbe/Lecture_01_02._Economic_Systems_Demand_and_Supply.ppt"
            class="list-group-item list-group-item-action"
            >Lecture01->Economic_Systems_Demand_and_Supply
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_01_02._Economic_Systems_Demand_and_Supply.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture02->Economic_Systems_Demand_and_Supply
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_03_04._Markets_in_Action_Elasticities_Demand_Supply.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture03->Markets_in_Action_Elasticities_Demand_Supply
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_03_04._Markets_in_Action_Elasticities_Demand_Supply.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture04->Markets_in_Action_Elasticities_Demand_Supply
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_05_06._The_Supply_Decisions_Cost_Curves_Profit_Maximisation_.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture05->The_Supply_Decisions_Cost_Curves_Profit_Maximisation
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_05_06._The_Supply_Decisions_Cost_Curves_Profit_Maximisation_.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture06->The_Supply_Decisions_Cost_Curves_Profit_Maximisation
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_07_08_09._Market_Structures.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture07->Market_Structures
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_07_08_09._Market_Structures.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture08->Market_Structures
          </a><a
                href="../administrator/templates/uos_babsfy_cbe/Lecture_07_08_09._Market_Structures.ppt"
                class="list-group-item list-group-item-action"
        >Lecture09->Market_Structures
        </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_10_-_13._Macro_GDP_Inflation_Unemployment_AD_AS.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture10->Macro_GDP_Inflation_Unemployment_AD_AS
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_10_-_13._Macro_GDP_Inflation_Unemployment_AD_AS.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture11->Macro_GDP_Inflation_Unemployment_AD_AS
          </a><a
                href="../administrator/templates/uos_babsfy_cbe/Lecture_10_-_13._Macro_GDP_Inflation_Unemployment_AD_AS.ppt"
                class="list-group-item list-group-item-action"
        >Lecture12->Macro_GDP_Inflation_Unemployment_AD_AS
        </a><a
                href="../administrator/templates/uos_babsfy_cbe/Lecture_10_-_13._Macro_GDP_Inflation_Unemployment_AD_AS.ppt"
                class="list-group-item list-group-item-action"
        >Lecture13->Macro_GDP_Inflation_Unemployment_AD_AS
        </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Lecture_14._Money_Monetary_Policy.ppt"
                  class="list-group-item list-group-item-action"
          >Lecture14->Money_Monetary_Policy
          </a>
          <a
                  href="../administrator/templates/uos_babsfy_cbe/Output_and_Cost.pptx"
                  class="list-group-item list-group-item-action"
          >Lecture15->Output_and_Cost
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
