<h1>
  Module: <strong>Accounting for Business</strong>
</h1>
<hr />
<h2>Module Leader: <strong>S A Palan</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <a
            href="../administrator/templates/uos_babsfy_afb/Lecture 1.docx"
            class="list-group-item list-group-item-action"
            >Lecture01->NOTES
          </a>
          <div class="list-group">
          <a
                      href="../administrator/templates/uos_babsfy_afb/Lecture 2 .docx"
                      class="list-group-item list-group-item-action"
           >Lecture02->NOTES
          </a>
          </div>
          <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 3 notes.docx"
                        class="list-group-item list-group-item-action"
                >Lecture03->NOTES
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 4 notes.docx"
                        class="list-group-item list-group-item-action"
                >Lecture04->NOTES
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 5 notes.docx"
                        class="list-group-item list-group-item-action"
                >Lecture05->NOTES
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 6 notes.docx"
                        class="list-group-item list-group-item-action"
                >Lecture06->NOTES
                </a>
            </div>

            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 7 notes.docx"
                        class="list-group-item list-group-item-action"
                >Lecture07->NOTES
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture  notes on Investment Appraisal .pptx"
                        class="list-group-item list-group-item-action"
                >Lecture07->Lecture  notes on Investment Appraisal .pptx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture notes 7 - Discount  & Annuity Factor Table.docx"
                        class="list-group-item list-group-item-action"
                >Lecture07->Discount  & Annuity Factor Table.docx
                </a>
            </div>

            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 8 - CVP Analysis Questions .docx"
                        class="list-group-item list-group-item-action"
                >Lecture08->CVP Analysis Questions .docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 8 notes on Cost - Volume - Profit Analysis (MATHEMATICAL ANALYSIS) .pptx"
                        class="list-group-item list-group-item-action"
                >Lecture08->Cost - Volume - Profit Analysis (MATHEMATICAL ANALYSIS) .pptx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 9 - NOTES ON FINANCIAL PERFORMANCE copy.pptx"
                        class="list-group-item list-group-item-action"
                >Lecture09->NOTES ON FINANCIAL PERFORMANCE copy.pptx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Revision A.docx"
                        class="list-group-item list-group-item-action"
                >Revision A.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Revision A - Questions & Suggested Answers.docx"
                        class="list-group-item list-group-item-action"
                >Revision A - Questions & Suggested Answers.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/REVISION B.docx"
                        class="list-group-item list-group-item-action"
                >REVISION B.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/REVISION B - QUESTIONS & ANSWERS.docx"
                        class="list-group-item list-group-item-action"
                >REVISION B - QUESTIONS & ANSWERS.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/AFB MOCK EXAM.docx"
                        class="list-group-item list-group-item-action"
                >AFB MOCK EXAM.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/AFB MOCK EXAM WITH SUGGESTED ANSWERS.docx"
                        class="list-group-item list-group-item-action"
                >AFB MOCK EXAM WITH SUGGESTED ANSWERS.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/A Ltd Revision question & Suggested solutions.docx"
                        class="list-group-item list-group-item-action"
                >A Ltd Revision question & Suggested solutions.docx
                </a>
            </div>
            <!--
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 5 notes.docx"
                        class="list-group-item list-group-item-action"
                >Lecture05->NOTES.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Lecture 6 notes.docx"
                        class="list-group-item list-group-item-action"
                >Lecture06->NOTES.docx
                </a>
            </div>
            <div class="list-group">
            <a
                    href="../administrator/templates/uos_babsfy_afb/Lecture 7 notes on Cost - Volume - Profit Analysis (MATHEMATICAL ANALYSIS) .pptx"
                    class="list-group-item list-group-item-action"
            >Lecture 7 notes -> Cost - Volume - Profit Analysis (MATHEMATICAL ANALYSIS) .pptx
            </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/REVISION 1.docx"
                        class="list-group-item list-group-item-action"
                >REVISION 1.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/REVISION 1 - Questions & Answers.docx"
                        class="list-group-item list-group-item-action"
                >REVISION 1 - Questions & Answers.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/FINANCIAL PERFORMANCE copy.pptx"
                        class="list-group-item list-group-item-action"
                >FINANCIAL PERFORMANCE copy.pptx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/MOCK EXAM.docx"
                        class="list-group-item list-group-item-action"
                >MOCK EXAM.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Revision 2 - Questions & Answers.docx"
                        class="list-group-item list-group-item-action"
                >Revision 2 - Questions & Answers.docx
                </a>
            </div>
            <div class="list-group">
                <a
                        href="../administrator/templates/uos_babsfy_afb/Mock Exam - Questions & Suggested answers.docx"
                        class="list-group-item list-group-item-action"
                >Mock Exam - Questions & Suggested answers.docx
                </a>
            </div>
            -->
    </div>
  </div>
</div>
