<h1>Module: <strong>Study Skills for Higher Education</strong></h1>
<hr />
<h2>Module Leader: <strong>Sarah Gibbons</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Rationale
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        The module is meant to enable students to develop effective study, IT and communication skills which are essential for study
        at level 3 (this year) and to prepare them for level 4 and beyond through their chosen degree programme and future employment.
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
          >
            Aims
          </button>
        </h2>
      </div>
      <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          This module is designed to prepare and support students to study effectively for their foundation programme and produce coursework
          assessments that meet with University standards. It introduces students to a variety of study techniques, designed to help students
          from a wide range of backgrounds to work successfully through difficult material in lectures and textbooks. Students will learn about
          a number of important study skills including organising ideas, setting goals, taking notes, developing schedules and preparing for
          examinations. Students will learn the survival skills needed for a well-rounded University education.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
          >
            Learning Outcomes
          </button>
        </h2>
      </div>
      <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Upon successful completion of the module the students will be able to:
          </p>
          <ul>
            <li>LO1: Set short term and long range goals and to design an appropriate plan of study;</li>
            <li>LO2: Identify techniques for building comprehension and retention</li>
            <li>LO3: Acquire knowledge of learning strategies and techniques to improve memory retention and understanding how people learn;</li>
            <li>LO4: Use of library information and media services</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button
                  class="btn btn-primary btn-lg btn-block collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
          >
            Assessments Criteria
          </button>
        </h2>
      </div>
      <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
      >
        <div class="card-body">
          <table class="table">
            <tr>
              <td>Form of assessment</td>
              <td>Assessment size</td>
              <td>Weighting (%)</td>
              <td>Learning outcomes assessed</td>
              <td>Core or non-core</td>
            </tr>
            <tr>
              <td>Essay (Review of Article)</td>
              <td>1500 words</td>
              <td>50%</td>
              <td>LO1, LO2</td>
              <td>Core</td>
            </tr>
            <tr>
              <td>Individual Report</td>
              <td>1500 Words</td>
              <td>50%</td>
              <td>LO3, LO4</td>
              <td>Core</td>
            </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Main Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Week 1
          </div>
          <a
            href="../administrator/templates/uos_babsfy_sshe/SSHE week 1 - Study skills and learning styles.pdf"
            class="list-group-item list-group-item-action"
            >Study skills and learning styles - Week1.pdf</a>
          <div class="list-group-item bg-info text-white">
            Week 2
          </div>
          <a
            href="../administrator/templates/uos_babsfy_sshe/SSHE week 2 - Being a successful student and note taking methods.pdf"
            class="list-group-item list-group-item-action"
            >Being a successful student and note taking methods - Week2.pdf</a
          >
          <div class="list-group-item bg-info text-white">
            Week 3
          </div>
          <a
                  href="../administrator/templates/uos_babsfy_sshe/SSHE week 3 - Academic essays.pdf"
                  class="list-group-item list-group-item-action"
          >Academic Essays - Week3.pptx</a
          >

          <div class="list-group-item bg-info text-white">
            Week 4
          </div>
          <a
                  href="../administrator/templates/uos_babsfy_sshe/SSHE week 4 - Referencing and avoiding Plagiarism.pdf"
                  class="list-group-item list-group-item-action"
          >Referencing and avoiding Plagiarism-week4.pptx</a
          >
        </div>
        <div class="list-group-item bg-info text-white">
          Week 5
        </div>
        <a
                href="../administrator/templates/uos_babsfy_sshe/Academic_writing_week5.pdf"
                class="list-group-item list-group-item-action"
        >Academic writing week 5.pptx</a
        >
        <div class="list-group-item bg-info text-white">
          Week 6
        </div>
        <a
              href="../administrator/templates/uos_babsfy_sshe/Report_writing_week6.pptx"
              class="list-group-item list-group-item-action"
        >Report writing - week6.pptx</a
        >
        <div class="list-group-item bg-info text-white">
          Week 7
        </div>
        <a
            href="../administrator/templates/uos_babsfy_sshe/Reading_and_listening_skills_week7.pptx"
            class="list-group-item list-group-item-action"
        >Reading and listening skills - week7.pptx</a
        >
        <div class="list-group-item bg-info text-white">
          Week 8
        </div>
        <a
          href="../administrator/templates/uos_babsfy_sshe/CVs_and_interviews_week8.pptx"
          class="list-group-item list-group-item-action"
        >CVs and interviews - week 8.pptx</a
        >
      </div>
      </div>
    </div>
  </div>
</div>
