<h1>Module: <strong>Human Resource Management</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Rajendra Kumar</strong></h2>
<hr />

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="heading1">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-1"
          aria-expanded="true"
          aria-controls="lecture-1"
        >
          Lecture 1 - Introduction to HRM
        </button>
      </h2>
    </div>
    <div id="lecture-1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-1-introduction-to-hrm/hrm.ppt">HRM</a></li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-1-introduction-to-hrm/hr-models.ppt">HR models</a>
          </li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-1-introduction-to-hrm/hrma.ppt">HRMA</a></li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-1-introduction-to-hrm/strategic-role-of-hr.ppt">Strategic role of HR</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading2">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-2"
          aria-expanded="false"
          aria-controls="lecture-2"
        >
          Lecture 2 - HRM PM SHRM
        </button>
      </h2>
    </div>
    <div id="lecture-2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/shrm-1.jpg">SHRM 1</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/shrm-2.ppt">SHRM 2</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/shrm-3.ppt">SHRM 3</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/shrm-4.ppt">SHRM 4</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/shrm-5.ppt">SHRM 5</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/shrm-6.ppt">SHRM 6</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/shrm-7.ppt">SHRM 7</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-pm-1.ppt">HR PM 1</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-pm-2.pptx">HR PM 2</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-pm-3.pptx">HR PM 3</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-pm-4.jpg">HR PM 4</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-pm-5.pdf">HR PM 5</a></li>
          <li class="list-group-item"><a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-pm-6.ppt">HR PM 6</a></li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-strategies-1.pdf">HR Strategies 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-strategies-2.ppt">HR Strategies 2</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-strategies-3.ppt">HR Strategies 3</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-2-hrm-pm-shrm/hr-strategies-4.ppt">HR Strategies 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading3">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-3"
          aria-expanded="false"
          aria-controls="lecture-3"
        >
          Lecture 3 - Job Analysis Job design and HR planning
        </button>
      </h2>
    </div>
    <div id="lecture-3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/job-analysis-1.ppt">Job Analysis</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/job-design-and-smart-working-1.jpg"
              >Job Design and Smart Working 1</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/job-design-and-smart-working-2.jpg"
              >Job Design and Smart Working 2</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/job-design-and-smart-working-3.ppt"
              >Job Design and Smart Working 3</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/hr-planning-1.jpg">HR Planning 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/hr-planning-2.ppt">HR Planning 2</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/hr-planning-3.ppt">HR Planning 3</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/hr-planning-4.ppt">HR Planning 4</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-3-job-analysis-job-design-hr-planning/hr-planning-5.ppt">HR Planning 5</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading4">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-4"
          aria-expanded="false"
          aria-controls="lecture-4"
        >
          Lecture 4 - Recruitment and Selection
        </button>
      </h2>
    </div>
    <div id="lecture-4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-4-recruitment-selection/selection-1.jpg">Selection 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-4-recruitment-selection/selection-2.ppt">Selection 2</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-4-recruitment-selection/recruitment-1.ppt">Recruitment 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-4-recruitment-selection/recruitment-selection-1.jpg"
              >Recruitment Selection 1</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-4-recruitment-selection/recruitment-selection-2.jpg"
              >Recruitment Selection 2</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading5">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-5"
          aria-expanded="false"
          aria-controls="lecture-5"
        >
          Lecture 5 - Managing Diversity, Ethics and International HR
        </button>
      </h2>
    </div>
    <div id="lecture-5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-5-managing-diversity-ethics-international-hr/international-hr-1.ppt"
              >International HR 1</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-5-managing-diversity-ethics-international-hr/international-hr-2.jpg"
              >International HR 2</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-5-managing-diversity-ethics-international-hr/ethics-1.ppt">Ethics 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-5-managing-diversity-ethics-international-hr/ethics-2.ppt">Ethics 2</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-5-managing-diversity-ethics-international-hr/managing-diversity-1.ppt"
              >Managing Diversity 1</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading6">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-6"
          aria-expanded="false"
          aria-controls="lecture-6"
        >
          Lecture 6 - HRM and Culture
        </button>
      </h2>
    </div>
    <div id="lecture-6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-6-hrm-and-culture/hrm-and-culture-1.pdf">HRM and Culture 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-6-hrm-and-culture/hrm-and-culture-2.ppt">HRM and Culture 2</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-6-hrm-and-culture/Lect 6.ppt">Lect 6.ppt</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading7">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-7"
          aria-expanded="false"
          aria-controls="lecture-7"
        >
          Lecture 7 - Performance Appraisal
        </button>
      </h2>
    </div>
    <div id="lecture-7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-7-performance-appraisal/performance-appraisal-1.ppt"
              >Performance Appraisal 1</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-7-performance-appraisal/performance-appraisal-2.ppt"
              >Performance Appraisal 2</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-7-performance-appraisal/performance-appraisal-3.ppt"
              >Performance Appraisal 3</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-7-performance-appraisal/performance-appraisal-4.ppt"
              >Performance Appraisal 4</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading8">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-8"
          aria-expanded="false"
          aria-controls="lecture-8"
        >
          Lecture 8 - Training Reward Management
        </button>
      </h2>
    </div>
    <div id="lecture-8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-8-training-reward-management/reward-management-1.ppt">Reward Management 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-8-training-reward-management/reward-management-2.ppt">Reward Management 2</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-8-training-reward-management/training-1.ppt">Training 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-8-training-reward-management/training-2.ppt">Training 2</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-8-training-reward-management/training-3.ppt">Training 3</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-8-training-reward-management/training-4.ppt">Training 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading9">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-9"
          aria-expanded="false"
          aria-controls="lecture-9"
        >
          Lecture 9 - Health Safety Career Planning and Development
        </button>
      </h2>
    </div>
    <div id="lecture-9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a
              href="../administrator/templates/uos_babsfy_hrm/lecture-9-health-safety-career-planning-development/health-safety-career-planning-development-1.jpg"
              >Health Safety Career Planning Development 1</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="../administrator/templates/uos_babsfy_hrm/lecture-9-health-safety-career-planning-development/health-safety-career-planning-development-2.jpg"
              >Health Safety Career Planning Development 2</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="../administrator/templates/uos_babsfy_hrm/lecture-9-health-safety-career-planning-development/occupational-health-and-safety-1.ppt"
              >Occupational Health and Safety 1</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="../administrator/templates/uos_babsfy_hrm/lecture-9-health-safety-career-planning-development/occupational-health-and-safety-2.ppt"
              >Occupational Health and Safety 2</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-9-health-safety-career-planning-development/career-development-1.ppt"
              >Career Development 1</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-9-health-safety-career-planning-development/career-development-2.ppt"
              >Career Development 2</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading10">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-10"
          aria-expanded="false"
          aria-controls="lecture-10"
        >
          Lecture 10 - Global Human Resource
        </button>
      </h2>
    </div>
    <div id="lecture-10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-10-global-human-resources/global-human-resources-1.ppt"
              >Global Human Resources 1</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-10-global-human-resources/global-human-resources-2.pdf"
              >Global Human Resources 2</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-10-global-human-resources/global-human-resources-3.ppt"
              >Global Human Resources 3</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-10-global-human-resources/global-human-resources-4.jpg"
              >Global Human Resources 4</a
            >
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/lecture-10-global-human-resources/global-human-resources-5.ppt"
              >Global Human Resources 5</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading11">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#lecture-11"
          aria-expanded="false"
          aria-controls="lecture-11"
        >
          HRM Gary Dessler
        </button>
      </h2>
    </div>
    <div id="lecture-11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_01.ppt">HRM Gary Dessler Lecture 1</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_02.ppt">HRM Gary Dessler Lecture 2</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_03.ppt">HRM Gary Dessler Lecture 3</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_04.ppt">HRM Gary Dessler Lecture 4</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_05.ppt">HRM Gary Dessler Lecture 5</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_06.ppt">HRM Gary Dessler Lecture 6</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_07.ppt">HRM Gary Dessler Lecture 7</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_08.ppt">HRM Gary Dessler Lecture 8</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_09.ppt">HRM Gary Dessler Lecture 9</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_10.ppt">HRM Gary Dessler Lecture 10</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_11.ppt">HRM Gary Dessler Lecture 11</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_12.ppt">HRM Gary Dessler Lecture 12</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_13.ppt">HRM Gary Dessler Lecture 13</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_14.ppt">HRM Gary Dessler Lecture 14</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_15.ppt">HRM Gary Dessler Lecture 15</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_16.ppt">HRM Gary Dessler Lecture 16</a>
          </li>
          <li class="list-group-item">
            <a href="../administrator/templates/uos_babsfy_hrm/hrm-gary-dessler/dessler_17.ppt">HRM Gary Dessler Lecture 17</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
