<h1>Module: <strong>Business Decision Making</strong></h1>
<hr />
<h2>Module Leader: <strong>Indunil Dona/Douglas Darkwah</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Rationale
        </button>
      </h2>
    </div>

    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Supplementary Study Materials
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
            Week 1, 2 and 3
          </div>
          <a
            href="../administrator/templates/uos_babsfy_bdm/Week 1, 2 and 3 Decision_Making_Theories.pptx"
            class="list-group-item list-group-item-action"
            >Decision Making Theories</a
          >
          <a
            href="../administrator/templates/uos_babsfy_bdm/Practice sheet Main payback-NPV-IRR.docx"
            class="list-group-item list-group-item-action"
            >Practice Sheet</a
          >
          <div class="list-group-item bg-info text-white">
            Week 4
          </div>
          <a
                  href="../administrator/templates/uos_babsfy_bdm/Week 4 Sampling_Techniques.pptx"
                  class="list-group-item list-group-item-action"
          >Sampling_Techniques.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 5
          </div>
          <a
                  href="../administrator/templates/uos_babsfy_bdm/Week 5 Data_Presentation.pptx"
                  class="list-group-item list-group-item-action"
          >Week 5 Data_Presentation.pptx</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_bdm/Week 5 Practice_Sheet_-_Data_Presentation.docx"
                  class="list-group-item list-group-item-action"
          >Practice_Sheet_-_Data_Presentation.docx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 6
          </div>
          <a
                  href="../administrator/templates/uos_babsfy_bdm/Week 6 Descriptive_Statistics-edit (2).pptx"
                  class="list-group-item list-group-item-action"
          >Descriptive_Statistics</a
          >
          <a
                  href="../administrator/templates/uos_babsfy_bdm/Week 6 Practice_Sheet_-_Descriptive_Statistics.docx"
                  class="list-group-item list-group-item-action"
          >Practice_Sheet_-_Descriptive_Statistics.docx</a
          >
          <div class="list-group-item bg-info text-white">
          Week 7
        </div>
          <a
                  href="../administrator/templates/uos_babsfy_bdm/Week 7 Forecasting_New.pptx"
                  class="list-group-item list-group-item-action"
          >Week 7 Forecasting_New.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 8
          </div>
          <a
                  href="../administrator/templates/uos_babsfy_bdm/Week 8 Index_Numbers_-_Price_Index.pptx"
                  class="list-group-item list-group-item-action"
          >Index_Numbers Price_Index.pptx</a
          >
          <div class="list-group-item bg-info text-white">
            Week 9
          </div>
          <a
                  href="../administrator/templates/uos_babsfy_bdm/Week 9 Probability.pptx"
                  class="list-group-item list-group-item-action"
          >Probability.pptx</a
          >

        </div>
      </div>
    </div>
  </div>
</div>
