<h1>Module: <strong>Business Law and Ethics</strong></h1>
<hr />
<h2>Module Leader: <strong>Dr. Roshan De Silva</strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item bg-info text-white">
          Week 1 & 2
          </div>
          <a
            href="../administrator/templates/uos_babsfy_ble/lecture1/Week 1 Intro to English Legal System (2).pptx"
            class="list-group-item list-group-item-action"
            >Week 1 - English Legal System.pptx</a>
            <a
                    href="../administrator/templates/uos_babsfy_ble/lecture2/Week 1 - Example of a Bill before Parliament.pdf"
                    class="list-group-item list-group-item-action"
            >Week 1 - Example of a Bill before Parliament.pdf</a>
            <a
                    href="https://uk.practicallaw.thomsonreuters.com/5-636-2498?transitionType=Default&contextData=(sc.Default)&firstPage=true"
                    class="list-group-item list-group-item-action"
            >Week 1 - Look at this link to better understand the process of law making in the UK</a>
        </div>
         <div class="list-group">
            <div class="list-group-item bg-info text-white">
                  Week 2 & 3
              </div>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture3/Week 2 and 3 Introduction to UK Company Law.pptm"
                      class="list-group-item list-group-item-action"
              >Week 2 and 3 Introduction to UK Company Law.pptm</a>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture3/Week 3 guide-legal-forms-for-companies.pdf"
                      class="list-group-item list-group-item-action"
              >Week 2 and 3 The different types of company in the UK</a>
         </div>

          <div class="list-group">
              <div class="list-group-item bg-info text-white">
                  Week 4 & 5
              </div>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture4/Weeks 4 -5 Employment Law in UK.pptx"
                      class="list-group-item list-group-item-action"
              >Weeks 4 -5 Employment Law in UK.pptx</a>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture5/Week 5 and 6 Employment_Law_History (1).pdf"
                      class="list-group-item list-group-item-action"
              >Weeks 4 -5 Employment Law History.pdf</a>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture5/Assignment 1 Answer Guide.docx"
                      class="list-group-item list-group-item-action"
              >Assessment One Answer Guidelines</a>
          </div>
          <div class="list-group">
              <div class="list-group-item bg-info text-white">
                  Week 6 & 7
              </div>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture6/Week 6-7 Introduction to UK Corporate Governance Principles.pptx"
                      class="list-group-item list-group-item-action"
              >Week 6-7 Corporate Governance in the UK</a>
              <a
                      href="https://www.ecgi.global/content/corporate-governance-united-kingdom"
                      class="list-group-item list-group-item-action"
              >Use this link to look at Corporate Governance in the UK</a>
              <a
                      href="https://www.icaew.com/technical/corporate-governance/codes-and-reports/cadbury-report"
                      class="list-group-item list-group-item-action"
              >Use this link to look at the Cadbury Report that first established a corporate governance framework in the UK</a>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture6/UK Corporate Governance Code_sept2014_en.pdf"
                      class="list-group-item list-group-item-action"
              >UK Corporate Governance Code</a>
          </div>
          <div class="list-group">
              <div class="list-group-item bg-info text-white">
                  Week 8 & 9
              </div>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture8/Weeks 8-9 Ethics and Corporate Social Responsibility Slides.pdf"
                      class="list-group-item list-group-item-action"
              >Slides on the Global Context of Corporate Governance/Responsibility</a>
              <a
                      href="https://www.youtube.com/watch?v=Y888wVY5hzw"
                      class="list-group-item list-group-item-action"
              >Corporate Governance in the Global Context. You need to look at and make notes on the pros and cons of how the corporation presents itself as a legal entity.
               This video is part of the material you need to view in order to undertake your second assessment.
              </a>

          </div>

          <div class="list-group">
              <div class="list-group-item bg-info text-white">
                  Week 10
              </div>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture10/Assessment Two Answer Guide.docx"
                      class="list-group-item list-group-item-action"
              >Week 10 - Assessment Two Answer Guidelines</a>
              <a
                      href="../administrator/templates/uos_babsfy_ble/lecture10/Philip Stern The East India Company as a Model for the Multi National Corporation.pdf"
                      class="list-group-item list-group-item-action"
              >Read Phillip Stern's Article in Order to Understand the Links between the British East India Company and the Modern Multinational Corporation</a>
              <a
                      href="https://www.youtube.com/watch?v=gPcHjF8RmYY"
                      class="list-group-item list-group-item-action"
              >This is the link to the second documentary - The New Corporation: The Unfortunately Necessary Sequel (2020)
              </a>
          </div>
    </div>
    </div>
  </div>
</div>
</div>
