<h1>Module: <strong>Contemporary Management Issues</strong></h1>
<hr/>
<h2>Module Leader: <strong>Mervyn Sookun</strong></h2>
<hr/>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button
                        class="btn btn-primary btn-lg btn-block collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                >
                    Supplementary Study Materials
                </button>
            </h2>
        </div>
        <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-parent="#accordionExample"
        >
            <div class="card-body">
                <div class="list-group">
                    <a
                            href="../administrator/templates/cccu_babsy3_cmi/GabrielandCarr-Psychoanalysis_1_.pdf"
                            class="list-group-item list-group-item-action"
                    >GabrielandCarr-Psychoanalysis_1_.pdf
                    </a>
                    <a
                            href="../administrator/templates/cccu_babsy3_cmi/Leadership_Theory_and_Practice-Northhouse.pdf"
                            class="list-group-item list-group-item-action"
                    >Leadership_Theory_and_Practice-Northhouse.pdf</a
                    >
                    <a
                            href="../administrator/templates/cccu_babsy3_cmi/Management_by_Chaos_Theory_with_a_Case-Study_from_1_.pdf"
                            class="list-group-item list-group-item-action"
                    >Management_by_Chaos_Theory_with_a_Case-Study_from_1_.pdf</a
                    >
                    <a
                            href="../administrator/templates/cccu_babsy3_cmi/Managing_Artificial_Intelligence_Technology_for_Ad_1_.pdf"
                            class="list-group-item list-group-item-action"
                    >Managing_Artificial_Intelligence_Technology_for_Ad_1_.pdf</a
                    >
                    <a
                            href="../administrator/templates/cccu_babsy3_cmi/Organisational_structure.pdf"
                            class="list-group-item list-group-item-action"
                    >Organisational_structure.pdf</a
                    >
                    <a
                            href="../administrator/templates/cccu_babsy3_cmi/The-Application-of-Chaos-Management-Theories-in-Organization.pdf"
                            class="list-group-item list-group-item-action"
                    >The-Application-of-Chaos-Management-Theories-in-Organization.pdf</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
