<h1>Module: <strong>Case Study Analysis</strong></h1>
<hr />
<h2>Module Leader: <strong>Mr. Michael Nii Laryeafio </strong></h2>
<hr />
<div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-primary btn-lg btn-block collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Study Materials Folder
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#accordionExample"
    ><!--
      <div class="card-body">
        <div class="list-group">
          <a
                  href="../administrator/templates/uos_babsfy_csa/Bitcoin in El Salvador.PDF"
                  class="list-group-item list-group-item-action"
          >Bitcoin in El Salvador.PDF</a
          >
      </div>
      <div class="list-group">
         <a
                      href="../administrator/templates/uos_babsfy_csa/Navya.PDF"
                      class="list-group-item list-group-item-action"
              >Navya.PDF</a>
      </div>
      <div class="list-group">
              <a
                      href="../administrator/templates/uos_babsfy_csa/Uptown Bank.PDF"
                      class="list-group-item list-group-item-action"
              >Uptown Bank.PDF</a>
      </div>
    </div>
    -->
  </div>
</div>
</div>